@media (max-width: 960px) {
  .comparison {
    margin-bottom: 40px;
    &__container {
      .comparison__header {
        gap: 30px;
        margin-bottom: 15px;

        .comparison__buttons {
        }
      }

      .comparison__body {
        .table {
          .tr {
            .tf,
            .tc,
            .th,
            .td {
              width: 300px;
              min-width: 300px;
            }

            .tf {
              h3 {
              }

              .filters-tabs {
              }
            }

            .tc {
              img {
                height: 230px;
              }
            }

            .th {
              p {
              }
            }

            .td {
              p {
              }
            }

            .th,
            .tf {
            }
          }
        }
      }
    }
  }
}
