@import '../_vars.scss';
@import '../_mixin.scss';

.history {
  margin-bottom: 100px;

  &__container {
    @include container;

    h1 {
      @include title2;
      margin-bottom: 30px;
    }

    .history__list {
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 32px;
      position: relative;

      li {
        position: relative;
        z-index: 1;
        list-style: none;
        display: flex;
        gap: 16px;

        .history__card {
          width: calc(50% - 25px - 16px);
          background-color: $primary-background;
          border-radius: 10px;
          padding: 24px;
          filter: drop-shadow(0 2px 5px #0000004d);
          position: relative;

          h3 {
            font-size: $font-size-h3;
            font-weight: $font-weight-medium;
            margin-bottom: 12px;
          }

          p {
            font-size: $font-size-text;
          }

          &::before {
            content: '';
            display: none;
            position: absolute;
            top: 5px;
            left: -35px;
            border: 20px solid transparent;
            border-right: 20px solid $primary-background;
          }

          &::after {
            content: '';
            position: absolute;
            top: 5px;
            right: -33px;
            border: 20px solid transparent;
            border-left: 20px solid $primary-background;
          }
        }

        .history__decor {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: $actions-background-secondary;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            path {
              fill: $primary-background;
            }
          }
        }

        &:nth-child(2n + 1) {
          flex-direction: row-reverse;

          .history__card {
            &::before {
              display: block;
            }
            &::after {
              display: none;
            }
          }
        }
      }

      &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 2px;
        background-color: #d8d8d8;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
