@import '../_vars.scss';
@import '../_mixin.scss';

.FAQ {
  margin-bottom: 100px;

  &__container {
    @include container;

    h1 {
      @include title2;
      margin-bottom: 30px;
    }

    .FAQ__links {
      margin-bottom: 60px;

      ul {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        padding: 0;

        li {
          list-style: none;
          a {
            @include base-tab;
            display: block;
          }

          .filter--active {
            color: $button-tag-text-active;
            border-color: $button-tag-border-active;
            background-color: $button-tag-background-active;
          }
        }
      }
    }

    .FAQ__content {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .accordion {
        overflow: hidden;
        background-color: $primary-background;
        border-radius: 10px;
        transition: background-color 0.3s ease-in-out;

        .accordion__button {
          padding: 30px 60px;
          color: $actions-text;
          font-size: $font-size-text;
          font-weight: $font-weight-medium;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 30px;
          width: 100%;
          transition: color 0.3s ease-in-out;
          text-align: start;

          svg {
            min-width: 7px;
            transition: transform 0.3s ease-in-out;

            path {
              transition: fill 0.3s ease-in-out;
            }
          }
        }

        .accordion__content {
          height: 0;
          transition: height 0.3s ease-in-out;

          .accordion__wrap {
            padding: 40px 60px;
            border-top: 1px solid $primary-background;

            p {
              color: $button-tag-text-active;
              font-size: $font-size-text;
              font-weight: $font-weight-medium;
            }
          }
        }

        &--active {
          background-color: #b1a489;

          .accordion__button {
            color: $button-tag-text-active;
            text-transform: uppercase;

            svg {
              transform: rotate(180deg);

              path {
                fill: $button-tag-text-active;
              }
            }
          }
        }
      }
    }
  }
}
