@import "../_vars.scss";
@import "../_mixin.scss";

.FAQ {
  margin-bottom: 100px;

  &__container {
    @include container;

    h1 {
      @include title2;
      margin-bottom: 30px;
    }

    .FAQ__links {
      margin-bottom: 60px;

      ul {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        padding: 0;

        li {
          list-style: none;
          a {
            @include base-tab;
            display: block;
          }

          .filter--active {
            color: $button-tag-text-active;
            border-color: $button-tag-border-active;
            background-color: $button-tag-background-active;
          }
        }
      }
    }

    .FAQ__content {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .accordion {
        overflow: hidden;
        background-color: $primary-background;
        border-radius: 10px;
        transition: background-color 0.3s ease-in-out;

        .accordion__button {
          padding: 30px 60px;
          color: $actions-text;
          font-size: $font-size-text;
          font-weight: $font-weight-medium;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 30px;
          width: 100%;
          transition: color 0.3s ease-in-out;
          text-align: start;

          svg {
            min-width: 7px;
            transition: transform 0.3s ease-in-out;

            path {
              transition: fill 0.3s ease-in-out;
            }
          }
        }

        .accordion__content {
          height: 0;
          transition: height 0.3s ease-in-out;

          .accordion__wrap {
            padding: 40px 60px;
            border-top: 1px solid $primary-background;

            p {
              color: $button-tag-text-active;
              font-size: $font-size-text;
              font-weight: $font-weight-medium;
            }
          }
        }

        &--active {
          background-color: #b1a489;

          .accordion__button {
            color: $button-tag-text-active;
            text-transform: uppercase;

            svg {
              transform: rotate(180deg);

              path {
                fill: $button-tag-text-active;
              }
            }
          }
        }
      }
    }
  }
}

.contactForm {
  background-color: $secondary-background;
  padding: 100px 0;

  &__container {
    @include container;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;

    .contactForm__info {
      display: flex;
      flex-direction: column;
      gap: 40px;

      h2 {
        @include title2;
        color: $primary-title;
      }

      p {
        font-size: $font-size-text;
        color: $primary-title;
      }

      .personal {
        display: flex;
        gap: 30px;

        img {
          border-radius: 50%;
          width: 100px;
          height: 100px;
          min-width: 100px;
          object-fit: cover;
          background-color: #fff;
        }

        &__wrap {
          h4 {
            font-size: $font-size-text;
            color: $primary-title;
            font-weight: $font-weight-medium;
            margin-bottom: 4px;
          }

          h5 {
            font-size: 18px;
            color: $primary-title;
            font-weight: $font-weight-regular;
            margin-bottom: 20px;
          }

          p {
            font-size: $font-size-link;
            font-weight: $font-weight-regular;
          }
        }
      }
    }

    form {
      .form-table {
        width: 100%;
        .input {
          @include base-input;
          width: 100%;
          margin-bottom: 12px;
        }

        .form__required {
          display: flex;
          gap: 25px;
          align-items: center;
          margin-bottom: 30px;

          .checkbox {
            @include base-checkbox;
          }

          p {
            font-size: $font-size-link;
            color: $link-text-primary;
            font-weight: $font-weight-regular;

            a {
              @include link-base;
              font-size: $font-size-link;
              font-weight: $font-weight-regular;
            }
          }
        }

        input[type="submit"] {
          @include base-button;
        }
      }

      tfoot {
        th {
          text-align: start;
        }
      }
    }
  }

  img {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
  }
}
