@media (max-width: 580px) {
  .FAQ {
    margin-bottom: 30px;

    &__container {
      h1 {
        margin-bottom: 18px;
      }

      .FAQ__links {
        ul {
          li {
            a {
            }
          }
        }
      }

      .FAQ__content {
        .accordion {
          .accordion__button {
            padding: 15px 20px;
          }

          .accordion__content {
            .accordion__wrap {
              padding: 15px 20px;

              p {
              }
            }
          }
        }
      }
    }
  }
}
