@media (max-width: 1760px) {
  .FAQ {
    margin-bottom: 60px;

    &__container {
      h1 {
        margin-bottom: 30px;
      }

      .FAQ__links {
        margin-bottom: 40px;

        ul {
          li {
            a {
            }
          }
        }
      }

      .FAQ__content {
        .accordion {
          .accordion__button {
            padding: 20px 40px;
          }

          .accordion__content {
            .accordion__wrap {
              padding: 20px 40px;

              p {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1360px) {
}
