@media (max-width: 960px) {
  .FAQ {
    margin-bottom: 40px;

    &__container {
      h1 {
        margin-bottom: 24px;
      }

      .FAQ__links {
        margin-bottom: 30px;

        ul {
          li {
            a {
            }
          }
        }
      }

      .FAQ__content {
        .accordion {
          .accordion__button {
            padding: 15px 30px;
          }

          .accordion__content {
            .accordion__wrap {
              padding: 15px 30px;

              p {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
