@import '../_vars.scss';
@import '../_mixin.scss';

.contacts {
  margin-bottom: 100px;
  &__container {
    @include container;

    h1 {
      @include title2;
      margin-bottom: 60px;
    }

    .contacts__wrap {
      display: grid;
      gap: 20px;
      grid-template-columns: 500px minmax(50%, 100%);
      margin-bottom: 20px;

      .contacts__cards {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .card {
          border-radius: 15px;
          padding: 45px 60px;
          background-color: $actions-background-secondary;

          h3 {
            font-size: 26px;
            font-weight: $font-weight-medium;
            margin-bottom: 25px;
            color: $primary-title;
          }

          p {
            font-size: $font-size-text;
            font-weight: $font-weight-regular;
            color: $primary-title;
          }

          &:nth-child(n + 3) {
            background-color: $primary-background;
            border: 1px solid #0000001c;

            h3,
            p {
              color: $primary-text;
            }
          }
        }

        // width: 500px;
      }

      #map {
        border-radius: 15px;
        overflow: hidden;

        ymaps {
          -webkit-filter: grayscale(100%);
        }
      }
    }

    .contacts__slider {
      margin-bottom: 20px;

      .slick-list {
      }

      .contacts__slide {
        height: 620px;
        border-radius: 15px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .contacts__info {
      padding: 45px 60px;
      background-color: $primary-background;
      border: 1px solid #0000001c;
      border-radius: 15px;

      h2 {
        font-size: 26px;
        font-weight: $font-weight-medium;
        color: $actions-text;
        margin-bottom: 25px;
      }

      .contacts__content {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        p {
          min-width: 300px;
        }
      }
    }
  }
}

.ymaps-layers-pane {
  -webkit-filter: grayscale(100%);
}
