@import '../_vars.scss';
@import '../_mixin.scss';

.contacts {
  margin-bottom: 100px;
  &__container {
    @include container;

    h1 {
      @include title2;
      margin-bottom: 60px;
    }

    .contacts__wrap {
      display: grid;
      gap: 20px;
      grid-template-columns: 500px minmax(50%, 100%);
      margin-bottom: 20px;

      .contacts__cards {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .card {
          border-radius: 15px;
          padding: 45px 60px;
          background-color: $actions-background-secondary;

          h3 {
            font-size: 26px;
            font-weight: $font-weight-medium;
            margin-bottom: 25px;
            color: $primary-title;
          }

          p {
            font-size: $font-size-text;
            font-weight: $font-weight-regular;
            color: $primary-title;
          }

          &:nth-child(n + 3) {
            background-color: $primary-background;
            border: 1px solid #0000001c;

            h3,
            p {
              color: $primary-text;
            }
          }
        }

        // width: 500px;
      }

      #map {
        border-radius: 15px;
        overflow: hidden;

        ymaps {
          -webkit-filter: grayscale(100%);
        }
      }
    }

    .contacts__slider {
      margin-bottom: 20px;

      .slick-list {
      }

      .contacts__slide {
        height: 620px;
        border-radius: 15px;
        overflow: hidden;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .contacts__info {
      padding: 45px 60px;
      background-color: $primary-background;
      border: 1px solid #0000001c;
      border-radius: 15px;

      h2 {
        font-size: 26px;
        font-weight: $font-weight-medium;
        color: $actions-text;
        margin-bottom: 25px;
      }

      .contacts__content {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        p {
          min-width: 300px;
        }
      }
    }
  }
}

.ymaps-layers-pane {
  -webkit-filter: grayscale(100%);
}

.social {
  margin-bottom: 100px;

  &__container {
    @include container;

    .social__info {
      margin-bottom: 40px;

      h2 {
        @include title2;
      }
    }

    .social__content {
      background-color: #1e1e1e;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      .telegram {
        padding-top: 50px;
        padding-bottom: 30px;
        max-width: 360px;

        a {
          color: #62b0e9;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: #1c93e3;
          }
        }

        &__header {
          display: flex;
          align-items: center;
          gap: 18px;
          margin-bottom: 12px;

          img {
            width: 75px;
            height: 75px;
            border-radius: 50%;
          }

          .telegram__name {
            h3 {
              color: #fefefe;
              width: 100%;
              font-size: 18px;
              font-weight: $font-weight-medium;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }

        &__content {
          p {
            color: #fefefe;
            line-height: 150%;
            margin-bottom: 20px;
          }

          button {
            width: 100%;
            color: #fefefe;
            background-color: #1c93e3;
            padding: 10px 15px;
            border-radius: 5px;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: $font-weight-bold;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;

            &:hover {
              background-color: #62b0e9;
            }
          }
        }
      }
    }
  }
}

.contactForm {
  background-color: $secondary-background;
  padding: 100px 0;

  &__container {
    @include container;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    .contactForm__info {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 40px;

      h2 {
        @include title2;
        color: $primary-title;
      }

      p {
        font-size: $font-size-text;
        color: $primary-title;
      }

      .personal {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        img {
          border-radius: 50%;
          width: 165px;
          height: 165px;
          object-fit: cover;
          background-color: #fff;
        }

        &__wrap {
          display: flex;
          flex-direction: column;
          text-align: center;

          h4 {
            font-size: $font-size-text;
            color: $primary-title;
            font-weight: $font-weight-medium;
            margin-bottom: 4px;
          }

          h5 {
            font-size: 18px;
            color: $primary-title;
            font-weight: $font-weight-regular;
            margin-bottom: 20px;
          }

          p {
            font-size: $font-size-link;
            font-weight: $font-weight-regular;
          }
        }
      }
    }

    form {
      .form-table {
        width: 100%;
        .input {
          margin-bottom: 12px;
        }

        textarea {
          margin-bottom: 12px;
        }

        .form__required {
          display: flex;
          gap: 25px;
          align-items: center;
          margin-bottom: 30px;

          .checkbox {
            @include base-checkbox;
          }

          p {
            font-size: $font-size-link;
            color: $link-text-primary;
            font-weight: $font-weight-regular;

            a {
              @include link-base;
              font-size: $font-size-link;
              font-weight: $font-weight-regular;
            }
          }
        }

        input[type='submit'] {
          @include base-button;
        }
      }

      tfoot {
        th {
          text-align: start;
        }
      }
    }
  }
}

.also {
  margin: 70px 0 100px 0;

  &__container {
    @include container;

    .also__info {
      margin-bottom: 40px;

      h2 {
        @include title2;
      }
    }

    .also__content {
      ul {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        li {
          a {
            @include base-tab;
            display: block;
          }
        }
      }
    }
  }
}
