@media (max-width: 1760px) {
  .contacts {
    margin-bottom: 60px;
    &__container {
      h1 {
        margin-bottom: 30px;
      }

      .contacts__wrap {
        grid-template-columns: 450px minmax(20%, 100%);

        .contacts__cards {
          gap: 10px;

          .card {
            padding: 20px;

            h3 {
              font-size: 22px;
              margin-bottom: 15px;
            }

            p {
              font-size: 18px;
            }
          }
        }

        #map {
        }
      }

      .contacts__slider {
        .slick-list {
        }

        .contacts__slide {
          img {
          }
        }
      }

      .contacts__info {
        padding: 20px;

        h2 {
          font-size: 22px;
        }

        .contacts__content {
          flex-wrap: wrap;

          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
