@media (max-width: 960px) {
  .contacts {
    margin-bottom: 40px;
    &__container {
      h1 {
        margin-bottom: 24px;
      }

      .contacts__wrap {
        display: flex;
        flex-direction: column;

        .contacts__cards {
          .card {
            h3 {
              font-size: 20px;
              margin-bottom: 10px;
            }

            p {
              font-size: 16px;
            }
          }
        }

        #map {
          height: 400px;
        }
      }

      .contacts__slider {
        .slick-list {
        }

        .contacts__slide {
          height: 400px;
          img {
          }
        }
      }

      .contacts__info {
        h2 {
          font-size: 20px;
          margin-bottom: 15px;
        }

        .contacts__content {
          p {
            font-size: 16px;
          }
        }
      }
    }
  }

  .social {
    margin-bottom: 40px;

    &__container {
      .social__info {
        h2 {
        }
      }

      .social__content {
        .telegram {
          a {
          }

          &__header {
            img {
            }

            .telegram__name {
              h3 {
              }
            }
          }

          &__content {
            p {
            }

            button {
            }
          }
        }
      }
    }
  }

  .contactForm {
    padding: 30px 0;

    &__container {
      display: block;

      .contactForm__info {
        margin-bottom: 30px;
        h2 {
        }

        p {
          font-size: 16px;
        }

        .personal {
          img {
          }

          &__wrap {
            h4 {
            }

            h5 {
            }

            p {
            }
          }
        }
      }

      form {
        .form-table {
          width: 100%;
          .input {
          }

          .form__required {
            .checkbox {
            }

            p {
              font-size: 16px;
              a {
                font-size: 16px;
              }
            }
          }

          input[type='submit'] {
          }
        }

        tfoot {
          th {
          }
        }
      }
    }

    img {
    }
  }
}
