@media (max-width: 580px) {
  .contacts {
    margin-bottom: 30px;
    &__container {
      h1 {
      }

      .contacts__wrap {
        .contacts__cards {
          .card {
            h3 {
            }

            p {
            }
          }
        }

        #map {
        }
      }

      .contacts__slider {
        .slick-list {
        }

        .contacts__slide {
          height: 300px;
          img {
          }
        }
      }

      .contacts__info {
        h2 {
        }

        .contacts__content {
          p {
          }
        }
      }
    }
  }

  .social {
    margin-bottom: 30px;

    &__container {
      .social__info {
        h2 {
          word-break: break-word;
        }
      }

      .social__content {
        .telegram {
          max-width: 300px;
          a {
          }

          &__header {
            img {
            }

            .telegram__name {
              h3 {
              }
            }
          }

          &__content {
            p {
            }

            button {
            }
          }
        }
      }
    }
  }

  .contactForm {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .contactForm__info {
        margin-bottom: 0;
        display: contents;
        h2 {
        }

        p {
        }

        .personal {
          order: 1;
          img {
            min-width: 100px;
          }

          &__wrap {
            h4 {
            }

            h5 {
            }

            p {
            }
          }
        }
      }

      form {
        .form-table {
          width: 100%;
          .input {
          }

          .form__required {
            .checkbox {
            }

            p {
              a {
              }
            }
          }

          input[type='submit'] {
            width: 100%;
          }
        }

        tfoot {
          th {
          }
        }
      }
    }

    img {
      height: 300px;
    }
  }
}
