@media (max-width: 580px) {
  .contacts {
    margin-bottom: 30px;
    &__container {
      h1 {
        margin-bottom: 18px;
      }

      .contacts__wrap {
        .contacts__cards {
          .card {
            h3 {
            }

            p {
            }
          }
        }

        #map {
        }
      }

      .contacts__slider {
        .slick-list {
        }

        .contacts__slide {
          height: 300px;
          img {
          }
        }
      }

      .contacts__info {
        h2 {
        }

        .contacts__content {
          p {
          }
        }
      }
    }
  }
}
