@media (max-width: 960px) {
  .contacts {
    margin-bottom: 40px;
    &__container {
      h1 {
        margin-bottom: 24px;
      }

      .contacts__wrap {
        display: flex;
        flex-direction: column;

        .contacts__cards {
          .card {
            h3 {
              font-size: 20px;
              margin-bottom: 10px;
            }

            p {
              font-size: 16px;
            }
          }
        }

        #map {
          height: 400px;
        }
      }

      .contacts__slider {
        .slick-list {
        }

        .contacts__slide {
          height: 400px;
          img {
          }
        }
      }

      .contacts__info {
        h2 {
          font-size: 20px;
          margin-bottom: 15px;
        }

        .contacts__content {
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
