@media (max-width: 1760px) {
  .contacts {
    margin-bottom: 60px;
    &__container {
      h1 {
        margin-bottom: 30px;
      }

      .contacts__wrap {
        grid-template-columns: 450px minmax(20%, 100%);

        .contacts__cards {
          gap: 10px;

          .card {
            padding: 20px;

            h3 {
              font-size: 22px;
              margin-bottom: 15px;
            }

            p {
              font-size: 18px;
            }
          }
        }

        #map {
        }
      }

      .contacts__slider {
        .slick-list {
        }

        .contacts__slide {
          img {
          }
        }
      }

      .contacts__info {
        padding: 20px;

        h2 {
          font-size: 22px;
        }

        .contacts__content {
          flex-wrap: wrap;

          p {
            font-size: 18px;
          }
        }
      }
    }
  }

  .social {
    margin-bottom: 60px;

    &__container {
      .social__info {
        h2 {
        }
      }

      .social__content {
        .telegram {
          a {
          }

          &__header {
            img {
            }

            .telegram__name {
              h3 {
              }
            }
          }

          &__content {
            p {
            }

            button {
            }
          }
        }
      }
    }
  }

  .contactForm {
    padding: 60px 0;

    &__container {
      padding: 0;

      .contactForm__info {
        gap: 24px;
        h2 {
        }

        p {
          font-size: 18px;
        }

        .personal {
          img {
          }

          &__wrap {
            h4 {
            }

            h5 {
              margin-bottom: 16px;
            }

            p {
              font-size: 16px;
            }
          }
        }
      }

      form {
        .form-table {
          .input {
          }

          .form__required {
            .checkbox {
            }

            p {
              a {
              }
            }
          }

          input[type='submit'] {
          }
        }

        tfoot {
          th {
          }
        }
      }
    }
  }
}
