@media (max-width: 960px) {
  .certificates {
    margin-bottom: 40px;
    &__container {
      h1 {
        margin-bottom: 24px;
      }

      .certificates__links {
        margin-bottom: 30px;
        ul {
          li {
            a {
            }
          }
        }
      }

      .certificates__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        .card {
          img {
          }

          h3 {
          }

          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
