@media (max-width: 960px) {
  .certificates {
    &__container {
      h1 {
      }

      .certificates__links {
        ul {
          li {
            a {
            }
          }
        }
      }

      .certificates__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 60px;

        .card {
          img {
          }

          h3 {
          }

          p {
          }
        }
      }
    }
  }
}
