@media (max-width: 580px) {
  .certificates {
    &__container {
      h1 {
      }

      .certificates__links {
        ul {
          li {
            a {
            }
          }
        }
      }

      .certificates__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 40px;

        .card {
          img {
            margin-bottom: 10px;
          }

          h3 {
          }

          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
