@import '../_vars.scss';
@import '../_mixin.scss';

.services {
  margin-bottom: 100px;

  &__container {
    h1 {
      @include container;
      @include title2;
      margin-bottom: 30px;
    }

    .services__content {
      max-width: 1920px;
      margin: 0 auto;
      border-radius: 15px;
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .card {
        position: relative;
        height: 400px;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          filter: brightness(80%);
          transition: filter 0.3s ease-in-out;
        }

        &__tag {
          z-index: 1;
          position: absolute;
          @include tag;
          left: 30px;
          bottom: 20px;
        }

        &:hover {
          img {
            filter: brightness(100%);
          }
        }
      }
    }
  }
}

.finishProject {
  margin-bottom: 100px;

  &__container {
    @include container;

    h2 {
      @include title3;
      margin-bottom: 50px;
    }

    .swiper {
      &-wrapper {
        .swiper-slide {
          width: 1000px;
          // height: 620px;

          img {
            height: 540px;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            margin-bottom: 20px;
            transition: filter 0.3s ease-in-out;
          }

          .slide__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            h3 {
              opacity: 0;
              font-size: $font-size-text;
              font-weight: $font-weight-bold;
              color: $actions-text;
              transition: opacity 0.3s ease-in-out;
            }

            a {
              opacity: 0;
              @include base-button;
              transition: opacity 0.3s ease-in-out;
            }
          }

          .swiper-slide-shadow-left,
          .swiper-slide-shadow-right {
            height: 540px;
          }

          &-active {
            .slide__content {
              h3 {
                opacity: 1;
              }

              a {
                opacity: 1;
              }
            }
          }

          &-prev,
          &-next {
            img {
              filter: brightness(60%);
            }
          }
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        display: none;
        background-color: $primary-background;
        border-radius: 50%;

        svg {
          fill: transparent;
          width: 6px;
          height: 14px;
        }
      }

      .swiper-button-next {
        right: 35px;
      }

      .swiper-button-prev {
        left: 35px;
      }
    }
  }
}
