@media (max-width: 960px) {
  .services {
    margin-bottom: 40px;

    &__container {
      h1 {
        margin-bottom: 24px;
      }

      .services__content {
        grid-template-columns: repeat(2, 1fr);
        .card {
          height: 290px;
          img {
          }

          &__tag {
            left: 20px;
          }
        }
      }
    }
  }

  .finishProject {
    margin-bottom: 40px;

    &__container {
      h2 {
        margin-bottom: 24px;
      }

      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            width: 100%;
            max-width: 100%;
            img {
              height: 350px;
            }

            .slide__content {
              flex-direction: column;
            }
          }
        }

        .swiper-button-next,
        .swiper-button-prev {
          display: flex;
          top: 175px;
        }
      }
    }
  }
}
