@media (max-width: 580px) {
  .services {
    margin-bottom: 30px;

    &__container {
      h1 {
        margin-bottom: 18px;
      }

      .services__content {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        border-radius: 0;

        .card {
          border-radius: 0;
          height: unset;
          max-height: 270px;
          overflow: hidden;
          img {
          }

          &__tag {
            left: 20px;
          }
        }
      }
    }
  }

  .finishProject {
    margin-bottom: 30px;

    &__container {
      margin: 0;

      h2 {
        margin: 0 20px;
        margin-bottom: 18px;
      }

      .swiper {
        .swiper-wrapper {
          .swiper-slide {
          }
        }

        .swiper-button-next {
          right: 20px;
        }

        .swiper-button-prev {
          left: 20px;
        }
      }
    }
  }
}
