@media (max-width: 580px) {
  .services {
    margin-bottom: 42px;

    &__container {
      .services__content {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        border-radius: 0;

        .card {
          border-radius: 0;
          height: unset;
          max-height: 270px;
          overflow: hidden;
          img {
          }

          &__tag {
            left: 20px;
          }
        }
      }
    }
  }

  .finishProject {
    margin-bottom: 42px;

    &__container {
      .swiper {
        .swiper-wrapper {
          .swiper-slide {
          }
        }
      }
    }
  }
}
