@media (max-width: 1760px) {
  .services {
    margin-bottom: 60px;

    &__container {
      h1 {
        margin-bottom: 30px;
      }
      .services__content {
        .card {
          height: 276px;

          img {
          }

          &__tag {
            min-width: unset;
            padding: 4px 20px;
          }
        }
      }
    }
  }

  .finishProject {
    margin-bottom: 60px;

    &__container {
      h2 {
        margin-bottom: 30px;
      }

      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            width: 700px;
            img {
              height: 400px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1360px) {
  .finishProject {
    &__container {
      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            width: 620px;
            img {
              height: 400px;
            }
          }
        }
      }
    }
  }
}
