@media (max-width: 960px) {
  .services {
    margin-bottom: 40px;

    &__container {
      h1 {
        margin-bottom: 24px;
      }

      .services__content {
        grid-template-columns: repeat(2, 1fr);
        .card {
          height: 290px;
          img {
          }

          &__tag {
            left: 20px;
          }
        }
      }
    }
  }
}
