@import '../_vars.scss';
@import '../_mixin.scss';

.banner {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;

  img {
    z-index: 10;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    filter: brightness(60%);
  }

  &__container {
    @include container;
    width: 100%;
    padding-top: 110px;
    position: relative;
    z-index: 20;

    h1 {
      @include title1;
      line-height: 120%;
      max-width: 1200px;
      color: $primary-title;
      margin-bottom: 48px;
    }

    .banner__wrap {
      display: flex;
      align-items: start;
      gap: 38px;

      button {
        @include glare-button;
      }

      .banner__list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
          display: flex;
          align-items: center;
          gap: 14px;
          color: #ffffff;
          font-size: $font-size-text;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}

.filter {
  background-color: $secondary-background;
  border-radius: 0 0 15px 15px;
  margin-bottom: 100px;

  &__container {
    padding: 60px 0;
    @include container;

    h2 {
      @include title2;
      color: $primary-title;
      margin-bottom: 60px;
    }

    .filter__form {
      display: flex;
      gap: 15px;

      .form__wrap {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;

        .choices {
          @include filter-select;
        }
      }

      button {
        @include base-button;

        text-wrap: nowrap;
      }
    }
  }
}

.projects {
  margin-bottom: 100px;

  &__container {
    .projects__info {
      @include container;
      display: flex;
      justify-content: space-between;
      align-items: end;
      gap: 40px;
      margin-bottom: 100px;

      .projects__wrap {
        h2 {
          @include title2;
          margin-bottom: 24px;
        }

        p {
          max-width: 900px;
          color: $actions-text;
          font-size: $font-size-text;
        }
      }

      a {
        @include dark-button;
      }
    }

    .projects__content {
      max-width: 1920px;
      margin: 0 auto;
      border-radius: 15px;
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .card {
        position: relative;
        height: 400px;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          filter: brightness(80%);
          transition: filter 0.3s ease-in-out;
        }

        &__tag {
          z-index: 1;
          position: absolute;
          @include tag;
          left: 30px;
          bottom: 20px;
        }

        &:hover {
          img {
            filter: brightness(100%);
          }
        }
      }
    }
  }
}

.services {
  margin-bottom: 100px;

  &__container {
    @include container;

    .services__info {
      display: flex;
      justify-content: space-between;
      align-items: end;
      gap: 40px;
      margin-bottom: 100px;

      .services__wrap {
        h2 {
          @include title2;
          margin-bottom: 24px;
        }

        p {
          max-width: 900px;
          color: $actions-text;
          font-size: $font-size-text;
        }
      }

      a {
        @include dark-button;
      }
    }

    .services__content {
      display: flex;
      border-radius: 15px;
      overflow: hidden;

      .services__tabs {
        display: flex;
        flex-direction: column;
        min-width: 480px;

        .tab {
          @include base-button;
          width: 100%;
          border-radius: 0;
          padding: 34px 60px;
          background-color: $actions-background-primary;
          font-size: $font-size-text;
          font-weight: $font-weight-medium;
          color: $primary-text;
          display: flex;
          align-items: center;
          gap: 20px;
          border: none;
          text-transform: none;
          text-wrap: nowrap;

          span {
            position: relative;
            &::after {
              position: absolute;
              content: '';
              left: 0;
              right: 0;
              bottom: -4px;
              width: 100%;
              height: 2px;
              background-color: $button-tag-text-active;
              transform: scale(0);
              transition: transform 0.3s ease-in-out;
            }
          }

          svg {
            min-width: 23px;

            path {
              transition: fill 0.3s ease-in-out;
            }
          }

          &:hover {
            color: $button-tag-text-active;

            svg {
              path {
                fill: $button-tag-text-active;
              }
            }
          }

          &--active {
            background-color: $actions-background-secondary;
            color: $button-tag-text-active;

            span {
              &::after {
                transform: scale(1);
              }
            }

            svg {
              path {
                fill: $button-tag-text-active;
              }
            }
          }
        }
      }

      .services__imgs {
        width: 100%;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $secondary-background;
        }

        .tab-content {
          object-fit: cover;
          object-position: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: translateY(-100%);
          filter: brightness(50%);
          transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, filter 0.5s ease-in-out;

          &--active {
            opacity: 1;
            transform: translateY(0);
            filter: brightness(100%);
          }
        }
      }
    }
  }
}
