@import "../_vars.scss";
@import "../_mixin.scss";

body {
  background-color: $primary-background;
}

.header {
  z-index: 1000;
  width: 1600px;
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;
}

.banner {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;

  img {
    z-index: 10;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    filter: brightness(60%);
  }

  &__container {
    @include container;
    width: 100%;
    padding-top: 110px;
    position: relative;
    z-index: 20;

    h1 {
      @include title1;
      line-height: 120%;
      max-width: 1200px;
      color: $primary-title;
      margin-bottom: 48px;
    }

    .banner__wrap {
      display: flex;
      align-items: start;
      gap: 38px;

      button {
        @include glare-button;
      }

      .banner__list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
          position: relative;
          color: #ffffff;
          font-size: $font-size-text;
          font-weight: $font-weight-bold;
          padding-left: 34px;

          &::after {
            content: url("../../assets/img/banner-list.svg");
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }
}

.filter {
  background-color: $secondary-background;
  border-radius: 0 0 15px 15px;
  margin-bottom: 100px;

  &__container {
    padding: 60px 0;
    @include container;

    h2 {
      @include title2;
      color: $primary-title;
      margin-bottom: 60px;
    }

    .filter__form {
      display: flex;
      gap: 15px;

      .form__wrap {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;

        .choices {
          @include filter-select;
        }
      }

      button {
        @include base-button;

        text-wrap: nowrap;
      }
    }
  }
}

.projects {
  margin-bottom: 100px;

  &__container {
    .projects__info {
      @include container;
      display: flex;
      justify-content: space-between;
      align-items: end;
      gap: 40px;
      margin-bottom: 100px;

      .projects__wrap {
        h2 {
          @include title2;
          margin-bottom: 24px;
        }

        p {
          max-width: 900px;
          color: $actions-text;
          font-size: $font-size-text;
        }
      }

      a {
        @include dark-button;
      }
    }

    .projects__content {
      max-width: 1920px;
      margin: 0 auto;
      border-radius: 15px;
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .card {
        position: relative;
        height: 400px;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          filter: brightness(80%);
          transition: filter 0.3s ease-in-out;
        }

        &__tag {
          z-index: 1;
          position: absolute;
          @include tag;
          left: 30px;
          bottom: 20px;
        }

        &:hover {
          img {
            filter: brightness(100%);
          }
        }
      }
    }
  }
}

.services {
  margin-bottom: 100px;

  &__container {
    @include container;

    .services__info {
      display: flex;
      justify-content: space-between;
      align-items: end;
      gap: 40px;
      margin-bottom: 100px;

      .services__wrap {
        h2 {
          @include title2;
          margin-bottom: 24px;
        }

        p {
          max-width: 900px;
          color: $actions-text;
          font-size: $font-size-text;
        }
      }

      a {
        @include dark-button;
      }
    }

    .services__content {
      display: flex;
      border-radius: 15px;
      overflow: hidden;

      .services__tabs {
        display: flex;
        flex-direction: column;
        min-width: 480px;

        .tab {
          @include base-button;
          width: 100%;
          border-radius: 0;
          padding: 34px 60px;
          background-color: $actions-background-primary;
          font-size: $font-size-text;
          font-weight: $font-weight-medium;
          color: $primary-text;
          display: flex;
          align-items: center;
          gap: 20px;
          border: none;
          text-transform: none;
          text-wrap: nowrap;

          span {
            position: relative;
            &::after {
              position: absolute;
              content: "";
              left: 0;
              right: 0;
              bottom: -4px;
              width: 100%;
              height: 2px;
              background-color: $button-tag-text-active;
              transform: scale(0);
              transition: transform 0.3s ease-in-out;
            }
          }

          svg {
            min-width: 23px;

            path {
              transition: fill 0.3s ease-in-out;
            }
          }

          &:hover {
            color: $button-tag-text-active;

            svg {
              path {
                fill: $button-tag-text-active;
              }
            }
          }

          &--active {
            background-color: $actions-background-secondary;
            color: $button-tag-text-active;

            span {
              &::after {
                transform: scale(1);
              }
            }

            svg {
              path {
                fill: $button-tag-text-active;
              }
            }
          }
        }
      }

      .services__imgs {
        width: 100%;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $secondary-background;
        }

        .tab-content {
          object-fit: cover;
          object-position: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: translateY(-100%);
          filter: brightness(50%);
          transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out,
            filter 0.5s ease-in-out;

          &--active {
            opacity: 1;
            transform: translateY(0);
            filter: brightness(100%);
          }
        }
      }
    }
  }
}

.achievement {
  margin-bottom: 100px;

  &__container {
    @include container;

    .achievement__info {
      margin-bottom: 60px;

      h2 {
        @include title2;
      }
    }

    .achievement__content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;

      .card {
        padding: 75px 40px;
        border-radius: 15px;
        background-color: $actions-background-primary;
        transition: background-color 0.3s ease-in-out;

        h3 {
          @include title3;
          margin-bottom: 24px;
          transition: color 0.3s ease-in-out;
        }

        p {
          font-size: $font-size-text;
          font-weight: $font-weight-regular;
          line-height: 100%;
          transition: color 0.3s ease-in-out;
        }

        &--active {
          background-color: $secondary-background;

          h3,
          p {
            color: $button-tag-text-active;
          }
        }
      }
    }
  }
}

.possibilities {
  padding-top: 100px;
  background-color: $secondary-section-background;
  padding-bottom: 100px;
  margin-bottom: 100px;

  &__container {
    .possibilities__info {
      @include container;
      margin-bottom: 100px;

      h2 {
        @include title2;
        margin-bottom: 24px;
      }

      p {
        max-width: 900px;
        color: $actions-text;
        font-size: $font-size-text;
      }
    }

    .possibilities__content {
      border-radius: 15px;
      overflow: hidden;
      max-width: 1920px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      aspect-ratio: 1 / 1;

      .card {
        overflow: hidden;
        background-color: $primary-background;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        justify-content: center;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        h3 {
          max-width: 390px;
          width: 100%;
          font-size: 26px;
          font-weight: $font-weight-medium;
          line-height: 100%;
          color: $secondary-text;
        }

        p {
          max-width: 390px;
          color: $actions-text;
          font-size: $font-size-text;
          font-weight: $font-weight-regular;
          line-height: 100%;
          letter-spacing: 0%;
        }

        &:first-child {
          aspect-ratio: 2 / 1;
          grid-column: span 2;
          border-bottom-right-radius: 15px;
        }

        &:nth-child(4) {
          border-radius: 15px;
          background-color: $secondary-section-background;
        }

        &:nth-child(5) {
          border-radius: 15px 0 0 15px;
        }

        &:nth-child(6) {
          border-bottom-left-radius: 15px;
        }

        &:nth-child(7) {
          background-color: $actions-background-secondary;
          border-radius: 0 15px 15px 0;
          position: relative;

          &::before {
            position: absolute;
            bottom: -74px;
            right: -155px;
            content: url("../../assets/img/possibilities-decor.svg");
            opacity: 0.45;
          }

          h3,
          p {
            color: $button-text-primary;
          }
        }
      }
    }
  }
}

.reviews {
  margin-bottom: 100px;

  &__container {
    @include container;

    .reviews__info {
      margin-bottom: 60px;
      max-width: 960px;

      h2 {
        @include title2;
        margin-bottom: 24px;
      }

      p {
        color: $actions-text;
        font-size: $font-size-text;
      }
    }

    .reviews__content {
      padding: 40px 80px 60px 40px;
      background-color: $secondary-section-background;
      border-radius: 15px;
      margin-bottom: 40px;

      .reviews__wrap {
        max-height: 800px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 80px;

        .card {
          position: relative;
          padding-left: 40px;
          padding-top: 20px;

          a {
            @include link-black;
            font-size: 26px;
            font-weight: $font-weight-medium;
            margin-bottom: 20px;
          }

          p {
            font-size: $font-size-text;
            color: $actions-text;
            line-height: 100%;
            margin-bottom: 50px;
          }

          &__gallery {
            display: flex;
            gap: 10px;
            overflow-x: auto;

            img {
              border-radius: 10px;
              width: 190px;
              height: 150px;
              object-fit: cover;
            }
          }

          .raiting {
            position: absolute;
            top: 20px;
            right: 0;
            display: flex;
            gap: 10px;
            align-items: center;

            span {
              font-size: $font-size-text;
            }
          }

          &::after {
            content: url("../../assets/img/reviews-decor.svg");
            position: absolute;
            left: 0;
            top: 0;
          }
        }

        &::-webkit-scrollbar {
          width: 5px;
          border-radius: 18px;
        }

        &::-webkit-scrollbar-track {
          background-color: #94949424;
          border-radius: 18px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #28282c;
          border-radius: 18px;
        }
      }
    }

    .reviews__link {
      @include base-button;
    }
  }
}

.social {
  margin-bottom: 100px;

  &__container {
    @include container;

    .social__info {
      margin-bottom: 40px;

      h2 {
        @include title2;
      }
    }

    .social__content {
      background-color: #1e1e1e;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.contactForm {
  background-color: $secondary-background;
  padding: 100px 0;

  &__container {
    @include container;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;

    .contactForm__info {
      display: flex;
      flex-direction: column;
      gap: 40px;

      h2 {
        @include title2;
        color: $primary-title;
      }

      p {
        font-size: $font-size-text;
        color: $primary-title;
      }

      .personal {
        display: flex;
        gap: 30px;

        img {
          border-radius: 50%;
          width: 100px;
          height: 100px;
          object-fit: cover;
          background-color: #fff;
        }

        &__wrap {
          h4 {
            font-size: $font-size-text;
            color: $primary-title;
            font-weight: $font-weight-medium;
            margin-bottom: 4px;
          }

          h5 {
            font-size: 18px;
            color: $primary-title;
            font-weight: $font-weight-regular;
            margin-bottom: 20px;
          }

          p {
            font-size: $font-size-link;
            font-weight: $font-weight-regular;
          }
        }
      }
    }

    .contactForm__form {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .input {
        @include base-input;
      }

      .form__required {
        display: flex;
        gap: 25px;

        .checkbox {
          @include base-checkbox;
        }

        p {
        }
      }
    }
  }
}
