@media (max-width: 960px) {
  .header {
    margin: 0;
    left: 40px;
    right: 40px;
  }

  .banner {
    height: unset;
    img {
      display: block;
    }

    video {
      display: none;
    }

    &__container {
      padding: 195px 0 55px 0;
      h1 {
        margin-bottom: 32px;
      }

      .banner__wrap {
        flex-direction: column;
        gap: 28px;
        button {
        }

        .banner__list {
          gap: 12px;
          li {
            font-size: 16px;

            &::after {
              content: '';
              width: 20px;
              height: 100%;
              background-image: url('../../assets/img/banner-list.svg');
              background-size: contain;
            }
          }
        }
      }
    }
  }

  .filter {
    margin-bottom: 40px;
    &__container {
      h2 {
        margin-bottom: 30px;
      }

      .filter__form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        .form__wrap {
          display: contents;
          .choices {
          }
        }

        button {
          grid-area: 3 / 2 / 4 / 3;
        }
      }
    }
  }

  .projects {
    margin-bottom: 40px;
    &__container {
      .projects__info {
        margin-bottom: 40px;
        flex-direction: column;
        align-items: center;

        .projects__wrap {
          h2 {
          }

          p {
            font-size: 16px;
          }
        }

        a {
        }
      }

      .projects__content {
        grid-template-columns: repeat(2, 1fr);
        .card {
          height: 250px;
          img {
          }

          &__tag {
            padding: 5px 10px;
            left: 20px;
          }
        }
      }
    }
  }

  .services {
    margin-bottom: 40px;
    &__container {
      .services__info {
        margin-bottom: 30px;
        flex-direction: column;
        align-items: center;

        .services__wrap {
          h2 {
          }

          p {
            font-size: 16px;
          }
        }

        a {
        }
      }

      .services__content {
        display: flex;
        flex-direction: column;

        .services__tabs {
          min-width: unset;

          .tab {
            padding: 18px 32px;
            font-size: 16px;
            span {
            }
          }
        }

        .services__imgs {
          height: 400px;
          overflow: hidden;
          .tab-content {
          }
        }
      }
    }
  }

  .achievement {
    margin-bottom: 40px;
    &__container {
      .achievement__info {
        margin-bottom: 30px;
        h2 {
        }
      }

      .achievement__content {
        grid-template-columns: repeat(2, 1fr);

        .card {
          h3 {
            margin-bottom: 12px;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }
  }

  .comfort {
    padding: 30px 0;

    &__container {
      .comfort__info {
        margin-bottom: 30px;
        h2 {
        }
      }

      .comfort__content {
        p {
          font-size: 16px;
        }
      }
    }
  }
}
