@media (max-width: 1760px) {
  .header {
    margin: 0;
    left: 100px;
    right: 100px;
    width: unset;
    transform: none;
  }

  .banner {
    img {
    }

    &__container {
      h1 {
      }

      .banner__wrap {
        button {
        }

        .banner__list {
          li {
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .filter {
    margin-bottom: 60px;

    &__container {
      h2 {
        margin-bottom: 40px;
      }

      .filter__form {
        .form__wrap {
          .choices {
          }
        }

        button {
        }
      }
    }
  }

  .projects {
    margin-bottom: 60px;

    &__container {
      .projects__info {
        margin-bottom: 40px;

        .projects__wrap {
          h2 {
          }

          p {
            font-size: 18px;
          }
        }

        a {
        }
      }

      .projects__content {
        .card {
          height: 350px;
          img {
          }

          &__tag {
          }
        }
      }
    }
  }

  .services {
    margin-bottom: 60px;

    &__container {
      .services__info {
        margin-bottom: 40px;

        .services__wrap {
          h2 {
          }

          p {
            font-size: 18px;
          }
        }

        a {
        }
      }

      .services__content {
        .services__tabs {
          .tab {
            padding: 24px 42px;
            font-size: 18px;
            span {
              &::after {
                height: 1px;
              }
            }
          }
        }

        .services__imgs {
          .tab-content {
          }
        }
      }
    }
  }

  .achievement {
    margin-bottom: 60px;

    &__container {
      .achievement__info {
        margin-bottom: 40px;
        h2 {
        }
      }

      .achievement__content {
        .card {
          padding: 45px 20px;
          h3 {
          }

          p {
            font-size: 18px;
          }
        }
      }
    }
  }

  .comfort {
    padding: 60px 0;

    &__container {
      .comfort__info {
        margin-bottom: 40px;
        h2 {
        }
      }

      .comfort__content {
        p {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 1360px) {
  .header {
    margin: 0;
    left: 60px;
    right: 60px;
  }

  .banner {
    img {
    }

    &__container {
      h1 {
      }

      .banner__wrap {
        button {
        }

        .banner__list {
          li {
          }
        }
      }
    }
  }

  .filter {
    &__container {
      padding: 45px 0;
      h2 {
      }

      .filter__form {
        .form__wrap {
          .choices {
          }
        }

        button {
        }
      }
    }
  }

  .projects {
    &__container {
      .projects__info {
        .projects__wrap {
          h2 {
          }

          p {
          }
        }

        a {
        }
      }

      .projects__content {
        .card {
          height: 290px;
          img {
          }

          &__tag {
            left: 20px;
          }
        }
      }
    }
  }

  .services {
    &__container {
      .services__info {
        .services__wrap {
          h2 {
          }

          p {
          }
        }

        a {
        }
      }

      .services__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .services__tabs {
          min-width: unset;

          .tab {
            font-size: 18px;
            span {
            }
          }
        }

        .services__imgs {
          .tab-content {
          }
        }
      }
    }
  }

  .achievement {
    &__container {
      @include container;

      .achievement__info {
        h2 {
        }
      }

      .achievement__content {
        grid-template-columns: repeat(2, 1fr);

        .card {
          padding: 30px;

          h3 {
          }

          p {
          }
        }
      }
    }
  }

  .comfort {
    padding: 60px 0;

    &__container {
      .comfort__info {
        h2 {
        }
      }

      .comfort__content {
        p {
        }
      }
    }
  }
}
