@media (max-width: 960px) {
  .header {
    margin: 0;
    left: 40px;
    right: 40px;
  }

  .banner {
    height: unset;
    img {
      display: block;
    }

    video {
      display: none;
    }

    &__container {
      padding: 195px 0 55px 0;
      h1 {
        margin-bottom: 32px;
      }

      .banner__wrap {
        flex-direction: column;
        gap: 28px;
        button {
        }

        .banner__list {
          gap: 12px;
          li {
            font-size: 16px;

            &::after {
              content: '';
              width: 20px;
              height: 100%;
              background-image: url('../../assets/img/banner-list.svg');
              background-size: contain;
            }
          }
        }
      }
    }
  }

  .filter {
    margin-bottom: 40px;
    &__container {
      h2 {
        margin-bottom: 30px;
      }

      .filter__form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        .form__wrap {
          display: contents;
          .choices {
          }
        }

        button {
          grid-area: 3 / 2 / 4 / 3;
        }
      }
    }
  }

  .projects {
    margin-bottom: 40px;
    &__container {
      .projects__info {
        margin-bottom: 40px;
        flex-direction: column;
        align-items: center;

        .projects__wrap {
          h2 {
          }

          p {
            font-size: 16px;
          }
        }

        a {
        }
      }

      .projects__content {
        grid-template-columns: repeat(2, 1fr);
        .card {
          height: 250px;
          img {
          }

          &__tag {
            padding: 5px 10px;
            left: 20px;
          }
        }
      }
    }
  }

  .services {
    margin-bottom: 40px;
    &__container {
      .services__info {
        margin-bottom: 30px;
        flex-direction: column;
        align-items: center;

        .services__wrap {
          h2 {
          }

          p {
            font-size: 16px;
          }
        }

        a {
        }
      }

      .services__content {
        display: flex;
        flex-direction: column;

        .services__tabs {
          min-width: unset;

          .tab {
            padding: 18px 32px;
            font-size: 16px;
            span {
            }
          }
        }

        .services__imgs {
          height: 400px;
          overflow: hidden;
          .tab-content {
          }
        }
      }
    }
  }

  .achievement {
    margin-bottom: 40px;
    &__container {
      .achievement__info {
        margin-bottom: 30px;
        h2 {
        }
      }

      .achievement__content {
        grid-template-columns: repeat(2, 1fr);

        .card {
          h3 {
            margin-bottom: 12px;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }
  }

  .possibilities {
    padding: 30px 0;
    margin-bottom: 40px;
    &__container {
      .possibilities__info {
        margin-bottom: 30px;
        h2 {
        }

        p {
          font-size: 16px;
        }
      }

      .possibilities__content {
        aspect-ratio: unset;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 300px);
        // display: flex;
        // flex-direction: column;

        .card {
          aspect-ratio: unset !important;
          grid-column: unset !important;
          border-radius: unset !important;
          max-height: 480px;
          min-height: 250px;

          img {
          }

          h3 {
            max-width: unset;
            padding: 0 20px;
            margin-top: 40px;
          }

          p {
            max-width: unset;
            padding: 0 20px;
            margin-bottom: 40px;
            font-size: 16px;
          }

          &:first-child {
            order: 1;
          }

          &:nth-child(2) {
            order: 2;
          }

          &:nth-child(3) {
            order: 4;
            background-color: $base-background-body;
          }

          &:nth-child(4) {
            order: 5;
          }

          &:nth-child(5) {
            order: 3;
          }

          &:nth-child(6) {
            order: 6;
          }

          &:nth-child(7) {
            order: 7;
          }

          &:nth-child(8) {
            order: 8;
          }
        }
      }
    }
  }

  .reviews {
    margin-bottom: 40px;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .reviews__info {
        margin-bottom: 30px;
        h2 {
        }

        p {
          font-size: 16px;
        }
      }

      .reviews__content {
        padding: 30px;
        .reviews__wrap {
          .card {
            padding: 0;
            padding-right: 20px;

            .card__header {
              a {
                font-size: 20px;
              }
            }

            p {
              font-size: 16px;
            }

            &__gallery {
              img {
              }
            }

            .raiting {
              span {
              }
            }

            &::after {
              display: none;
            }
          }
        }
      }

      .reviews__link {
      }
    }
  }

  .social {
    margin-bottom: 40px;

    &__container {
      .social__info {
        margin-bottom: 30px;
        h2 {
        }
      }

      .social__content {
        .telegram {
          a {
          }

          &__header {
            img {
            }

            .telegram__name {
              h3 {
              }
            }
          }

          &__content {
            p {
            }

            button {
            }
          }
        }
      }
    }
  }

  .contactForm {
    padding-top: 30px;

    &__container {
      padding: 0;
      margin-bottom: 40px;
      display: block;

      .contactForm__info {
        margin-bottom: 30px;
        h2 {
        }

        p {
          font-size: 16px;
        }

        .personal {
          img {
          }

          &__wrap {
            h4 {
            }

            h5 {
            }

            p {
            }
          }
        }
      }

      form {
        .form-table {
          width: 100%;
          .input {
          }

          .form__required {
            .checkbox {
            }

            p {
              font-size: 16px;
              a {
                font-size: 16px;
              }
            }
          }

          input[type='submit'] {
          }
        }

        tfoot {
          th {
          }
        }
      }
    }

    img {
    }
  }

  .comfort {
    padding: 30px 0;

    &__container {
      .comfort__info {
        margin-bottom: 30px;
        h2 {
        }
      }

      .comfort__content {
        p {
          font-size: 16px;
        }
      }
    }
  }
}
