@media (max-width: 700px) {
  .header {
    margin: 0;
    left: 20px;
    right: 20px;
  }
}

@media (max-width: 580px) {
  .banner {
    height: unset;
    img {
    }

    &__container {
      padding: 165px 0 45px 0;
      h1 {
        margin-bottom: 18px;
      }

      .banner__wrap {
        flex-direction: column;
        gap: 28px;

        button {
          font-size: 16px;
          width: 100%;
        }

        .banner__list {
          li {
          }
        }
      }
    }
  }

  .filter {
    margin-bottom: 30px;
    &__container {
      padding: 30px 0;
      h2 {
        margin-bottom: 16px;
      }

      .filter__form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .form__wrap {
          .choices {
          }
        }

        button {
          margin-top: 5px;
          grid-area: 3 / 2 / 4 / 3;
        }
      }
    }
  }

  .projects {
    margin-bottom: 30px;

    .projects__link {
      display: block;
      width: calc(100% - 40px);
    }

    &__container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;

      .projects__info {
        margin-bottom: 0;
        flex-direction: column;
        align-items: center;

        .projects__wrap {
          h2 {
            margin-bottom: 10px;
          }

          p {
          }
        }

        a {
          display: none;
        }
      }

      .projects__content {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        border-radius: 0;

        .card {
          border-radius: 15px;
          height: unset;
          max-height: 250px;
          overflow: hidden;
          img {
          }

          &__tag {
            left: 20px;
          }
        }
      }
    }
  }

  .services {
    margin-bottom: 30px;
    &__container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;

      .services__link {
        display: block;
        width: 100%;
      }

      .services__info {
        margin-bottom: 0;
        flex-direction: column;
        align-items: center;

        .services__wrap {
          h2 {
            margin-bottom: 16px;
          }

          p {
          }
        }

        a {
          display: none;
        }
      }

      .services__content {
        display: flex;
        flex-direction: column;
        width: 100%;

        .services__tabs {
          min-width: unset;

          .tab {
            padding: 12px 24px;
            text-wrap: wrap;
            justify-content: center;

            span {
            }

            svg {
              display: none;
            }
          }
        }

        .services__imgs {
          height: 240px;
          overflow: hidden;
          .tab-content {
          }
        }
      }
    }
  }

  .achievement {
    margin-bottom: 30px;
    &__container {
      .achievement__info {
        margin-bottom: 18px;
        h2 {
          margin-bottom: 16px;
        }
      }

      .achievement__content {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .card {
          padding: 20px 10px;

          h3 {
            font-size: 18px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  .comfort {
    padding: 30px 0;

    &__container {
      .comfort__info {
        margin-bottom: 18px;
        h2 {
          margin-bottom: 16px;
        }
      }

      .comfort__content {
        p {
        }
      }
    }
  }
}
