@font-face {
  font-family: "Noah";
  src: local("Noah-Regular"), local("Noah Regular"), url("../../assets/fonts/Noah-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: local("Noah-Medium"), local("Noah Medium"), url("../../assets/fonts/Noah-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: local("Noah-Bold"), local("Noah Bold"), url("../../assets/fonts/Noah-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), local("Montserrat Medium"), url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
body {
  background-color: #ffffff !important;
}

.header {
  z-index: 1000;
  width: 1600px;
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;
}

.banner {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.banner img,
.banner video {
  z-index: 10;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
}
.banner__container {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  padding-top: 110px;
  position: relative;
  z-index: 20;
}
@media (max-width: 1760px) {
  .banner__container {
    margin: 0 100px;
  }
}
@media (max-width: 1360px) {
  .banner__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .banner__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .banner__container {
    margin: 0 20px;
  }
}
.banner__container h1 {
  font-size: 70px;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  line-height: 120%;
  max-width: 1200px;
  color: #ffffff;
  margin-bottom: 48px;
}
@media (max-width: 1760px) {
  .banner__container h1 {
    font-size: 60px;
  }
}
@media (max-width: 1600px) {
  .banner__container h1 {
    font-size: 50px;
  }
}
@media (max-width: 960px) {
  .banner__container h1 {
    font-size: 40px;
  }
}
@media (max-width: 580px) {
  .banner__container h1 {
    font-size: 30px;
  }
}
.banner__container .banner__wrap {
  display: flex;
  align-items: start;
  gap: 38px;
}
.banner__container .banner__wrap button {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  place-items: center;
}
.banner__container .banner__wrap button:hover {
  background-color: #000101;
  border-color: #000101;
}
.banner__container .banner__wrap button:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
@media (max-width: 960px) {
  .banner__container .banner__wrap button {
    padding: 12px 16px;
    font-size: 16px;
  }
}
.banner__container .banner__wrap button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, hsla(0, 0%, 0%, 0) 60%, rgba(255, 255, 255, 0.7) 70%, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0) 100%);
  transition: 1.1s ease;
  background-size: 450% 450%, 100% 100%;
  background-repeat: no-repeat;
  background-position: -100% -100%, 0 0;
}
.banner__container .banner__wrap button:hover {
  cursor: pointer;
}
.banner__container .banner__wrap button:hover::before {
  background-position: 100% 100%, 0 0;
}
.banner__container .banner__wrap .banner__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner__container .banner__wrap .banner__list li {
  list-style: none;
  position: relative;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding-left: 34px;
}
.banner__container .banner__wrap .banner__list li::after {
  content: url("../../assets/img/banner-list.svg");
  position: absolute;
  left: 0;
}

.filter {
  background-color: #28282c;
  border-radius: 0 0 15px 15px;
  margin-bottom: 100px;
}
.filter__container {
  padding: 60px 0;
  max-width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1760px) {
  .filter__container {
    margin: 0 100px;
  }
}
@media (max-width: 1360px) {
  .filter__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .filter__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .filter__container {
    margin: 0 20px;
  }
}
.filter__container h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 60px;
}
@media (max-width: 1760px) {
  .filter__container h2 {
    font-size: 46px;
  }
}
@media (max-width: 1600px) {
  .filter__container h2 {
    font-size: 36px;
  }
}
@media (max-width: 1360px) {
  .filter__container h2 {
    font-size: 32px;
  }
}
@media (max-width: 960px) {
  .filter__container h2 {
    font-size: 26px;
  }
}
@media (max-width: 580px) {
  .filter__container h2 {
    font-size: 24px;
  }
}
.filter__container .filter__form {
  display: flex;
  gap: 15px;
}
.filter__container .filter__form .form__wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.filter__container .filter__form .form__wrap .choices {
  margin: 0;
}
.filter__container .filter__form .form__wrap .choices__inner {
  padding: 16px 26px;
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.0509803922);
  color: #454545;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
}
.filter__container .filter__form .form__wrap .choices__list {
  padding: 0;
  font-size: 18px;
  font-weight: 400;
}
.filter__container .filter__form .form__wrap .choices__item {
  font-size: 18px;
  font-weight: 400;
}
.filter__container .filter__form .form__wrap .choices__list--dropdown {
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.0509803922);
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding-bottom: 20px;
}
.filter__container .filter__form .form__wrap .choices__item--choice {
  padding: 5px 20px;
}
.filter__container .filter__form .form__wrap .choices__item--choice[aria-selected=true] {
  position: relative;
  background-color: #777777;
  color: #ffffff;
  font-weight: 700;
}
.filter__container .filter__form .form__wrap .choices__item--choice:first-child {
  display: none;
}
.filter__container .filter__form .form__wrap .choices::after {
  width: 13px;
  height: 13px;
  border: none;
  background-image: url("../../assets/img/select-arrow.svg");
  margin-top: 0;
  transform: translateY(-50%);
}
.filter__container .filter__form .form__wrap .choices.is-open::after {
  transform: translateY(-50%) rotate(180deg);
  transform-origin: center;
}
.filter__container .filter__form .form__wrap .choices.is-open .choices__inner {
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}
@media (max-width: 960px) {
  .filter__container .filter__form .form__wrap .choices__inner {
    padding: 10px 20px;
    font-size: 16px;
  }
  .filter__container .filter__form .form__wrap .choices__list {
    font-size: 16px;
  }
  .filter__container .filter__form .form__wrap .choices__item {
    font-size: 16px;
  }
}
.filter__container .filter__form .form__wrap .choices__list--dropdown {
  margin: 10px 0;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.0705882353);
  background-color: #f9f9f9;
  padding: 20px 0;
}
.filter__container .filter__form .form__wrap .choices.is-open .choices__inner {
  border-radius: 10px;
}
.filter__container .filter__form button {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
  text-wrap: nowrap;
}
.filter__container .filter__form button:hover {
  background-color: #000101;
  border-color: #000101;
}
.filter__container .filter__form button:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
@media (max-width: 960px) {
  .filter__container .filter__form button {
    padding: 12px 16px;
    font-size: 16px;
  }
}

.projects {
  margin-bottom: 100px;
}
.projects__container .projects__link {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
  background-color: #28282c;
  border-color: #28282c;
  width: 270px;
  text-align: center;
  display: none;
}
.projects__container .projects__link:hover {
  background-color: #000101;
  border-color: #000101;
}
.projects__container .projects__link:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
@media (max-width: 960px) {
  .projects__container .projects__link {
    padding: 12px 16px;
    font-size: 16px;
  }
}
.projects__container .projects__link:hover {
  background-color: #b1a489;
  border-color: #b1a489;
}
.projects__container .projects__info {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
  margin-bottom: 100px;
}
@media (max-width: 1760px) {
  .projects__container .projects__info {
    margin: 0 100px;
  }
}
@media (max-width: 1360px) {
  .projects__container .projects__info {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .projects__container .projects__info {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .projects__container .projects__info {
    margin: 0 20px;
  }
}
.projects__container .projects__info .projects__wrap h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media (max-width: 1760px) {
  .projects__container .projects__info .projects__wrap h2 {
    font-size: 46px;
  }
}
@media (max-width: 1600px) {
  .projects__container .projects__info .projects__wrap h2 {
    font-size: 36px;
  }
}
@media (max-width: 1360px) {
  .projects__container .projects__info .projects__wrap h2 {
    font-size: 32px;
  }
}
@media (max-width: 960px) {
  .projects__container .projects__info .projects__wrap h2 {
    font-size: 26px;
  }
}
@media (max-width: 580px) {
  .projects__container .projects__info .projects__wrap h2 {
    font-size: 24px;
  }
}
.projects__container .projects__info .projects__wrap p {
  max-width: 900px;
  color: #454545;
  font-size: 20px;
}
.projects__container .projects__info a {
  display: block;
}
.projects__container .projects__content {
  max-width: 1920px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.projects__container .projects__content .card {
  position: relative;
  height: 400px;
}
.projects__container .projects__content .card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(80%);
  transition: filter 0.3s ease-in-out;
}
.projects__container .projects__content .card__tag {
  z-index: 1;
  position: absolute;
  min-width: 235px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  color: #000101;
  padding: 9px 15px;
  left: 30px;
  bottom: 20px;
}
.projects__container .projects__content .card:hover img {
  filter: brightness(100%);
}

.services {
  margin-bottom: 100px;
}
.services__container {
  max-width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1760px) {
  .services__container {
    margin: 0 100px;
  }
}
@media (max-width: 1360px) {
  .services__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .services__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .services__container {
    margin: 0 20px;
  }
}
.services__container .services__link {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
  background-color: #28282c;
  border-color: #28282c;
  width: 270px;
  text-align: center;
  display: none;
}
.services__container .services__link:hover {
  background-color: #000101;
  border-color: #000101;
}
.services__container .services__link:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
@media (max-width: 960px) {
  .services__container .services__link {
    padding: 12px 16px;
    font-size: 16px;
  }
}
.services__container .services__link:hover {
  background-color: #b1a489;
  border-color: #b1a489;
}
.services__container .services__info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
  margin-bottom: 100px;
}
.services__container .services__info .services__wrap h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media (max-width: 1760px) {
  .services__container .services__info .services__wrap h2 {
    font-size: 46px;
  }
}
@media (max-width: 1600px) {
  .services__container .services__info .services__wrap h2 {
    font-size: 36px;
  }
}
@media (max-width: 1360px) {
  .services__container .services__info .services__wrap h2 {
    font-size: 32px;
  }
}
@media (max-width: 960px) {
  .services__container .services__info .services__wrap h2 {
    font-size: 26px;
  }
}
@media (max-width: 580px) {
  .services__container .services__info .services__wrap h2 {
    font-size: 24px;
  }
}
.services__container .services__info .services__wrap p {
  max-width: 900px;
  color: #454545;
  font-size: 20px;
}
.services__container .services__info a {
  display: block;
}
.services__container .services__content {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}
.services__container .services__content .services__tabs {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 480px;
}
.services__container .services__content .services__tabs li {
  list-style: none;
}
.services__container .services__content .services__tabs .tab {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
  width: 100%;
  border-radius: 0;
  padding: 34px 60px;
  background-color: #f8f8f8;
  font-size: 20px;
  font-weight: 500;
  color: #000101;
  display: flex;
  align-items: center;
  gap: 20px;
  border: none;
  text-transform: none;
  text-wrap: nowrap;
}
.services__container .services__content .services__tabs .tab:hover {
  background-color: #000101;
  border-color: #000101;
}
.services__container .services__content .services__tabs .tab:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
@media (max-width: 960px) {
  .services__container .services__content .services__tabs .tab {
    padding: 12px 16px;
    font-size: 16px;
  }
}
.services__container .services__content .services__tabs .tab span {
  position: relative;
}
.services__container .services__content .services__tabs .tab span::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}
.services__container .services__content .services__tabs .tab svg {
  min-width: 23px;
}
.services__container .services__content .services__tabs .tab svg path {
  transition: fill 0.3s ease-in-out;
}
.services__container .services__content .services__tabs .tab:hover {
  color: #ffffff;
}
.services__container .services__content .services__tabs .tab:hover svg path {
  fill: #ffffff;
}
.services__container .services__content .services__tabs .tab--active {
  background-color: #b1a489;
  color: #ffffff;
}
.services__container .services__content .services__tabs .tab--active span::after {
  transform: scale(1);
}
.services__container .services__content .services__tabs .tab--active svg path {
  fill: #ffffff;
}
.services__container .services__content .services__imgs {
  width: 100%;
  position: relative;
}
.services__container .services__content .services__imgs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #28282c;
}
.services__container .services__content .services__imgs .tab-content {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  filter: brightness(50%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.services__container .services__content .services__imgs .tab-content--active {
  opacity: 1;
  transform: translateY(0);
  filter: brightness(100%);
}

.achievement {
  margin-bottom: 100px;
}
.achievement__container {
  max-width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1760px) {
  .achievement__container {
    margin: 0 100px;
  }
}
@media (max-width: 1360px) {
  .achievement__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .achievement__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .achievement__container {
    margin: 0 20px;
  }
}
.achievement__container .achievement__info {
  margin-bottom: 60px;
}
.achievement__container .achievement__info h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}
@media (max-width: 1760px) {
  .achievement__container .achievement__info h2 {
    font-size: 46px;
  }
}
@media (max-width: 1600px) {
  .achievement__container .achievement__info h2 {
    font-size: 36px;
  }
}
@media (max-width: 1360px) {
  .achievement__container .achievement__info h2 {
    font-size: 32px;
  }
}
@media (max-width: 960px) {
  .achievement__container .achievement__info h2 {
    font-size: 26px;
  }
}
@media (max-width: 580px) {
  .achievement__container .achievement__info h2 {
    font-size: 24px;
  }
}
.achievement__container .achievement__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.achievement__container .achievement__content .card {
  padding: 75px 40px;
  border-radius: 15px;
  background-color: #f8f8f8;
  transition: background-color 0.3s ease-in-out;
}
.achievement__container .achievement__content .card h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 24px;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 1600px) {
  .achievement__container .achievement__content .card h3 {
    font-size: 26px;
  }
}
@media (max-width: 960px) {
  .achievement__container .achievement__content .card h3 {
    font-size: 22px;
  }
}
@media (max-width: 580px) {
  .achievement__container .achievement__content .card h3 {
    font-size: 20px;
  }
}
.achievement__container .achievement__content .card p {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  transition: color 0.3s ease-in-out;
}
.achievement__container .achievement__content .card--active {
  background-color: #28282c;
}
.achievement__container .achievement__content .card--active h3,
.achievement__container .achievement__content .card--active p {
  color: #ffffff;
}

.possibilities {
  padding-top: 100px;
  background-color: #f8f8f8;
  padding-bottom: 100px;
  margin-bottom: 100px;
}
.possibilities__container .possibilities__info {
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 100px;
}
@media (max-width: 1760px) {
  .possibilities__container .possibilities__info {
    margin: 0 100px;
  }
}
@media (max-width: 1360px) {
  .possibilities__container .possibilities__info {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .possibilities__container .possibilities__info {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .possibilities__container .possibilities__info {
    margin: 0 20px;
  }
}
.possibilities__container .possibilities__info h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media (max-width: 1760px) {
  .possibilities__container .possibilities__info h2 {
    font-size: 46px;
  }
}
@media (max-width: 1600px) {
  .possibilities__container .possibilities__info h2 {
    font-size: 36px;
  }
}
@media (max-width: 1360px) {
  .possibilities__container .possibilities__info h2 {
    font-size: 32px;
  }
}
@media (max-width: 960px) {
  .possibilities__container .possibilities__info h2 {
    font-size: 26px;
  }
}
@media (max-width: 580px) {
  .possibilities__container .possibilities__info h2 {
    font-size: 24px;
  }
}
.possibilities__container .possibilities__info p {
  max-width: 900px;
  color: #454545;
  font-size: 20px;
}
.possibilities__container .possibilities__content {
  border-radius: 15px;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  aspect-ratio: 1/1;
}
.possibilities__container .possibilities__content .card {
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.possibilities__container .possibilities__content .card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.possibilities__container .possibilities__content .card h3 {
  max-width: 390px;
  width: 100%;
  font-size: 26px;
  font-weight: 500;
  line-height: 100%;
  color: #000000;
}
.possibilities__container .possibilities__content .card p {
  max-width: 390px;
  color: #454545;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}
.possibilities__container .possibilities__content .card:first-child {
  aspect-ratio: 2/1;
  grid-column: span 2;
  border-bottom-right-radius: 15px;
}
.possibilities__container .possibilities__content .card:nth-child(4) {
  border-radius: 15px;
  background-color: #f8f8f8;
}
.possibilities__container .possibilities__content .card:nth-child(5) {
  border-radius: 15px 0 0 15px;
}
.possibilities__container .possibilities__content .card:nth-child(6) {
  border-bottom-left-radius: 15px;
}
.possibilities__container .possibilities__content .card:nth-child(7) {
  background-color: #b1a489;
  border-radius: 0 15px 15px 0;
  position: relative;
}
.possibilities__container .possibilities__content .card:nth-child(7)::before {
  position: absolute;
  bottom: -74px;
  right: -155px;
  content: url("../../assets/img/possibilities-decor.svg");
  opacity: 0.45;
}
.possibilities__container .possibilities__content .card:nth-child(7) h3,
.possibilities__container .possibilities__content .card:nth-child(7) p {
  color: #ffffff;
}

.reviews {
  margin-bottom: 100px;
}
.reviews__container {
  max-width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1760px) {
  .reviews__container {
    margin: 0 100px;
  }
}
@media (max-width: 1360px) {
  .reviews__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .reviews__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .reviews__container {
    margin: 0 20px;
  }
}
.reviews__container .reviews__info {
  margin-bottom: 60px;
  max-width: 960px;
}
.reviews__container .reviews__info h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media (max-width: 1760px) {
  .reviews__container .reviews__info h2 {
    font-size: 46px;
  }
}
@media (max-width: 1600px) {
  .reviews__container .reviews__info h2 {
    font-size: 36px;
  }
}
@media (max-width: 1360px) {
  .reviews__container .reviews__info h2 {
    font-size: 32px;
  }
}
@media (max-width: 960px) {
  .reviews__container .reviews__info h2 {
    font-size: 26px;
  }
}
@media (max-width: 580px) {
  .reviews__container .reviews__info h2 {
    font-size: 24px;
  }
}
.reviews__container .reviews__info p {
  color: #454545;
  font-size: 20px;
}
.reviews__container .reviews__content {
  padding: 40px 80px 60px 40px;
  background-color: #f8f8f8;
  border-radius: 15px;
  margin-bottom: 40px;
}
.reviews__container .reviews__content .reviews__wrap {
  max-height: 800px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.reviews__container .reviews__content .reviews__wrap .card {
  position: relative;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 60px;
}
.reviews__container .reviews__content .reviews__wrap .card .card__header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}
.reviews__container .reviews__content .reviews__wrap .card .card__header a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
  color: #000101;
  font-size: 26px;
  font-weight: 500;
}
.reviews__container .reviews__content .reviews__wrap .card .card__header a:hover {
  color: #b1a489;
}
@media (max-width: 960px) {
  .reviews__container .reviews__content .reviews__wrap .card .card__header a {
    font-size: 16px;
  }
}
.reviews__container .reviews__content .reviews__wrap .card .card__header .raiting {
  display: flex;
  gap: 10px;
  align-items: center;
}
.reviews__container .reviews__content .reviews__wrap .card .card__header .raiting span {
  font-size: 20px;
}
.reviews__container .reviews__content .reviews__wrap .card .card__header .raiting__wrap {
  display: flex;
  align-items: center;
  gap: 4px;
}
.reviews__container .reviews__content .reviews__wrap .card p {
  font-size: 20px;
  color: #454545;
  line-height: 100%;
  margin-bottom: 50px;
}
.reviews__container .reviews__content .reviews__wrap .card__gallery {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}
.reviews__container .reviews__content .reviews__wrap .card__gallery img {
  cursor: zoom-in;
  border-radius: 10px;
  width: 190px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews__container .reviews__content .reviews__wrap .card::after {
  content: url("../../assets/img/reviews-decor.svg");
  position: absolute;
  left: 0;
  top: 0;
}
.reviews__container .reviews__content .reviews__wrap::-webkit-scrollbar {
  width: 5px;
  border-radius: 18px;
}
.reviews__container .reviews__content .reviews__wrap::-webkit-scrollbar-track {
  background-color: rgba(148, 148, 148, 0.1411764706);
  border-radius: 18px;
}
.reviews__container .reviews__content .reviews__wrap::-webkit-scrollbar-thumb {
  background-color: #28282c;
  border-radius: 18px;
}
.reviews__container .reviews__link {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
}
.reviews__container .reviews__link:hover {
  background-color: #000101;
  border-color: #000101;
}
.reviews__container .reviews__link:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
@media (max-width: 960px) {
  .reviews__container .reviews__link {
    padding: 12px 16px;
    font-size: 16px;
  }
}

.social {
  margin-bottom: 100px;
}
.social__container {
  max-width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1760px) {
  .social__container {
    margin: 0 100px;
  }
}
@media (max-width: 1360px) {
  .social__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .social__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .social__container {
    margin: 0 20px;
  }
}
.social__container .social__info {
  margin-bottom: 40px;
}
.social__container .social__info h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}
@media (max-width: 1760px) {
  .social__container .social__info h2 {
    font-size: 46px;
  }
}
@media (max-width: 1600px) {
  .social__container .social__info h2 {
    font-size: 36px;
  }
}
@media (max-width: 1360px) {
  .social__container .social__info h2 {
    font-size: 32px;
  }
}
@media (max-width: 960px) {
  .social__container .social__info h2 {
    font-size: 26px;
  }
}
@media (max-width: 580px) {
  .social__container .social__info h2 {
    font-size: 24px;
  }
}
.social__container .social__content {
  background-color: #1e1e1e;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__container .social__content .telegram {
  padding-top: 50px;
  padding-bottom: 30px;
  max-width: 360px;
}
.social__container .social__content .telegram a {
  color: #62b0e9;
  transition: color 0.3s ease-in-out;
}
.social__container .social__content .telegram a:hover {
  color: #1c93e3;
}
.social__container .social__content .telegram__header {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 12px;
}
.social__container .social__content .telegram__header img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.social__container .social__content .telegram__header .telegram__name h3 {
  color: #fefefe;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.social__container .social__content .telegram__content p {
  color: #fefefe;
  line-height: 150%;
  margin-bottom: 20px;
}
.social__container .social__content .telegram__content button {
  width: 100%;
  color: #fefefe;
  background-color: #1c93e3;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.social__container .social__content .telegram__content button:hover {
  background-color: #62b0e9;
}

.contactForm {
  background-color: #28282c;
  padding-top: 100px;
}
.contactForm__container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  margin-bottom: 100px;
}
@media (max-width: 1760px) {
  .contactForm__container {
    margin: 0 100px;
  }
}
@media (max-width: 1360px) {
  .contactForm__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .contactForm__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .contactForm__container {
    margin: 0 20px;
  }
}
.contactForm__container .contactForm__info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contactForm__container .contactForm__info h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 1760px) {
  .contactForm__container .contactForm__info h2 {
    font-size: 46px;
  }
}
@media (max-width: 1600px) {
  .contactForm__container .contactForm__info h2 {
    font-size: 36px;
  }
}
@media (max-width: 1360px) {
  .contactForm__container .contactForm__info h2 {
    font-size: 32px;
  }
}
@media (max-width: 960px) {
  .contactForm__container .contactForm__info h2 {
    font-size: 26px;
  }
}
@media (max-width: 580px) {
  .contactForm__container .contactForm__info h2 {
    font-size: 24px;
  }
}
.contactForm__container .contactForm__info p {
  font-size: 20px;
  color: #ffffff;
}
.contactForm__container .contactForm__info .personal {
  display: flex;
  gap: 30px;
}
.contactForm__container .contactForm__info .personal img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fff;
}
.contactForm__container .contactForm__info .personal__wrap h4 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 4px;
}
.contactForm__container .contactForm__info .personal__wrap h5 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 20px;
}
.contactForm__container .contactForm__info .personal__wrap p {
  font-size: 18px;
  font-weight: 400;
}
.contactForm__container form .form-table {
  width: 100%;
}
.contactForm__container form .form-table .input {
  width: 100%;
  padding: 16px 26px;
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.0509803922);
  color: #454545;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  margin-bottom: 12px;
}
.contactForm__container form .form-table .input:hover {
  border-color: #000000;
}
.contactForm__container form .form-table .input:focus-visible {
  border-color: rgba(0, 0, 0, 0.4);
  outline: 2px solid rgba(0, 0, 0, 0.4);
}
.contactForm__container form .form-table .input:active {
  border-color: #000000;
}
@media (max-width: 960px) {
  .contactForm__container form .form-table .input {
    padding: 11px 20px;
    font-size: 16px;
  }
}
.contactForm__container form .form-table .form__required {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-bottom: 30px;
}
.contactForm__container form .form-table .form__required .checkbox {
  display: block;
  position: relative;
  height: 30px;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.contactForm__container form .form-table .form__required .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.contactForm__container form .form-table .form__required .checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.0509803922);
  background-color: #ffffff;
  border-radius: 8px;
}
.contactForm__container form .form-table .form__required .checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 10px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.contactForm__container form .form-table .form__required .checkbox input:checked ~ .checkmark {
  background-color: #b1a489;
}
.contactForm__container form .form-table .form__required .checkbox input:checked ~ .checkmark:after {
  display: block;
}
.contactForm__container form .form-table .form__required p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
}
.contactForm__container form .form-table .form__required p a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 400;
}
.contactForm__container form .form-table .form__required p a:hover {
  color: #b1a489;
}
@media (max-width: 960px) {
  .contactForm__container form .form-table .form__required p a {
    font-size: 16px;
  }
}
.contactForm__container form .form-table input[type=submit] {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
  width: unset;
  padding: 20px 60px;
}
.contactForm__container form .form-table input[type=submit]:hover {
  background-color: #000101;
  border-color: #000101;
}
.contactForm__container form .form-table input[type=submit]:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
@media (max-width: 960px) {
  .contactForm__container form .form-table input[type=submit] {
    padding: 12px 16px;
    font-size: 16px;
  }
}
.contactForm__container form tfoot th {
  text-align: start;
}
.contactForm img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.comfort {
  background-color: #f8f8f8;
  padding: 100px 0;
}
.comfort__container {
  max-width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1760px) {
  .comfort__container {
    margin: 0 100px;
  }
}
@media (max-width: 1360px) {
  .comfort__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .comfort__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .comfort__container {
    margin: 0 20px;
  }
}
.comfort__container .comfort__info {
  margin-bottom: 40px;
}
.comfort__container .comfort__info h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}
@media (max-width: 1760px) {
  .comfort__container .comfort__info h2 {
    font-size: 46px;
  }
}
@media (max-width: 1600px) {
  .comfort__container .comfort__info h2 {
    font-size: 36px;
  }
}
@media (max-width: 1360px) {
  .comfort__container .comfort__info h2 {
    font-size: 32px;
  }
}
@media (max-width: 960px) {
  .comfort__container .comfort__info h2 {
    font-size: 26px;
  }
}
@media (max-width: 580px) {
  .comfort__container .comfort__info h2 {
    font-size: 24px;
  }
}
.comfort__container .comfort__content p {
  color: #454545;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 1760px) {
  .header {
    margin: 0;
    left: 100px;
    right: 100px;
    width: unset;
    transform: none;
  }
  .banner__container .banner__wrap .banner__list li {
    font-size: 18px;
    font-weight: 500;
  }
  .filter {
    margin-bottom: 60px;
  }
  .filter__container h2 {
    margin-bottom: 40px;
  }
  .projects {
    margin-bottom: 60px;
  }
  .projects__container .projects__info {
    margin-bottom: 40px;
  }
  .projects__container .projects__info .projects__wrap p {
    font-size: 18px;
  }
  .projects__container .projects__content .card {
    height: 350px;
  }
  .services {
    margin-bottom: 60px;
  }
  .services__container .services__info {
    margin-bottom: 40px;
  }
  .services__container .services__info .services__wrap p {
    font-size: 18px;
  }
  .services__container .services__content .services__tabs .tab {
    padding: 24px 42px;
    font-size: 18px;
  }
  .services__container .services__content .services__tabs .tab span::after {
    height: 1px;
  }
  .achievement {
    margin-bottom: 60px;
  }
  .achievement__container .achievement__info {
    margin-bottom: 40px;
  }
  .achievement__container .achievement__content .card {
    padding: 45px 20px;
  }
  .achievement__container .achievement__content .card p {
    font-size: 18px;
  }
  .possibilities {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
  }
  .possibilities__container .possibilities__info {
    margin-bottom: 40px;
  }
  .possibilities__container .possibilities__info p {
    font-size: 18px;
  }
  .possibilities__container .possibilities__content .card p {
    font-size: 18px;
  }
  .possibilities__container .possibilities__content .card:nth-child(7)::before {
    display: none;
  }
  .reviews {
    margin-bottom: 60px;
  }
  .reviews__container .reviews__info {
    margin-bottom: 40px;
  }
  .reviews__container .reviews__info p {
    font-size: 18px;
  }
  .reviews__container .reviews__content {
    padding: 40px;
  }
  .reviews__container .reviews__content .reviews__wrap {
    gap: 40px;
    max-height: 65vh;
  }
  .reviews__container .reviews__content .reviews__wrap .card {
    padding-right: 40px;
  }
  .reviews__container .reviews__content .reviews__wrap .card p {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .reviews__container .reviews__content .reviews__wrap .card__gallery img {
    width: 150px;
    height: 110px;
  }
  .social {
    margin-bottom: 60px;
  }
  .contactForm {
    padding-top: 60px;
  }
  .contactForm__container {
    padding: 0;
    margin-bottom: 60px;
  }
  .contactForm__container .contactForm__info {
    gap: 24px;
  }
  .contactForm__container .contactForm__info p {
    font-size: 18px;
  }
  .contactForm__container .contactForm__info .personal__wrap h5 {
    margin-bottom: 16px;
  }
  .contactForm__container .contactForm__info .personal__wrap p {
    font-size: 16px;
  }
  .contactForm img {
    max-height: 600px;
  }
  .comfort {
    padding: 60px 0;
  }
  .comfort__container .comfort__info {
    margin-bottom: 40px;
  }
  .comfort__container .comfort__content p {
    font-size: 18px;
  }
}
@media (max-width: 1360px) {
  .header {
    margin: 0;
    left: 60px;
    right: 60px;
  }
  .filter__container {
    padding: 45px 0;
  }
  .projects__container .projects__content .card {
    height: 290px;
  }
  .projects__container .projects__content .card__tag {
    left: 20px;
  }
  .services__container .services__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .services__container .services__content .services__tabs {
    min-width: unset;
  }
  .services__container .services__content .services__tabs .tab {
    font-size: 18px;
  }
  .achievement__container {
    max-width: 1600px;
    margin: 0 auto;
  }
}
@media (max-width: 1360px) and (max-width: 1760px) {
  .achievement__container {
    margin: 0 100px;
  }
}
@media (max-width: 1360px) and (max-width: 1360px) {
  .achievement__container {
    margin: 0 60px;
  }
}
@media (max-width: 1360px) and (max-width: 960px) {
  .achievement__container {
    margin: 0 40px;
  }
}
@media (max-width: 1360px) and (max-width: 700px) {
  .achievement__container {
    margin: 0 20px;
  }
}
@media (max-width: 1360px) {
  .achievement__container .achievement__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .achievement__container .achievement__content .card {
    padding: 30px;
  }
  .possibilities__container .possibilities__content {
    aspect-ratio: unset;
  }
  .possibilities__container .possibilities__content .card h3 {
    margin-top: 50px;
    max-width: 250px;
  }
  .possibilities__container .possibilities__content .card p {
    margin-bottom: 50px;
    max-width: 250px;
  }
  .possibilities__container .possibilities__content .card:nth-child(7)::before {
    display: none;
  }
  .reviews__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social {
    margin-bottom: 60px;
  }
  .contactForm {
    padding-top: 60px;
  }
  .contactForm__container {
    padding: 0;
    margin-bottom: 60px;
  }
  .comfort {
    padding: 60px 0;
  }
}
@media (max-width: 960px) {
  .header {
    margin: 0;
    left: 40px;
    right: 40px;
  }
  .banner {
    height: unset;
  }
  .banner img {
    display: block;
  }
  .banner video {
    display: none;
  }
  .banner__container {
    padding: 195px 0 55px 0;
  }
  .banner__container h1 {
    margin-bottom: 32px;
  }
  .banner__container .banner__wrap {
    flex-direction: column;
    gap: 28px;
  }
  .banner__container .banner__wrap .banner__list {
    gap: 12px;
  }
  .banner__container .banner__wrap .banner__list li {
    font-size: 16px;
  }
  .banner__container .banner__wrap .banner__list li::after {
    content: "";
    width: 20px;
    height: 100%;
    background-image: url("../../assets/img/banner-list.svg");
    background-size: contain;
  }
  .filter {
    margin-bottom: 40px;
  }
  .filter__container h2 {
    margin-bottom: 30px;
  }
  .filter__container .filter__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .filter__container .filter__form .form__wrap {
    display: contents;
  }
  .filter__container .filter__form button {
    grid-area: 3/2/4/3;
  }
  .projects {
    margin-bottom: 40px;
  }
  .projects__container .projects__info {
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
  }
  .projects__container .projects__info .projects__wrap p {
    font-size: 16px;
  }
  .projects__container .projects__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects__container .projects__content .card {
    height: 250px;
  }
  .projects__container .projects__content .card__tag {
    padding: 5px 10px;
    left: 20px;
  }
  .services {
    margin-bottom: 40px;
  }
  .services__container .services__info {
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
  }
  .services__container .services__info .services__wrap p {
    font-size: 16px;
  }
  .services__container .services__content {
    display: flex;
    flex-direction: column;
  }
  .services__container .services__content .services__tabs {
    min-width: unset;
  }
  .services__container .services__content .services__tabs .tab {
    padding: 18px 32px;
    font-size: 16px;
  }
  .services__container .services__content .services__imgs {
    height: 400px;
    overflow: hidden;
  }
  .achievement {
    margin-bottom: 40px;
  }
  .achievement__container .achievement__info {
    margin-bottom: 30px;
  }
  .achievement__container .achievement__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .achievement__container .achievement__content .card h3 {
    margin-bottom: 12px;
  }
  .achievement__container .achievement__content .card p {
    font-size: 16px;
  }
  .possibilities {
    padding: 30px 0;
    margin-bottom: 40px;
  }
  .possibilities__container .possibilities__info {
    margin-bottom: 30px;
  }
  .possibilities__container .possibilities__info p {
    font-size: 16px;
  }
  .possibilities__container .possibilities__content {
    aspect-ratio: unset;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 300px);
  }
  .possibilities__container .possibilities__content .card {
    aspect-ratio: unset !important;
    grid-column: unset !important;
    border-radius: unset !important;
    max-height: 480px;
    min-height: 250px;
  }
  .possibilities__container .possibilities__content .card h3 {
    max-width: unset;
    padding: 0 20px;
    margin-top: 40px;
  }
  .possibilities__container .possibilities__content .card p {
    max-width: unset;
    padding: 0 20px;
    margin-bottom: 40px;
    font-size: 16px;
  }
  .possibilities__container .possibilities__content .card:first-child {
    order: 1;
  }
  .possibilities__container .possibilities__content .card:nth-child(2) {
    order: 2;
  }
  .possibilities__container .possibilities__content .card:nth-child(3) {
    order: 4;
    background-color: #f8f8f8;
  }
  .possibilities__container .possibilities__content .card:nth-child(4) {
    order: 5;
  }
  .possibilities__container .possibilities__content .card:nth-child(5) {
    order: 3;
  }
  .possibilities__container .possibilities__content .card:nth-child(6) {
    order: 6;
  }
  .possibilities__container .possibilities__content .card:nth-child(7) {
    order: 7;
  }
  .possibilities__container .possibilities__content .card:nth-child(8) {
    order: 8;
  }
  .reviews {
    margin-bottom: 40px;
  }
  .reviews__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reviews__container .reviews__info {
    margin-bottom: 30px;
  }
  .reviews__container .reviews__info p {
    font-size: 16px;
  }
  .reviews__container .reviews__content {
    padding: 30px;
  }
  .reviews__container .reviews__content .reviews__wrap .card {
    padding: 0;
    padding-right: 20px;
  }
  .reviews__container .reviews__content .reviews__wrap .card .card__header a {
    font-size: 20px;
  }
  .reviews__container .reviews__content .reviews__wrap .card p {
    font-size: 16px;
  }
  .reviews__container .reviews__content .reviews__wrap .card::after {
    display: none;
  }
  .social {
    margin-bottom: 40px;
  }
  .social__container .social__info {
    margin-bottom: 30px;
  }
  .contactForm {
    padding-top: 30px;
  }
  .contactForm__container {
    padding: 0;
    margin-bottom: 40px;
    display: block;
  }
  .contactForm__container .contactForm__info {
    margin-bottom: 30px;
  }
  .contactForm__container .contactForm__info p {
    font-size: 16px;
  }
  .contactForm__container form .form-table {
    width: 100%;
  }
  .contactForm__container form .form-table .form__required p {
    font-size: 16px;
  }
  .contactForm__container form .form-table .form__required p a {
    font-size: 16px;
  }
  .comfort {
    padding: 30px 0;
  }
  .comfort__container .comfort__info {
    margin-bottom: 30px;
  }
  .comfort__container .comfort__content p {
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  .header {
    margin: 0;
    left: 20px;
    right: 20px;
  }
}
@media (max-width: 580px) {
  .banner {
    height: unset;
  }
  .banner__container {
    padding: 165px 0 45px 0;
  }
  .banner__container h1 {
    margin-bottom: 18px;
  }
  .banner__container .banner__wrap {
    flex-direction: column;
    gap: 28px;
  }
  .banner__container .banner__wrap button {
    font-size: 16px;
    width: 100%;
  }
  .filter {
    margin-bottom: 30px;
  }
  .filter__container {
    padding: 30px 0;
  }
  .filter__container h2 {
    margin-bottom: 16px;
  }
  .filter__container .filter__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .filter__container .filter__form button {
    margin-top: 5px;
    grid-area: 3/2/4/3;
  }
  .projects {
    margin-bottom: 30px;
  }
  .projects .projects__link {
    display: block;
    width: calc(100% - 40px);
  }
  .projects__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
  .projects__container .projects__info {
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
  }
  .projects__container .projects__info .projects__wrap h2 {
    margin-bottom: 10px;
  }
  .projects__container .projects__info a {
    display: none;
  }
  .projects__container .projects__content {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    border-radius: 0;
  }
  .projects__container .projects__content .card {
    border-radius: 15px;
    height: unset;
    max-height: 250px;
    overflow: hidden;
  }
  .projects__container .projects__content .card__tag {
    left: 20px;
  }
  .services {
    margin-bottom: 30px;
  }
  .services__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
  .services__container .services__link {
    display: block;
    width: 100%;
  }
  .services__container .services__info {
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
  }
  .services__container .services__info .services__wrap h2 {
    margin-bottom: 16px;
  }
  .services__container .services__info a {
    display: none;
  }
  .services__container .services__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .services__container .services__content .services__tabs {
    min-width: unset;
  }
  .services__container .services__content .services__tabs .tab {
    padding: 12px 24px;
    text-wrap: wrap;
    justify-content: center;
  }
  .services__container .services__content .services__tabs .tab svg {
    display: none;
  }
  .services__container .services__content .services__imgs {
    height: 240px;
    overflow: hidden;
  }
  .achievement {
    margin-bottom: 30px;
  }
  .achievement__container .achievement__info {
    margin-bottom: 18px;
  }
  .achievement__container .achievement__info h2 {
    margin-bottom: 16px;
  }
  .achievement__container .achievement__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .achievement__container .achievement__content .card {
    padding: 20px 10px;
  }
  .achievement__container .achievement__content .card h3 {
    font-size: 18px;
  }
  .achievement__container .achievement__content .card p {
    font-size: 14px;
  }
  .possibilities {
    padding-bottom: 0;
    margin-bottom: 30px;
    padding-top: 30px;
  }
  .possibilities__container .possibilities__info {
    margin-bottom: 18px;
  }
  .possibilities__container .possibilities__info h2 {
    margin-bottom: 16px;
  }
  .possibilities__container .possibilities__content {
    display: flex;
    flex-direction: column;
  }
  .possibilities__container .possibilities__content .card {
    max-height: 350px;
  }
  .possibilities__container .possibilities__content .card h3 {
    margin-top: 30px;
  }
  .possibilities__container .possibilities__content .card p {
    margin-bottom: 30px;
  }
  .reviews {
    margin-bottom: 30px;
  }
  .reviews__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reviews__container .reviews__info {
    margin-bottom: 18px;
  }
  .reviews__container .reviews__info h2 {
    margin-bottom: 16px;
  }
  .reviews__container .reviews__content {
    padding: 15px 20px;
    margin-bottom: 20px;
  }
  .reviews__container .reviews__content .reviews__wrap {
    gap: 24px;
  }
  .reviews__container .reviews__content .reviews__wrap .card {
    padding: 0;
    padding-right: 20px;
  }
  .reviews__container .reviews__content .reviews__wrap .card .card__header {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
  .reviews__container .reviews__content .reviews__wrap .card .card__header a {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px;
  }
  .reviews__container .reviews__content .reviews__wrap .card .card__header .raiting__wrap img {
    width: 16px;
    height: 16px;
  }
  .reviews__container .reviews__content .reviews__wrap .card .card__header .raiting span {
    font-size: 16px;
  }
  .reviews__container .reviews__content .reviews__wrap .card p {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .reviews__container .reviews__content .reviews__wrap .card__gallery {
    display: none;
  }
  .reviews__container .reviews__content .reviews__wrap .card::after {
    display: none;
  }
  .social {
    margin-bottom: 30px;
  }
  .social__container .social__info {
    margin-bottom: 18px;
  }
  .social__container .social__info h2 {
    margin-bottom: 16px;
  }
  .social__container .social__content .telegram {
    max-width: 300px;
  }
  .contactForm__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .contactForm__container .contactForm__info {
    margin-bottom: 0;
    display: contents;
  }
  .contactForm__container .contactForm__info h2 {
    margin-bottom: 16px;
  }
  .contactForm__container .contactForm__info .personal {
    order: 1;
    gap: 20px;
  }
  .contactForm__container .contactForm__info .personal img {
    min-width: 80px;
    width: 80px;
    height: 80px;
  }
  .contactForm__container .contactForm__info .personal__wrap h4 {
    font-size: 16px;
  }
  .contactForm__container .contactForm__info .personal__wrap h5 {
    font-size: 16px;
  }
  .contactForm__container .contactForm__info .personal__wrap p {
    font-size: 14px;
  }
  .contactForm__container form .form-table {
    width: 100%;
  }
  .contactForm__container form .form-table input[type=submit] {
    width: 100%;
  }
  .contactForm img {
    height: 250px;
  }
  .comfort {
    padding: 30px 0;
  }
  .comfort__container .comfort__info {
    margin-bottom: 18px;
  }
  .comfort__container .comfort__info h2 {
    margin-bottom: 16px;
  }
}/*# sourceMappingURL=style-index.css.map */