@font-face {
  font-family: "Noah";
  src: local("Noah-Regular"), local("Noah Regular"), url("../../assets/fonts/Noah-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: local("Noah-Medium"), local("Noah Medium"), url("../../assets/fonts/Noah-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: local("Noah-Bold"), local("Noah Bold"), url("../../assets/fonts/Noah-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), local("Montserrat Medium"), url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
.banner {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.banner img {
  z-index: 10;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
}
.banner__container {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  padding-top: 110px;
  position: relative;
  z-index: 20;
}
.banner__container h1 {
  font-size: 70px;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  line-height: 120%;
  max-width: 1200px;
  color: #ffffff;
  margin-bottom: 48px;
}
.banner__container .banner__wrap {
  display: flex;
  align-items: start;
  gap: 38px;
}
.banner__container .banner__wrap button {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  place-items: center;
}
.banner__container .banner__wrap button:hover {
  background-color: #000101;
  border-color: #000101;
}
.banner__container .banner__wrap button:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
.banner__container .banner__wrap button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, hsla(0, 0%, 0%, 0) 60%, rgba(255, 255, 255, 0.4) 70%, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0) 100%);
  transition: 1.1s ease;
  background-size: 450% 450%, 100% 100%;
  background-repeat: no-repeat;
  background-position: -100% -100%, 0 0;
}
.banner__container .banner__wrap button:hover {
  cursor: pointer;
  background-color: #b1a489;
  border: 2px solid #b1a489;
}
.banner__container .banner__wrap button:hover::before {
  background-position: 100% 100%, 0 0;
}
.banner__container .banner__wrap .banner__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner__container .banner__wrap .banner__list li {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding-left: 34px;
}
.banner__container .banner__wrap .banner__list li::after {
  content: url("../../assets/img/banner-list.svg");
  position: absolute;
  left: 0;
}

.filter {
  background-color: #28282c;
  border-radius: 0 0 15px 15px;
  margin-bottom: 100px;
}
.filter__container {
  padding: 60px 0;
  max-width: 1600px;
  margin: 0 auto;
}
.filter__container h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 60px;
}
.filter__container .filter__form {
  display: flex;
  gap: 15px;
}
.filter__container .filter__form .form__wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.filter__container .filter__form .form__wrap .choices {
  margin: 0;
}
.filter__container .filter__form .form__wrap .choices__inner {
  padding: 16px 26px;
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.0509803922);
  color: #454545;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
}
.filter__container .filter__form .form__wrap .choices__list {
  padding: 0;
  font-size: 18px;
  font-weight: 400;
}
.filter__container .filter__form .form__wrap .choices__item {
  font-size: 18px;
  font-weight: 400;
}
.filter__container .filter__form .form__wrap .choices__list--dropdown {
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.0509803922);
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding-bottom: 20px;
}
.filter__container .filter__form .form__wrap .choices__item--choice {
  padding: 5px 20px;
}
.filter__container .filter__form .form__wrap .choices__item--choice[aria-selected=true] {
  position: relative;
  background-color: #777777;
  color: #ffffff;
  font-weight: 700;
}
.filter__container .filter__form .form__wrap .choices__item--choice:first-child {
  display: none;
}
.filter__container .filter__form .form__wrap .choices::after {
  width: 13px;
  height: 13px;
  border: none;
  background-image: url("../../assets/img/select-arrow.svg");
  margin-top: 0;
  transform: translateY(-50%);
}
.filter__container .filter__form .form__wrap .choices.is-open::after {
  transform: translateY(-50%) rotate(180deg);
  transform-origin: center;
}
.filter__container .filter__form .form__wrap .choices.is-open .choices__inner {
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}
.filter__container .filter__form .form__wrap .choices__list--dropdown {
  margin: 10px 0;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.0705882353);
  background-color: #f9f9f9;
  padding: 20px 0;
}
.filter__container .filter__form .form__wrap .choices.is-open .choices__inner {
  border-radius: 10px;
}
.filter__container .filter__form button {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
  text-wrap: nowrap;
}
.filter__container .filter__form button:hover {
  background-color: #000101;
  border-color: #000101;
}
.filter__container .filter__form button:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}

.projects {
  margin-bottom: 100px;
}
.projects__container .projects__info {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
  margin-bottom: 100px;
}
.projects__container .projects__info .projects__wrap h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.projects__container .projects__info .projects__wrap p {
  max-width: 900px;
  color: #454545;
  font-size: 20px;
}
.projects__container .projects__info a {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
  background-color: #28282c;
  border-color: #28282c;
}
.projects__container .projects__info a:hover {
  background-color: #000101;
  border-color: #000101;
}
.projects__container .projects__info a:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
.projects__container .projects__content {
  max-width: 1920px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.projects__container .projects__content .card {
  position: relative;
  height: 400px;
}
.projects__container .projects__content .card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(80%);
  transition: filter 0.3s ease-in-out;
}
.projects__container .projects__content .card__tag {
  z-index: 1;
  position: absolute;
  width: 235px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  color: #000101;
  padding: 9px 0;
  left: 30px;
  bottom: 20px;
}
.projects__container .projects__content .card:hover img {
  filter: brightness(100%);
}

.services {
  margin-bottom: 100px;
}
.services__container {
  max-width: 1600px;
  margin: 0 auto;
}
.services__container .services__info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
  margin-bottom: 100px;
}
.services__container .services__info .services__wrap h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.services__container .services__info .services__wrap p {
  max-width: 900px;
  color: #454545;
  font-size: 20px;
}
.services__container .services__info a {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
  background-color: #28282c;
  border-color: #28282c;
}
.services__container .services__info a:hover {
  background-color: #000101;
  border-color: #000101;
}
.services__container .services__info a:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
.services__container .services__content {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}
.services__container .services__content .services__tabs {
  display: flex;
  flex-direction: column;
  min-width: 480px;
}
.services__container .services__content .services__tabs .tab {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
  width: 100%;
  border-radius: 0;
  padding: 34px 60px;
  background-color: #f8f8f8;
  font-size: 20px;
  font-weight: 500;
  color: #000101;
  display: flex;
  align-items: center;
  gap: 20px;
  border: none;
  text-transform: none;
  text-wrap: nowrap;
}
.services__container .services__content .services__tabs .tab:hover {
  background-color: #000101;
  border-color: #000101;
}
.services__container .services__content .services__tabs .tab:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
.services__container .services__content .services__tabs .tab span {
  position: relative;
}
.services__container .services__content .services__tabs .tab span::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}
.services__container .services__content .services__tabs .tab svg {
  min-width: 23px;
}
.services__container .services__content .services__tabs .tab svg path {
  transition: fill 0.3s ease-in-out;
}
.services__container .services__content .services__tabs .tab:hover {
  color: #ffffff;
}
.services__container .services__content .services__tabs .tab:hover svg path {
  fill: #ffffff;
}
.services__container .services__content .services__tabs .tab--active {
  background-color: #b1a489;
  color: #ffffff;
}
.services__container .services__content .services__tabs .tab--active span::after {
  transform: scale(1);
}
.services__container .services__content .services__tabs .tab--active svg path {
  fill: #ffffff;
}
.services__container .services__content .services__imgs {
  width: 100%;
  position: relative;
}
.services__container .services__content .services__imgs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #28282c;
}
.services__container .services__content .services__imgs .tab-content {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  filter: brightness(50%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.services__container .services__content .services__imgs .tab-content--active {
  opacity: 1;
  transform: translateY(0);
  filter: brightness(100%);
}

.achievement {
  margin-bottom: 100px;
}
.achievement__container {
  max-width: 1600px;
  margin: 0 auto;
}
.achievement__container .achievement__info {
  margin-bottom: 60px;
}
.achievement__container .achievement__info h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}
.achievement__container .achievement__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.achievement__container .achievement__content .card {
  padding: 75px 40px;
  border-radius: 15px;
  background-color: #f8f8f8;
  transition: background-color 0.3s ease-in-out;
}
.achievement__container .achievement__content .card h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 24px;
  transition: color 0.3s ease-in-out;
}
.achievement__container .achievement__content .card p {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  transition: color 0.3s ease-in-out;
}
.achievement__container .achievement__content .card--active {
  background-color: #28282c;
}
.achievement__container .achievement__content .card--active h3,
.achievement__container .achievement__content .card--active p {
  color: #ffffff;
}

.possibilities {
  padding-top: 100px;
  background-color: #f8f8f8;
  padding-bottom: 100px;
  margin-bottom: 100px;
}
.possibilities__container .possibilities__info {
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.possibilities__container .possibilities__info h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.possibilities__container .possibilities__info p {
  max-width: 900px;
  color: #454545;
  font-size: 20px;
}
.possibilities__container .possibilities__content {
  border-radius: 15px;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  aspect-ratio: 1/1;
}
.possibilities__container .possibilities__content .card {
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.possibilities__container .possibilities__content .card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.possibilities__container .possibilities__content .card h3 {
  max-width: 390px;
  width: 100%;
  font-size: 26px;
  font-weight: 500;
  line-height: 100%;
  color: #000000;
}
.possibilities__container .possibilities__content .card p {
  max-width: 390px;
  color: #454545;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}
.possibilities__container .possibilities__content .card:first-child {
  aspect-ratio: 2/1;
  grid-column: span 2;
  border-bottom-right-radius: 15px;
}
.possibilities__container .possibilities__content .card:nth-child(4) {
  border-radius: 15px;
  background-color: #f8f8f8;
}
.possibilities__container .possibilities__content .card:nth-child(5) {
  border-radius: 15px 0 0 15px;
}
.possibilities__container .possibilities__content .card:nth-child(6) {
  border-bottom-left-radius: 15px;
}
.possibilities__container .possibilities__content .card:nth-child(7) {
  background-color: #b1a489;
  border-radius: 0 15px 15px 0;
  position: relative;
}
.possibilities__container .possibilities__content .card:nth-child(7)::before {
  position: absolute;
  bottom: -74px;
  right: -155px;
  content: url("../../assets/img/possibilities-decor.svg");
  opacity: 0.45;
}
.possibilities__container .possibilities__content .card:nth-child(7) h3,
.possibilities__container .possibilities__content .card:nth-child(7) p {
  color: #ffffff;
}

.reviews {
  margin-bottom: 100px;
}
.reviews__container {
  max-width: 1600px;
  margin: 0 auto;
}
.reviews__container .reviews__info {
  margin-bottom: 60px;
  max-width: 960px;
}
.reviews__container .reviews__info h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.reviews__container .reviews__info p {
  color: #454545;
  font-size: 20px;
}
.reviews__container .reviews__content {
  padding: 40px 80px 60px 40px;
  background-color: #f8f8f8;
  border-radius: 15px;
  margin-bottom: 40px;
}
.reviews__container .reviews__content .reviews__wrap {
  max-height: 800px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.reviews__container .reviews__content .reviews__wrap .card {
  position: relative;
  padding-left: 40px;
  padding-top: 20px;
}
.reviews__container .reviews__content .reviews__wrap .card a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
  color: #000101;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
}
.reviews__container .reviews__content .reviews__wrap .card a:hover {
  color: #b1a489;
}
.reviews__container .reviews__content .reviews__wrap .card p {
  font-size: 20px;
  color: #454545;
  line-height: 100%;
  margin-bottom: 50px;
}
.reviews__container .reviews__content .reviews__wrap .card__gallery {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}
.reviews__container .reviews__content .reviews__wrap .card__gallery img {
  border-radius: 10px;
  width: 190px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews__container .reviews__content .reviews__wrap .card .raiting {
  position: absolute;
  top: 20px;
  right: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}
.reviews__container .reviews__content .reviews__wrap .card .raiting span {
  font-size: 20px;
}
.reviews__container .reviews__content .reviews__wrap .card::after {
  content: url("../../assets/img/reviews-decor.svg");
  position: absolute;
  left: 0;
  top: 0;
}
.reviews__container .reviews__content .reviews__wrap::-webkit-scrollbar {
  width: 5px;
  border-radius: 18px;
}
.reviews__container .reviews__content .reviews__wrap::-webkit-scrollbar-track {
  background-color: rgba(148, 148, 148, 0.1411764706);
  border-radius: 18px;
}
.reviews__container .reviews__content .reviews__wrap::-webkit-scrollbar-thumb {
  background-color: #28282c;
  border-radius: 18px;
}
.reviews__container .reviews__link {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
}
.reviews__container .reviews__link:hover {
  background-color: #000101;
  border-color: #000101;
}
.reviews__container .reviews__link:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}

.social {
  margin-bottom: 100px;
}
.social__container {
  max-width: 1600px;
  margin: 0 auto;
}
.social__container .social__info {
  margin-bottom: 40px;
}
.social__container .social__info h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}
.social__container .social__content {
  background-color: #1e1e1e;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactForm {
  background-color: #28282c;
  padding: 100px 0;
}
.contactForm__container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
.contactForm__container .contactForm__info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contactForm__container .contactForm__info h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
}
.contactForm__container .contactForm__info p {
  font-size: 20px;
  color: #ffffff;
}
.contactForm__container .contactForm__info .personal {
  display: flex;
  gap: 30px;
}
.contactForm__container .contactForm__info .personal img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fff;
}
.contactForm__container .contactForm__info .personal__wrap h4 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 4px;
}
.contactForm__container .contactForm__info .personal__wrap h5 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 20px;
}
.contactForm__container .contactForm__info .personal__wrap p {
  font-size: 18px;
  font-weight: 400;
}
.contactForm__container .contactForm__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contactForm__container .contactForm__form .input {
  padding: 16px 26px;
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.0509803922);
  color: #454545;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
  font-size: 18px;
  font-weight: 400;
}
.contactForm__container .contactForm__form .input:hover {
  border-color: #000000;
}
.contactForm__container .contactForm__form .input:focus-visible {
  border-color: rgba(0, 0, 0, 0.4);
  outline: 2px solid rgba(0, 0, 0, 0.4);
}
.contactForm__container .contactForm__form .input:active {
  border-color: #000000;
}
.contactForm__container .contactForm__form .form__required {
  display: flex;
  gap: 25px;
}
.contactForm__container .contactForm__form .form__required .checkbox {
  display: block;
  position: relative;
  height: 30px;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.contactForm__container .contactForm__form .form__required .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.contactForm__container .contactForm__form .form__required .checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.0509803922);
  background-color: #ffffff;
  border-radius: 8px;
}
.contactForm__container .contactForm__form .form__required .checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.contactForm__container .contactForm__form .form__required .checkbox:hover input ~ .checkmark {
  background-color: aqua;
}
.contactForm__container .contactForm__form .form__required .checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}
.contactForm__container .contactForm__form .form__required .checkbox input:checked ~ .checkmark:after {
  display: block;
}/*# sourceMappingURL=style-index.css.map */