@import "../_vars.scss";
@import "../_mixin.scss";

.about {
  margin-bottom: 100px;

  &__container {
    @include container;

    h1 {
      @include title2;
      margin-bottom: 30px;
    }

    .about__wrap {
      display: flex;
      align-items: center;
      gap: 40px;
      margin-bottom: 70px;

      img {
        width: 50%;
        height: 500px;
        border-radius: 15px;
        object-fit: cover;
      }

      .aboout__content {
        h3 {
          font-size: 26px;
          font-weight: $font-weight-medium;
          color: $actions-text;
          margin-bottom: 30px;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 30px;
        }

        p,
        li {
          color: $actions-text;
          font-size: $font-size-text;
        }

        a,
        button {
          @include base-button;
          display: inline-block;
          margin-top: 40px;
        }
      }

      &:nth-child(2n + 4) {
        flex-direction: row-reverse;
      }
    }

    .about__cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      margin-bottom: 100px;

      .card {
        border-radius: 10px;
        padding: 40px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        background-color: $primary-background;
        border: 1px solid #0000001c;

        h3 {
          font-size: 26px;
          font-weight: $font-weight-medium;
          width: 100%;
        }

        p {
          font-size: $font-size-text;
          color: $actions-text;
        }

        a {
          @include base-button;
          font-size: 16px;
          margin-top: auto;
          width: 250px;
          padding: 14px 10px;
          text-align: center;
        }
      }
    }
  }
}
