@media (max-width: 1760px) {
  .about {
    margin-bottom: 60px;
    &__container {
      h1 {
        margin-bottom: 30px;
      }

      .about__wrap {
        margin-bottom: 40px;
        img {
          height: 350px;
        }

        .aboout__content {
          h3 {
          }

          ul {
          }

          p,
          li {
            font-size: 18px;
          }

          a,
          button {
          }
        }

        &:nth-child(2n + 4) {
        }
      }

      .about__cards {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 60px;

        .card {
          padding: 20px 30px;
          gap: 15px;

          h3 {
            font-size: 22px;
            margin-bottom: 30px;
          }

          p {
            font-size: 18px;
          }

          a {
          }
        }
      }
    }
  }
}

@media (max-width: 1480px) {
  .about {
    &__container {
      h1 {
      }

      .about__wrap {
        img {
        }

        .aboout__content {
          h3 {
          }

          ul {
          }

          p,
          li {
          }

          a,
          button {
          }
        }

        &:nth-child(2n + 4) {
        }
      }

      .about__cards {
        grid-template-columns: repeat(2, 1fr);

        .card {
          h3 {
          }

          p {
          }

          a {
          }
        }
      }
    }
  }
}

@media (max-width: 1360px) {
}
