@media (max-width: 580px) {
  .about {
    margin-bottom: 30px;
    &__container {
      h1 {
        margin-bottom: 18px;
      }

      .about__wrap {
        img {
          width: 100%;
          height: 280px;
        }

        .aboout__content {
          h3 {
          }

          ul {
            gap: 15px;
          }

          p,
          li {
          }

          a,
          button {
          }
        }

        &:nth-child(2n + 4) {
        }
      }

      .about__cards {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 30px;
        gap: 10px;

        .card {
          h3 {
            margin-bottom: 18px;
          }

          p {
          }

          a {
          }
        }
      }
    }
  }
}
