@media (max-width: 580px) {
  .about {
    &__container {
      h1 {
      }

      .about__wrap {
        img {
          width: 100%;
          height: 300px;
        }

        .aboout__content {
          h3 {
          }

          ul {
          }

          p,
          li {
          }

          a,
          button {
          }
        }

        &:nth-child(2n + 4) {
        }
      }

      .about__cards {
        grid-template-columns: repeat(1, 1fr);

        .card {
          h3 {
          }

          p {
          }

          a {
          }
        }
      }
    }
  }
}
