@import '../_vars.scss';
@import '../_mixin.scss';

.blog-detail {
  margin-bottom: 100px;

  &__container {
    @include container;

    h1 {
      @include title2;
      width: 100%;
      margin-bottom: 30px;
      color: $actions-text;
    }

    h2 {
      @include title3;
      width: 100%;
      font-size: 26px;
      margin-bottom: 30px;
      color: $actions-text;
    }

    div {
      width: 100%;
    }

    ul,
    p {
      width: 100%;
      font-size: $font-size-text;
      margin-bottom: 60px;
      color: $actions-text;
    }

    a {
      @include link-black;
    }

    img {
      width: 100%;
      object-fit: cover;
      max-height: 600px;
      margin-bottom: 60px;
      border-radius: 10px;
    }

    .blog-detail__tags {
      margin-bottom: 60px;

      ul {
        display: flex;
        gap: 20px;
        padding: 0;
        overflow-x: auto;

        li {
          list-style: none;

          a {
            @include base-tab;
            display: block;
            border-radius: 10px;
            padding: 25px 20px;
            text-decoration: none;
          }

          .filter--active {
            color: $button-tag-text-active;
            border-color: $button-tag-border-active;
            background-color: $button-tag-background-active;
          }
        }
      }
    }

    .blog-detail__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .blog-detail__links {
      display: flex;
      justify-content: space-between;
    }
  }
}
