@import '../_vars.scss';
@import '../_mixin.scss';

.blog-detail {
  margin-bottom: 100px;

  &__container {
    @include container;

    h1 {
      @include title2;
      width: 100%;
      margin-bottom: 30px;
      color: $actions-text;
    }

    h2 {
      @include title3;
      width: 100%;
      font-size: 26px;
      margin-bottom: 30px;
      color: $actions-text;
    }

    ul,
    p {
      width: 100%;
      font-size: $font-size-text;
      margin-bottom: 60px;
      color: $actions-text;
    }

    a {
      @include link-black;
    }

    img {
      max-height: 600px;
      margin-bottom: 60px;
      border-radius: 10px;
    }

    .blog-detail__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .blog-detail__links {
      display: flex;
      justify-content: space-between;
    }
  }
}

.contactForm {
  background-color: $secondary-background;
  padding: 100px 0;

  &__container {
    @include container;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;

    .contactForm__info {
      display: flex;
      flex-direction: column;
      gap: 40px;

      h2 {
        @include title2;
        color: $primary-title;
      }

      p {
        font-size: $font-size-text;
        color: $primary-title;
      }

      .personal {
        display: flex;
        gap: 30px;

        img {
          border-radius: 50%;
          width: 100px;
          height: 100px;
          min-width: 100px;
          object-fit: cover;
          background-color: #fff;
        }

        &__wrap {
          h4 {
            font-size: $font-size-text;
            color: $primary-title;
            font-weight: $font-weight-medium;
            margin-bottom: 4px;
          }

          h5 {
            font-size: 18px;
            color: $primary-title;
            font-weight: $font-weight-regular;
            margin-bottom: 20px;
          }

          p {
            font-size: $font-size-link;
            font-weight: $font-weight-regular;
          }
        }
      }
    }

    form {
      .form-table {
        width: 100%;
        .input {
          @include base-input;
          width: 100%;
          margin-bottom: 12px;
        }

        .form__required {
          display: flex;
          gap: 25px;
          align-items: center;
          margin-bottom: 30px;

          .checkbox {
            @include base-checkbox;
          }

          p {
            font-size: $font-size-link;
            color: $link-text-primary;
            font-weight: $font-weight-regular;

            a {
              @include link-base;
              font-size: $font-size-link;
              font-weight: $font-weight-regular;
            }
          }
        }

        input[type='submit'] {
          @include base-button;
        }
      }

      tfoot {
        th {
          text-align: start;
        }
      }
    }
  }

  img {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
  }
}
