@media (max-width: 1760px) {
  .blog-detail {
    margin-bottom: 70px;
  }

  .contactForm {
    padding: 70px 0;

    &__container {
    }
  }
}

@media (max-width: 1360px) {
  .blog-detail {
    &__container {
      .blog-detail__tags {
        margin-bottom: 30px;
      }
    }
  }
}
