@media (max-width: 580px) {
  .blog-detail {
    margin-bottom: 30px;
    &__container {
      h1,
      h2 {
        margin-bottom: 18px;
      }

      ul,
      p {
        margin-bottom: 16px;
      }

      img {
        margin-bottom: 16px;
        height: 250px;
      }
    }
  }

  .contactForm {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .contactForm__info {
        margin-bottom: 0;
        display: contents;
        h2 {
          margin-bottom: 16px;
        }

        p {
        }

        .personal {
          order: 1;
          gap: 20px;

          img {
            min-width: 80px;
            width: 80px;
            height: 80px;
          }

          &__wrap {
            h4 {
              font-size: 16px;
            }

            h5 {
              font-size: 16px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }

      form {
        .form-table {
          width: 100%;
          .input {
          }

          .form__required {
            .checkbox {
            }

            p {
              a {
              }
            }
          }

          input[type='submit'] {
            width: 100%;
          }
        }

        tfoot {
          th {
          }
        }
      }
    }
  }
}
