@media (max-width: 1760px) {
  .blog-detail {
    margin-bottom: 60px;

    &__container {
      .blog-detail__tags {
        margin-bottom: 40px;
      }

      .blog-detail__content {
        h1,
        h2 {
          margin-bottom: 30px;
        }

        ul,
        p {
          margin-bottom: 24px;
          font-size: 18px;
        }

        img {
          margin-bottom: 24px;
          max-height: 350px;
        }
      }
    }
  }
}

@media (max-width: 1360px) {
}
