@media (max-width: 580px) {
  .blog-detail {
    &__container {
      h1 {
        margin-bottom: 20px;
      }

      h2 {
        margin-bottom: 20px;
      }

      ul,
      p {
        margin-bottom: 30px;
      }

      img {
        margin-bottom: 30px;
      }
    }
  }
}
