@media (max-width: 960px) {
  .blog-detail {
    margin-bottom: 40px;

    &__container {
      .blog-detail__tags {
        margin-bottom: 30px;
      }

      .blog-detail__content {
        h1,
        h2 {
          margin-bottom: 24px;
        }

        ul,
        p {
          margin-bottom: 20px;
          font-size: 16px;
        }

        img {
          margin-bottom: 20px;
          max-height: 350px;
        }
      }
    }
  }
}
