@media (max-width: 580px) {
  .blog-detail {
    margin-bottom: 30px;
    &__container {
      h1,
      h2 {
        margin-bottom: 18px;
      }

      ul,
      p {
        margin-bottom: 16px;
      }

      img {
        margin-bottom: 16px;
        height: 250px;
      }
    }
  }
}
