@font-face {
  font-family: "Noah";
  src: local("Noah-Regular"), local("Noah Regular"), url("../../assets/fonts/Noah-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: local("Noah-Medium"), local("Noah Medium"), url("../../assets/fonts/Noah-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: local("Noah-Bold"), local("Noah Bold"), url("../../assets/fonts/Noah-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), local("Montserrat Medium"), url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
.blog-detail {
  margin-bottom: 100px;
}
.blog-detail__container {
  max-width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1760px) {
  .blog-detail__container {
    margin: 0 100px;
  }
}
@media (max-width: 1360px) {
  .blog-detail__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .blog-detail__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .blog-detail__container {
    margin: 0 20px;
  }
}
.blog-detail__container h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}
@media (max-width: 1760px) {
  .blog-detail__container h1 {
    font-size: 46px;
  }
}
@media (max-width: 1600px) {
  .blog-detail__container h1 {
    font-size: 36px;
  }
}
@media (max-width: 1360px) {
  .blog-detail__container h1 {
    font-size: 32px;
  }
}
@media (max-width: 960px) {
  .blog-detail__container h1 {
    font-size: 26px;
  }
}
@media (max-width: 580px) {
  .blog-detail__container h1 {
    font-size: 24px;
  }
}
.blog-detail__container h1 {
  width: 100%;
  margin-bottom: 30px;
  color: #454545;
}
.blog-detail__container h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
}
@media (max-width: 1600px) {
  .blog-detail__container h2 {
    font-size: 26px;
  }
}
@media (max-width: 960px) {
  .blog-detail__container h2 {
    font-size: 22px;
  }
}
@media (max-width: 580px) {
  .blog-detail__container h2 {
    font-size: 20px;
  }
}
.blog-detail__container h2 {
  width: 100%;
  font-size: 26px;
  margin-bottom: 30px;
  color: #454545;
}
.blog-detail__container div {
  width: 100%;
}
.blog-detail__container ul,
.blog-detail__container p {
  width: 100%;
  font-size: 20px;
  margin-bottom: 60px;
  color: #454545;
}
.blog-detail__container a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
}
.blog-detail__container a:hover {
  color: #b1a489;
}
@media (max-width: 960px) {
  .blog-detail__container a {
    font-size: 16px;
  }
}
.blog-detail__container a {
  color: #000101;
}
.blog-detail__container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 600px;
  margin-bottom: 60px;
  border-radius: 10px;
}
.blog-detail__container .blog-detail__tags {
  margin-bottom: 60px;
}
.blog-detail__container .blog-detail__tags ul {
  display: flex;
  gap: 20px;
  padding: 0;
  overflow-x: auto;
}
.blog-detail__container .blog-detail__tags ul li {
  list-style: none;
}
.blog-detail__container .blog-detail__tags ul li a {
  padding: 10px 18px;
  background-color: #ffffff;
  color: #454545;
  font-size: 18px;
  line-height: 12px;
  font-weight: 500;
  border-radius: 50px;
  border: 1px solid rgba(0, 1, 1, 0.1098039216);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  text-wrap: nowrap;
}
.blog-detail__container .blog-detail__tags ul li a:hover {
  background-color: #28282c;
  border-color: #28282c;
  color: #ffffff;
}
.blog-detail__container .blog-detail__tags ul li a {
  display: block;
  border-radius: 10px;
  padding: 25px 20px;
  text-decoration: none;
}
.blog-detail__container .blog-detail__tags ul li .filter--active {
  color: #ffffff;
  border-color: #000000;
  background-color: #000000;
}
.blog-detail__container .blog-detail__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-detail__container .blog-detail__links {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1760px) {
  .blog-detail {
    margin-bottom: 60px;
  }
  .blog-detail__container .blog-detail__tags {
    margin-bottom: 40px;
  }
  .blog-detail__container .blog-detail__content h1,
  .blog-detail__container .blog-detail__content h2 {
    margin-bottom: 30px;
  }
  .blog-detail__container .blog-detail__content ul,
  .blog-detail__container .blog-detail__content p {
    margin-bottom: 24px;
    font-size: 18px;
  }
  .blog-detail__container .blog-detail__content img {
    margin-bottom: 24px;
    max-height: 350px;
  }
}
@media (max-width: 960px) {
  .blog-detail {
    margin-bottom: 40px;
  }
  .blog-detail__container .blog-detail__tags {
    margin-bottom: 30px;
  }
  .blog-detail__container .blog-detail__content h1,
  .blog-detail__container .blog-detail__content h2 {
    margin-bottom: 24px;
  }
  .blog-detail__container .blog-detail__content ul,
  .blog-detail__container .blog-detail__content p {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .blog-detail__container .blog-detail__content img {
    margin-bottom: 20px;
    max-height: 350px;
  }
}
@media (max-width: 580px) {
  .blog-detail {
    margin-bottom: 30px;
  }
  .blog-detail__container h1,
  .blog-detail__container h2 {
    margin-bottom: 18px;
  }
  .blog-detail__container ul,
  .blog-detail__container p {
    margin-bottom: 16px;
  }
  .blog-detail__container img {
    margin-bottom: 16px;
    height: 250px;
  }
}/*# sourceMappingURL=style-blog-detail.css.map */