@font-face {
  font-family: "Noah";
  src: local("Noah-Regular"), local("Noah Regular"), url("../../assets/fonts/Noah-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: local("Noah-Medium"), local("Noah Medium"), url("../../assets/fonts/Noah-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: local("Noah-Bold"), local("Noah Bold"), url("../../assets/fonts/Noah-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), local("Montserrat Medium"), url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
.blog-detail {
  margin-bottom: 100px;
}
.blog-detail__container {
  max-width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1760px) {
  .blog-detail__container {
    margin: 0 80px;
  }
}
@media (max-width: 1360px) {
  .blog-detail__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .blog-detail__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .blog-detail__container {
    margin: 0 20px;
  }
}
.blog-detail__container h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 30px;
  color: #454545;
}
@media (max-width: 580px) {
  .blog-detail__container h1 {
    font-size: 38px;
  }
}
.blog-detail__container h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  width: 100%;
  font-size: 26px;
  margin-bottom: 30px;
  color: #454545;
}
.blog-detail__container div {
  width: 100%;
}
.blog-detail__container ul,
.blog-detail__container p {
  width: 100%;
  font-size: 20px;
  margin-bottom: 60px;
  color: #454545;
}
.blog-detail__container a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
  color: #000101;
}
.blog-detail__container a:hover {
  color: #b1a489;
}
.blog-detail__container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 600px;
  margin-bottom: 60px;
  border-radius: 10px;
}
.blog-detail__container .blog-detail__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-detail__container .blog-detail__links {
  display: flex;
  justify-content: space-between;
}

.contactForm {
  background-color: #28282c;
  padding: 100px 0;
}
.contactForm__container {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
@media (max-width: 1760px) {
  .contactForm__container {
    margin: 0 80px;
  }
}
@media (max-width: 1360px) {
  .contactForm__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .contactForm__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .contactForm__container {
    margin: 0 20px;
  }
}
.contactForm__container .contactForm__info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contactForm__container .contactForm__info h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 580px) {
  .contactForm__container .contactForm__info h2 {
    font-size: 38px;
  }
}
.contactForm__container .contactForm__info p {
  font-size: 20px;
  color: #ffffff;
}
.contactForm__container .contactForm__info .personal {
  display: flex;
  gap: 30px;
}
.contactForm__container .contactForm__info .personal img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  min-width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fff;
}
.contactForm__container .contactForm__info .personal__wrap h4 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 4px;
}
.contactForm__container .contactForm__info .personal__wrap h5 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 20px;
}
.contactForm__container .contactForm__info .personal__wrap p {
  font-size: 18px;
  font-weight: 400;
}
.contactForm__container form .form-table {
  width: 100%;
}
.contactForm__container form .form-table .input {
  width: 100%;
  padding: 16px 26px;
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.0509803922);
  color: #454545;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  margin-bottom: 12px;
}
.contactForm__container form .form-table .input:hover {
  border-color: #000000;
}
.contactForm__container form .form-table .input:focus-visible {
  border-color: rgba(0, 0, 0, 0.4);
  outline: 2px solid rgba(0, 0, 0, 0.4);
}
.contactForm__container form .form-table .input:active {
  border-color: #000000;
}
.contactForm__container form .form-table .form__required {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-bottom: 30px;
}
.contactForm__container form .form-table .form__required .checkbox {
  display: block;
  position: relative;
  height: 30px;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.contactForm__container form .form-table .form__required .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.contactForm__container form .form-table .form__required .checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.0509803922);
  background-color: #ffffff;
  border-radius: 8px;
}
.contactForm__container form .form-table .form__required .checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 10px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.contactForm__container form .form-table .form__required .checkbox input:checked ~ .checkmark {
  background-color: #b1a489;
}
.contactForm__container form .form-table .form__required .checkbox input:checked ~ .checkmark:after {
  display: block;
}
.contactForm__container form .form-table .form__required p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
}
.contactForm__container form .form-table .form__required p a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 400;
}
.contactForm__container form .form-table .form__required p a:hover {
  color: #b1a489;
}
.contactForm__container form .form-table input[type=submit] {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
  width: unset;
  padding: 20px 60px;
}
.contactForm__container form .form-table input[type=submit]:hover {
  background-color: #000101;
  border-color: #000101;
}
.contactForm__container form .form-table input[type=submit]:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
.contactForm__container form tfoot th {
  text-align: start;
}
.contactForm img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
  width: 100%;
}

@media (max-width: 1760px) {
  .blog-detail {
    margin-bottom: 70px;
  }
  .contactForm {
    padding: 70px 0;
  }
}
@media (max-width: 960px) {
  .blog-detail {
    margin-bottom: 60px;
  }
  .contactForm {
    padding: 60px 0;
  }
  .contactForm__container {
    display: block;
  }
  .contactForm__container .contactForm__info {
    margin-bottom: 40px;
  }
}
@media (max-width: 580px) {
  .blog-detail__container h1 {
    margin-bottom: 20px;
  }
  .blog-detail__container h2 {
    margin-bottom: 20px;
  }
  .blog-detail__container ul,
  .blog-detail__container p {
    margin-bottom: 30px;
  }
  .blog-detail__container img {
    margin-bottom: 30px;
  }
  .contactForm__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .contactForm__container .contactForm__info {
    margin-bottom: 0;
    display: contents;
  }
  .contactForm__container .contactForm__info .personal {
    order: 1;
  }
  .contactForm__container form .form-table {
    width: 100%;
  }
  .contactForm__container form .form-table input[type=submit] {
    width: 100%;
  }
}/*# sourceMappingURL=style-blog-detail.css.map */