@media (max-width: 1760px) {
  .catalog-detail {
    margin-bottom: 60px;

    &__container {
      h1 {
        margin-bottom: 30px;
      }

      .catalog-detail__wrap {
        margin-bottom: 60px;

        .catalog-detail__base {
          .catalog-detail__slider {
            height: 550px;
            .swiper-slide {
              width: 100%;

              img {
              }
            }
          }

          .catalog-detail__content {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .catalog-detail__info {
              display: grid;
              grid-template-columns: repeat(3, 150px);
              gap: 5px;

              &-wrap {
                padding: 10px;

                p {
                }
              }
            }

            .catalog-detail__button {
              text-align: center;
              font-size: 16px;

              &-dark {
              }

              &-grey {
              }
            }

            .catalog-detail__buttons {
              .catalog-detail__button {
                padding: 14px 18px;
              }

              .add-comparison {
                padding: 6px;
              }
            }
          }
        }

        .catalog-detail__gallery {
          max-height: 120px;

          .swiper-slide {
            width: 150px;
            height: 120px;
          }
        }
      }

      .layout {
        margin-bottom: 30px;

        h3 {
          margin-bottom: 30px;
        }

        .slider {
          margin: 0 -10px;
          .slide {
            margin: 0 10px;

            padding: 32px;

            h4 {
              margin-bottom: 20px;
            }

            img {
              height: 400px;
            }
          }
        }
      }

      .banner {
        padding: 60px 0;
        margin-bottom: 60px;

        &__container {
          h3 {
            margin-bottom: 24px;
          }

          p {
            font-size: 18px;
            margin-bottom: 30px;
          }
        }
      }

      .equipment {
        margin-bottom: 60px;

        h3 {
          margin-bottom: 30px;
        }

        &__buttons {
          gap: 12px;
          margin-bottom: 24px;

          button {
            width: 135px;
          }

          .tab__button--active {
          }
        }

        &__wrap {
          height: 350px;
          // position: relative;

          .tab {
            img {
            }

            &__content {
              ul,
              p {
                font-size: 18px;
              }

              ul {
              }

              li {
              }
            }
          }
        }
      }

      .gift {
        margin-bottom: 60px;

        h3 {
          margin-bottom: 30px;
        }

        .gift__content {
          gap: 15px;

          .card {
            padding: 30px 40px;

            h4 {
            }
          }
        }
      }

      .description {
        margin-bottom: 60px;

        h3 {
          margin-bottom: 30px;
        }

        p {
          font-size: 18px;
        }
      }

      .material {
        margin-bottom: 60px;

        &__container {
          padding: 60px;

          h3 {
            margin-bottom: 30px;
          }

          .material__wrap {
            gap: 40px;

            .material__content {
              display: flex;
              flex-direction: column;
              gap: 15px;

              .card {
                padding-left: 40px;

                h4,
                p {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }

      .design {
        margin-bottom: 60px;

        h3 {
          margin-bottom: 30px;
        }

        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              width: 700px;
              img {
                height: 400px;
              }
            }
          }
        }
      }
    }
  }

  .contactForm {
    margin-bottom: 60px;
  }
}

@media (max-width: 1360px) {
  .catalog-detail {
    margin-bottom: 60px;

    &__container {
      h1 {
        margin-bottom: 30px;
      }

      .catalog-detail__wrap {
        margin-bottom: 60px;

        .catalog-detail__base {
          .catalog-detail__slider {
            height: 580px;
            .swiper-slide {
              width: 100%;

              img {
              }
            }
          }

          .catalog-detail__content {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .catalog-detail__info {
              display: grid;
              grid-template-columns: repeat(3, 110px);
              gap: 5px;

              &-wrap {
                gap: 5px;
                padding: 5px 10px;

                p {
                }
              }
            }

            .catalog-detail__button {
              text-align: center;

              &-dark {
              }

              &-grey {
              }
            }

            .catalog-detail__buttons {
              gap: 5px;
              flex-wrap: wrap;
              .catalog-detail__button {
                padding: 14px 20px;
                width: 100%;

                &-dark {
                  width: calc(100% - 60px);
                }
              }

              .add-comparison {
                width: unset;
                padding: 6px;
              }
            }
          }
        }

        .catalog-detail__gallery {
          max-height: 120px;

          .swiper-slide {
            width: 150px;
            height: 120px;
          }
        }
      }

      .layout {
        margin-bottom: 30px;

        h3 {
          margin-bottom: 30px;
        }

        .slider {
          margin: 0 -10px;
          .slide {
            margin: 0 10px;

            padding: 32px;

            h4 {
              margin-bottom: 20px;
            }

            img {
              height: 300px;
            }
          }
        }
      }

      .banner {
        padding: 60px 0;
        margin-bottom: 60px;

        &__container {
          padding: 0 60px;
          h3 {
            margin-bottom: 24px;
          }

          p {
            margin-bottom: 30px;
          }
        }
      }

      .equipment {
        margin-bottom: 60px;

        h3 {
          margin-bottom: 30px;
        }

        &__buttons {
          gap: 12px;
          margin-bottom: 24px;

          button {
            width: 120px;
          }

          .tab__button--active {
          }
        }

        &__wrap {
          height: 350px;
          // position: relative;

          .tab {
            grid-template-columns: 60% 40%;
            img {
            }

            &__content {
              ul,
              p {
                font-size: 18px;
              }

              ul {
              }

              li {
              }
            }
          }
        }
      }

      .gift {
        margin-bottom: 60px;

        h3 {
          margin-bottom: 30px;
        }

        .gift__content {
          gap: 15px;

          .card {
            padding: 15px 20px;

            h4 {
            }
          }
        }
      }

      .description {
        margin-bottom: 60px;

        h3 {
          margin-bottom: 30px;
        }

        p {
          font-size: 18px;
        }
      }

      .material {
        margin-bottom: 60px;

        &__container {
          padding: 40px;

          h3 {
            margin-bottom: 30px;
          }

          .material__wrap {
            gap: 40px;

            .material__content {
              display: flex;
              flex-direction: column;
              gap: 15px;

              .card {
                padding-left: 40px;

                h4,
                p {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }

      .design {
        margin-bottom: 60px;

        h3 {
          margin-bottom: 30px;
        }

        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              width: 700px;
              img {
                height: 400px;
              }
            }
          }
        }
      }
    }
  }
}
