@media (max-width: 960px) {
  .catalog-detail {
    margin-bottom: 40px;

    &__container {
      h1 {
        margin-bottom: 24px;
      }

      .catalog-detail__wrap {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .catalog-detail__base {
          display: contents;

          .catalog-detail__slider {
            order: 1;
            max-height: 400px;
            height: unset;
            .swiper-slide {
              width: 100%;

              img {
              }
            }
          }

          .catalog-detail__content {
            order: 3;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .catalog-detail__info {
              display: grid;
              grid-template-columns: repeat(6, 1fr);
              gap: 5px;

              &-wrap {
                gap: 5px;
                padding: 5px 10px;

                p {
                  font-weight: 500;
                  font-size: 16px;
                }
              }
            }

            .catalog-detail__button {
              text-align: center;

              &-dark {
              }

              &-grey {
              }
            }

            .catalog-detail__buttons {
              gap: 5px;
              flex-wrap: nowrap;
              .catalog-detail__button {
                padding: 12px 16px;
                width: 100%;

                &-dark {
                  width: 40%;
                }
              }

              .add-comparison {
                width: unset;
                padding: 2px 4px;
              }
            }
          }
        }

        .catalog-detail__gallery {
          order: 2;
          max-height: 120px;

          .swiper-slide {
            width: 150px;
            height: 120px;
          }
        }
      }

      .layout {
        margin-bottom: 40px;

        h3 {
          margin-bottom: 24px;
        }

        .slider {
          margin: 0 -10px;
          .slide {
            margin: 0 10px;

            padding: 32px;

            h4 {
              margin-bottom: 20px;
              font-size: 18px;
            }

            img {
              height: 250px;
            }
          }
        }
      }

      .banner {
        padding: 60px 0;
        margin-bottom: 40px;

        &__container {
          padding: 0 60px;
          h3 {
            margin-bottom: 24px;
          }

          p {
            font-size: 16px;
            margin-bottom: 16px;
          }
        }
      }

      .equipment {
        margin-bottom: 40px;

        h3 {
          margin-bottom: 24px;
        }

        &__buttons {
          gap: 12px;
          margin-bottom: 16px;
          gap: 5px;
          display: grid;
          grid-template-columns: repeat(6, 1fr);

          button {
            width: unset;
            font-size: 14px;
            padding: 10px;
          }

          .tab__button--active {
          }
        }

        &__wrap {
          height: unset;

          // position: relative;

          .tab {
            max-height: 0;
            position: static;
            display: flex;
            flex-direction: column;
            transition: unset;

            img {
            }

            &__content {
              ul,
              p {
                font-size: 16px;
                margin-bottom: 12px;
              }

              ul {
                gap: 12px;
              }

              li {
              }
            }

            &--active {
              max-height: 4000px;
            }
          }
        }
      }

      .gift {
        margin-bottom: 40px;

        h3 {
          margin-bottom: 24px;
        }

        .gift__content {
          gap: 15px;

          .card {
            padding: 10px;

            h4 {
              font-size: 16px;
            }
          }
        }
      }

      .description {
        margin-bottom: 40px;

        h3 {
          margin-bottom: 24px;
        }

        p {
          font-size: 16px;
        }
      }

      .material {
        margin-bottom: 40px;

        &__container {
          padding: 40px;

          h3 {
            margin-bottom: 24px;
          }

          .material__wrap {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .material__content {
              order: 2;
              display: flex;
              flex-direction: column;
              gap: 15px;

              .card {
                padding-left: 40px;
                gap: 5px;

                h4,
                p {
                  font-size: 16px;
                }
              }
            }

            img {
              object-fit: contain;
              height: 250px;
            }
          }
        }
      }

      .design {
        margin-bottom: 40px;

        h3 {
          margin-bottom: 24px;
        }

        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              width: 100%;
              max-width: 100%;
              img {
                height: 350px;
              }

              .slide__content {
                flex-direction: column;
              }
            }
          }

          .swiper-button-next,
          .swiper-button-prev {
            display: flex;
            top: 175px;
          }
        }
      }
    }
  }

  .contactForm {
    margin-bottom: 40px;
  }
}
