@media (max-width: 580px) {
  .projects-detail {
    margin-bottom: 30px;
    &__container {
      h1 {
        margin-bottom: 18px;
      }
      h2 {
        margin-bottom: 18px;
      }

      .projects-detail__imgs {
        flex-direction: column;
        gap: 16px;

        .projects-detail__slider {
          max-height: 400px;
          .swiper-slide {
            img {
            }
          }

          .swiper-button-next {
            right: 10px;
          }

          .swiper-button-prev {
            left: 10px;
          }
        }

        .projects-detail__gallery {
          width: 100%;
          max-width: unset;

          .swiper-slide {
            width: 150px;
            height: 100px;

            img {
            }

            &-thumb-active {
              img {
              }
            }
          }
        }
      }

      .projects-detail__wrap {
        flex-direction: column;
        align-items: center;

        .projects-detail__info {
          width: 100%;
          display: flex;
          overflow-x: auto;
          -ms-overflow-style: none;
          scrollbar-width: none;

          &-wrap {
            min-width: 120px;
            p {
            }
          }
        }

        .project-detail__actions {
          p {
            span {
            }
          }

          a {
          }
        }
      }

      .projects-detail__content {
        p {
        }
      }

      .projects-detail__cards {
        grid-template-columns: repeat(1, 1fr);

        .card {
          h3 {
            font-size: 18px;
            margin-bottom: 15px;
          }

          p {
          }
        }
      }

      .projects-detail__video {
        .video {
          video {
          }

          button {
            span {
            }
          }
        }
      }
    }
  }
}
