@font-face {
  font-family: "Noah";
  src: local("Noah-Regular"), local("Noah Regular"), url("../../assets/fonts/Noah-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: local("Noah-Medium"), local("Noah Medium"), url("../../assets/fonts/Noah-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: local("Noah-Bold"), local("Noah Bold"), url("../../assets/fonts/Noah-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), local("Montserrat Medium"), url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
.catalog-detail {
  margin-bottom: 100px;
}
.catalog-detail__container {
  max-width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1760px) {
  .catalog-detail__container {
    margin: 0 100px;
  }
}
@media (max-width: 1360px) {
  .catalog-detail__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .catalog-detail__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .catalog-detail__container {
    margin: 0 20px;
  }
}
.catalog-detail__container h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media (max-width: 1760px) {
  .catalog-detail__container h1 {
    font-size: 46px;
  }
}
@media (max-width: 1600px) {
  .catalog-detail__container h1 {
    font-size: 36px;
  }
}
@media (max-width: 1360px) {
  .catalog-detail__container h1 {
    font-size: 32px;
  }
}
@media (max-width: 960px) {
  .catalog-detail__container h1 {
    font-size: 26px;
  }
}
@media (max-width: 580px) {
  .catalog-detail__container h1 {
    font-size: 24px;
  }
}
.catalog-detail__container .catalog-detail__wrap {
  margin-bottom: 70px;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__slider {
  width: 100%;
  max-width: 1100px;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  cursor: zoom-in;
  margin: 0;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__slider .swiper-slide {
  width: 100%;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__slider .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__slider .swiper-button-next,
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__slider .swiper-button-prev {
  display: none;
  background-color: #ffffff;
  border-radius: 50%;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__slider .swiper-button-next svg,
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__slider .swiper-button-prev svg {
  fill: transparent;
  width: 6px;
  height: 14px;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__slider .swiper-button-next {
  right: 35px;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__slider .swiper-button-prev {
  left: 35px;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .catalog-detail__info {
  display: grid;
  grid-template-columns: repeat(3, 161px);
  gap: 10px;
  margin-bottom: 5px;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .catalog-detail__info-wrap {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1098039216);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .catalog-detail__info-wrap p {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #454545;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .catalog-detail__button {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .catalog-detail__button:hover {
  background-color: #000101;
  border-color: #000101;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .catalog-detail__button:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
@media (max-width: 960px) {
  .catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .catalog-detail__button {
    padding: 12px 16px;
    font-size: 16px;
  }
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .catalog-detail__button-dark {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
  background-color: #28282c;
  border-color: #28282c;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .catalog-detail__button-dark:hover {
  background-color: #000101;
  border-color: #000101;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .catalog-detail__button-dark:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
@media (max-width: 960px) {
  .catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .catalog-detail__button-dark {
    padding: 12px 16px;
    font-size: 16px;
  }
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .catalog-detail__button-dark:hover {
  background-color: #b1a489;
  border-color: #b1a489;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .catalog-detail__button-grey {
  color: #454545;
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .catalog-detail__button-grey:hover {
  background-color: #b9b9b9;
  border-color: #b9b9b9;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .add-comparison {
  position: relative;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.1098039216);
  padding: 6px;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .add-comparison label {
  cursor: pointer;
  width: 34px;
  height: 34px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .add-comparison label input {
  cursor: pointer;
  opacity: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .add-comparison input:checked ~ svg path {
  fill: #b1a489;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .add-comparison svg {
  cursor: pointer;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .add-comparison svg path {
  transition: fill 0.3s ease-in-out;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .add-comparison:hover {
  background-color: #dfdfdf;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__base .catalog-detail__content .catalog-detail__buttons {
  display: flex;
  gap: 10px;
  margin-bottom: auto;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__gallery {
  width: 100%;
  max-height: 150px;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__gallery .swiper-slide {
  width: 170px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__gallery .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: blur(1px) opacity(70%);
  transition: filter 0.3s ease-in-out;
}
.catalog-detail__container .catalog-detail__wrap .catalog-detail__gallery .swiper-slide-thumb-active img {
  filter: blur(0px) opacity(100%);
}
.catalog-detail__container .layout {
  margin-bottom: 30px;
}
.catalog-detail__container .layout h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media (max-width: 1600px) {
  .catalog-detail__container .layout h3 {
    font-size: 26px;
  }
}
@media (max-width: 960px) {
  .catalog-detail__container .layout h3 {
    font-size: 22px;
  }
}
@media (max-width: 580px) {
  .catalog-detail__container .layout h3 {
    font-size: 20px;
  }
}
.catalog-detail__container .layout .slider {
  margin: 0 -15px;
}
.catalog-detail__container .layout .slider .slide {
  margin: 0 15px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1098039216);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}
.catalog-detail__container .layout .slider .slide h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}
.catalog-detail__container .layout .slider .slide img {
  height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
}
.catalog-detail__container .banner {
  border-radius: 10px;
  background-color: #28282c;
  padding: 90px 0;
  margin-bottom: 90px;
}
.catalog-detail__container .banner__container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog-detail__container .banner__container h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
}
@media (max-width: 1600px) {
  .catalog-detail__container .banner__container h3 {
    font-size: 26px;
  }
}
@media (max-width: 960px) {
  .catalog-detail__container .banner__container h3 {
    font-size: 22px;
  }
}
@media (max-width: 580px) {
  .catalog-detail__container .banner__container h3 {
    font-size: 20px;
  }
}
.catalog-detail__container .banner__container p {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}
.catalog-detail__container .banner__container button {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
}
.catalog-detail__container .banner__container button:hover {
  background-color: #000101;
  border-color: #000101;
}
.catalog-detail__container .banner__container button:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
@media (max-width: 960px) {
  .catalog-detail__container .banner__container button {
    padding: 12px 16px;
    font-size: 16px;
  }
}
.catalog-detail__container .equipment {
  margin-bottom: 100px;
}
.catalog-detail__container .equipment h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media (max-width: 1600px) {
  .catalog-detail__container .equipment h3 {
    font-size: 26px;
  }
}
@media (max-width: 960px) {
  .catalog-detail__container .equipment h3 {
    font-size: 22px;
  }
}
@media (max-width: 580px) {
  .catalog-detail__container .equipment h3 {
    font-size: 20px;
  }
}
.catalog-detail__container .equipment__buttons {
  display: flex;
  gap: 12px;
}
.catalog-detail__container .equipment__buttons button {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1098039216);
  border-radius: 10px;
  width: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}
.catalog-detail__container .equipment__buttons button img {
  margin-bottom: auto;
}

.contactForm {
  margin-bottom: 100px;
}

.reviews__container .reviews__content {
  background-color: #ffffff;
}

@media (max-width: 1760px) {
  .projects-detail__container {
    margin-bottom: 60px;
  }
  .projects-detail__container h1 {
    margin-bottom: 30px;
  }
  .projects-detail__container h2 {
    margin-bottom: 30px;
  }
  .projects-detail__container .projects-detail__imgs .projects-detail__slider {
    max-height: 500px;
  }
  .projects-detail__container .projects-detail__imgs .projects-detail__gallery {
    max-height: 500px;
  }
  .projects-detail__container .projects-detail__wrap {
    gap: 20px;
    margin-bottom: 40px;
    flex-wrap: nowrap;
  }
  .projects-detail__container .projects-detail__wrap .projects-detail__info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
  }
  .projects-detail__container .projects-detail__wrap .projects-detail__info-wrap {
    padding: 15px;
  }
  .projects-detail__container .projects-detail__wrap .projects-detail__info-wrap p {
    font-size: 18px;
  }
  .projects-detail__container .projects-detail__wrap .project-detail__actions p {
    font-size: 18px;
  }
  .projects-detail__container .projects-detail__content p {
    font-size: 18px;
  }
  .projects-detail__container .projects-detail__cards .card p {
    font-size: 18px;
  }
}
@media (max-width: 1360px) {
  .projects-detail__container .projects-detail__imgs .projects-detail__slider {
    max-height: 550px;
  }
  .projects-detail__container .projects-detail__imgs .projects-detail__gallery {
    min-width: 120px;
    max-width: 120px;
    max-height: 550px;
  }
  .projects-detail__container .projects-detail__imgs .projects-detail__gallery .swiper-slide {
    width: 120px;
    height: 100px;
  }
  .projects-detail__container .projects-detail__wrap {
    gap: 20px;
    margin-bottom: 40px;
    flex-wrap: nowrap;
  }
  .projects-detail__container .projects-detail__wrap .projects-detail__info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
  }
  .projects-detail__container .projects-detail__wrap .projects-detail__info-wrap {
    padding: 15px;
  }
  .projects-detail__container .projects-detail__cards {
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    margin-bottom: 50px;
  }
}
@media (max-width: 960px) {
  .projects-detail {
    margin-bottom: 40px;
  }
  .projects-detail__container h1 {
    margin-bottom: 24px;
  }
  .projects-detail__container h2 {
    margin-bottom: 24px;
  }
  .projects-detail__container .projects-detail__imgs {
    flex-direction: column;
    gap: 16px;
  }
  .projects-detail__container .projects-detail__imgs .projects-detail__slider {
    max-height: 400px;
  }
  .projects-detail__container .projects-detail__imgs .projects-detail__slider .swiper-button-next,
  .projects-detail__container .projects-detail__imgs .projects-detail__slider .swiper-button-prev {
    display: flex;
  }
  .projects-detail__container .projects-detail__imgs .projects-detail__gallery {
    width: 100%;
    max-width: unset;
  }
  .projects-detail__container .projects-detail__imgs .projects-detail__gallery .swiper-slide {
    width: 120px;
    height: 100px;
  }
  .projects-detail__container .projects-detail__wrap {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .projects-detail__container .projects-detail__wrap .projects-detail__info-wrap p {
    font-weight: 500;
    font-size: 16px;
  }
  .projects-detail__container .projects-detail__wrap .project-detail__actions p {
    font-size: 16px;
  }
  .projects-detail__container .projects-detail__content p {
    font-size: 16px;
  }
  .projects-detail__container .projects-detail__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .projects-detail__container .projects-detail__cards .card {
    padding: 15px 25px;
  }
  .projects-detail__container .projects-detail__cards .card p {
    font-size: 16px;
  }
}
@media (max-width: 580px) {
  .projects-detail {
    margin-bottom: 30px;
  }
  .projects-detail__container h1 {
    margin-bottom: 18px;
  }
  .projects-detail__container h2 {
    margin-bottom: 18px;
  }
  .projects-detail__container .projects-detail__imgs {
    flex-direction: column;
    gap: 16px;
  }
  .projects-detail__container .projects-detail__imgs .projects-detail__slider {
    max-height: 400px;
  }
  .projects-detail__container .projects-detail__imgs .projects-detail__slider .swiper-button-next {
    right: 10px;
  }
  .projects-detail__container .projects-detail__imgs .projects-detail__slider .swiper-button-prev {
    left: 10px;
  }
  .projects-detail__container .projects-detail__imgs .projects-detail__gallery {
    width: 100%;
    max-width: unset;
  }
  .projects-detail__container .projects-detail__imgs .projects-detail__gallery .swiper-slide {
    width: 150px;
    height: 100px;
  }
  .projects-detail__container .projects-detail__wrap {
    flex-direction: column;
    align-items: center;
  }
  .projects-detail__container .projects-detail__wrap .projects-detail__info {
    width: 100%;
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .projects-detail__container .projects-detail__wrap .projects-detail__info-wrap {
    min-width: 120px;
  }
  .projects-detail__container .projects-detail__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .projects-detail__container .projects-detail__cards .card h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=style-catalog-detail.css.map */