@media (max-width: 960px) {
  .projects {
    margin-bottom: 40px;
    &__container {
      h1 {
        margin-bottom: 24px;
      }

      .projects__links {
        margin-bottom: 30px;
        ul {
          li {
            .a {
            }
          }
        }
      }

      .projects__cards {
        gap: 20px;

        .card {
          max-width: calc(50% - 15px);
          margin-bottom: 0px;

          .slider {
            img {
              height: 260px;
            }

            .slick-dots {
              li {
              }
            }
          }

          h3 {
            font-size: 18px;
          }

          &__status {
            font-size: 16px;
          }

          &__tags {
            p {
            }
          }

          a {
          }
        }
      }
    }
  }
}
