@media (max-width: 1760px) {
  .projects {
    margin-bottom: 60px;
    &__container {
      h1 {
        margin-bottom: 30px;
      }

      .projects__links {
        margin-bottom: 40px;
        ul {
          li {
            .a {
            }
          }
        }
      }

      .projects__cards {
        gap: 20px;
        .card {
          margin-bottom: 20px;
          .slider {
            margin-bottom: 20px;
            img {
              height: 300px;
            }

            .slick-dots {
              li {
              }
            }
          }

          h3 {
          }

          &__status {
            font-size: 18px;
            margin-bottom: 10px;
          }

          &__tags {
            margin-bottom: 20px;
            p {
            }
          }

          a {
          }
        }
      }
    }
  }
}

@media (max-width: 1360px) {
  .projects {
    &__container {
      h1 {
      }

      .projects__links {
        ul {
          li {
            .a {
            }
          }
        }
      }

      .projects__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 30px;

        .card {
          max-width: calc(50% - 15px);
          margin-bottom: 0px;

          .slider {
            img {
            }

            .slick-dots {
              li {
              }
            }
          }

          h3 {
          }

          &__status {
          }

          &__tags {
            p {
            }
          }

          a {
          }
        }
      }
    }
  }
}
