@font-face {
  font-family: "Noah";
  src: local("Noah-Regular"), local("Noah Regular"), url("../../assets/fonts/Noah-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: local("Noah-Medium"), local("Noah Medium"), url("../../assets/fonts/Noah-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: local("Noah-Bold"), local("Noah Bold"), url("../../assets/fonts/Noah-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), local("Montserrat Medium"), url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
.projects {
  margin-bottom: 100px;
}
.projects__container {
  max-width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1760px) {
  .projects__container {
    margin: 0 80px;
  }
}
@media (max-width: 1360px) {
  .projects__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .projects__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .projects__container {
    margin: 0 20px;
  }
}
.projects__container h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 580px) {
  .projects__container h1 {
    font-size: 38px;
  }
}
.projects__container .projects__links {
  margin-bottom: 30px;
}
.projects__container .projects__links ul {
  display: flex;
  gap: 20px;
  padding: 0;
  overflow-x: auto;
}
.projects__container .projects__links ul li {
  list-style: none;
}
.projects__container .projects__links ul li a {
  padding: 10px 18px;
  background-color: #ffffff;
  color: #454545;
  font-size: 18px;
  line-height: 12px;
  font-weight: 500;
  border-radius: 50px;
  border: 1px solid rgba(0, 1, 1, 0.1098039216);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  text-wrap: nowrap;
  display: block;
  border-radius: 10px;
  padding: 25px 20px;
}
.projects__container .projects__links ul li a:hover {
  background-color: #28282c;
  border-color: #28282c;
  color: #ffffff;
}
.projects__container .projects__links ul li .filter--active {
  color: #ffffff;
  border-color: #000000;
  background-color: #000000;
}
.projects__container .projects__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}
.projects__container .projects__cards .card {
  max-width: calc(33% - 16px);
  position: relative;
  margin-bottom: 40px;
}
.projects__container .projects__cards .card .add-comparison {
  border: none;
  padding: 0;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
}
.projects__container .projects__cards .card .add-comparison label {
  cursor: pointer;
  width: 34px;
  height: 34px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
}
.projects__container .projects__cards .card .add-comparison label input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.projects__container .projects__cards .card .add-comparison input:checked ~ svg path {
  fill: #b1a489;
}
.projects__container .projects__cards .card .add-comparison svg {
  cursor: pointer;
}
.projects__container .projects__cards .card .add-comparison svg path {
  transition: fill 0.3s ease-in-out;
}
.projects__container .projects__cards .card .add-comparison--active {
  background-color: #b1a489;
}
.projects__container .projects__cards .card .add-comparison--active svg path {
  fill: #ffffff;
}
.projects__container .projects__cards .card .slider {
  margin-bottom: 25px;
}
.projects__container .projects__cards .card .slider img {
  width: 100%;
  height: 380px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__container .projects__cards .card .slider .slick-dots {
  left: 30px;
  right: 30px;
  transform: none;
  bottom: 12px;
}
.projects__container .projects__cards .card .slider .slick-dots li {
  flex: 1;
  width: unset;
  min-width: 6px;
  height: 6px;
  border-radius: 3px;
}
.projects__container .projects__cards .card h3 {
  font-size: 20px;
  font-weight: 700;
  color: #454545;
  margin-bottom: 10px;
}
.projects__container .projects__cards .card__status {
  font-size: 20px;
  font-weight: 400;
  color: #454545;
  margin-bottom: 20px;
}
.projects__container .projects__cards .card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 25px;
}
.projects__container .projects__cards .card__tags p {
  min-width: 235px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  color: #000101;
  padding: 9px 15px;
  border-radius: 10px;
  padding: 15px 10px;
  text-wrap: nowrap;
  min-width: unset;
  border: 1px solid #000101;
  text-transform: lowercase;
}
.projects__container .projects__cards .card a {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
}
.projects__container .projects__cards .card a:hover {
  background-color: #000101;
  border-color: #000101;
}
.projects__container .projects__cards .card a:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}

@media (max-width: 1760px) {
  .projects {
    margin-bottom: 70px;
  }
}
@media (max-width: 1360px) {
  .projects__container .projects__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
  }
  .projects__container .projects__cards .card {
    max-width: calc(50% - 15px);
    margin-bottom: 0px;
  }
}
@media (max-width: 960px) {
  .projects__container .projects__cards {
    gap: 20px;
  }
  .projects__container .projects__cards .card {
    max-width: calc(50% - 15px);
    margin-bottom: 0px;
  }
  .projects__container .projects__cards .card .slider img {
    height: 260px;
  }
}
@media (max-width: 580px) {
  .projects__container .projects__cards {
    gap: 30px;
  }
  .projects__container .projects__cards .card {
    max-width: 100%;
    margin-bottom: 0px;
  }
  .projects__container .projects__cards .card .slider img {
    height: 210px;
  }
}/*# sourceMappingURL=style-projects.css.map */