@media (max-width: 580px) {
  .blog {
    &__container {
      h1 {
      }

      .blog__text {
      }

      .blog__filters {
        ul {
          li {
            .blog__filter {
            }
          }
        }
      }

      .blog__content {
        padding: 10px;

        .blog__cards {
          grid-template-columns: repeat(1, 1fr);
          grid-column-gap: 15px;
          grid-row-gap: 15px;

          .card {
            margin-bottom: 15px;

            img {
            }

            &__content {
              h3 {
              }

              .card__tags {
                p {
                }
              }

              .card__date {
              }
            }

            &-big {
              grid-area: unset;
              img {
                margin-bottom: 20px;
              }

              .card__content {
                h3 {
                }

                .card__tags {
                }
              }
            }
          }

          .blog__wrap {
          }
        }
      }
    }
  }
}
