@media (max-width: 1760px) {
  .blog {
    margin-bottom: 60px;

    &__container {
      h1 {
        margin-bottom: 30px;
      }

      .blog__text {
        margin-bottom: 40px;
        font-size: 18px;
      }

      .blog__links {
        ul {
          li {
            a {
              padding: 16px 28px;
            }
          }
        }
      }

      .blog__content {
        padding: 25px;

        .blog__cards {
          // grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 20px;
          grid-row-gap: 30px;

          .card {
            margin-bottom: 30px;

            img {
              margin-bottom: 20px;
            }

            &__content {
              h3 {
                font-size: 22px;
                margin-bottom: 18px;
              }

              .card__tags {
                margin-bottom: 18px;
                p {
                }
              }

              .card__date {
                font-size: 18px;
              }
            }

            &-big {
              margin-bottom: 0;
              img {
                height: 350px;
                margin: 0;
              }

              .card__content {
                h3 {
                }

                .card__tags {
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1360px) {
  .blog {
    &__container {
      h1 {
      }

      .blog__text {
      }

      .blog__links {
        ul {
          li {
            .a {
            }
          }
        }
      }

      .blog__content {
        padding: 20px;

        .blog__cards {
          .card {
            // margin-bottom: 42px;

            img {
            }

            &__content {
              h3 {
              }

              .card__tags {
                p {
                  padding: 5px 10px;
                }
              }

              .card__date {
              }
            }

            &-big {
              img {
              }

              .card__content {
                h3 {
                }

                .card__tags {
                }
              }
            }
          }
        }
      }
    }
  }
}
