@media (max-width: 960px) {
  .blog {
    margin-bottom: 40px;

    &__container {
      h1 {
        margin-bottom: 24px;
      }

      .blog__text {
        font-size: 16px;
        margin-bottom: 24px;
      }

      .blog__links {
        ul {
          li {
            .a {
            }
          }
        }
      }

      .blog__content {
        padding: 20px;

        .blog__cards {
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 15px;
          grid-row-gap: 15px;

          .card {
            margin-bottom: 30px;

            img {
              margin-bottom: 20px;
            }

            &__content {
              h3 {
                font-size: 20px;
              }

              .card__tags {
                p {
                }
              }

              .card__date {
                font-size: 16px;
              }
            }

            &-big {
              grid-area: 1 / 1 / 2 / 3;
              display: block;

              img {
                margin-bottom: 20px;
                height: 300px;
              }

              .card__content {
                h3 {
                }

                .card__tags {
                }
              }
            }
          }

          .blog__wrap {
            display: contents;
          }
        }
      }
    }
  }
}
