@media (max-width: 960px) {
  .feedback {
    margin-bottom: 40px;
    &__container {
      h1 {
        margin-bottom: 24px;
      }

      .feedback__content {
        gap: 20px;

        .card {
          .card__header {
            a {
              font-size: 20px;
            }
          }

          p {
            font-size: 16px;
          }

          &__gallery {
            img {
            }
          }

          .raiting {
            span {
            }
          }

          &::after {
            display: none;
          }
        }
      }
    }
  }
}
