@media (max-width: 580px) {
  .feedback {
    margin-bottom: 30px;
    &__container {
      h1 {
        margin-bottom: 18px;
      }

      .feedback__content {
        margin-bottom: 40px;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);

        .card {
          padding: 20px;

          .card__header {
            flex-direction: column;
            gap: 10px;
            margin-bottom: 10px;
            a {
            }

            .raiting {
              &__wrap {
                img {
                  width: 16px;
                  height: 16px;
                }
              }

              span {
                font-size: 16px;
              }
            }
          }

          p {
          }

          &__gallery {
            img {
              width: 150px;
              height: 100px;
            }
          }

          &::after {
            display: none;
          }
        }
      }
    }
  }

  .pagination {
    margin-bottom: 40px;
  }
}
