@font-face {
  font-family: "Noah";
  src: local("Noah-Regular"), local("Noah Regular"),
    url("../assets/fonts/Noah-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noah";
  src: local("Noah-Medium"), local("Noah Medium"),
    url("../assets/fonts/Noah-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noah";
  src: local("Noah-Bold"), local("Noah Bold"),
    url("../assets/fonts/Noah-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), local("Montserrat Medium"),
    url("../assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
