@import './_vars.scss';

@mixin container {
  max-width: 1600px;
  margin: 0 auto;

  @media (max-width: 1760px) {
    margin: 0 100px;
  }

  @media (max-width: 1360px) {
    margin: 0 60px;
  }

  @media (max-width: 960px) {
    margin: 0 40px;
  }

  @media (max-width: 700px) {
    margin: 0 20px;
  }
}

@mixin base-button {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: $button-background-primary;
  border: 2px solid $button-background-primary;
  font-size: $font-size-button;
  line-height: 100%;
  font-weight: $font-weight-medium;
  color: $button-text-primary;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;

  &:hover {
    background-color: $button-background-hover;
    border-color: $button-background-hover;
  }

  &:focus-visible {
    border-color: $button-background-focus;
  }

  @media (max-width: 960px) {
    padding: 12px 16px;
    font-size: 16px;
  }
}

@mixin dark-button {
  @include base-button;
  background-color: $button-background-secondary;
  border-color: $button-background-secondary;

  &:hover {
    background-color: $button-background-primary;
    border-color: $button-background-primary;
  }
}

@mixin glare-button {
  @include base-button;
  overflow: hidden;
  position: relative;
  place-items: center;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      -45deg,
      hsla(0, 0%, 0%, 0) 60%,
      rgba(255, 255, 255, 0.7) 70%,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0) 100%
    );
    transition: 1.1s ease;
    background-size:
      450% 450%,
      100% 100%;
    background-repeat: no-repeat;
    background-position:
      -100% -100%,
      0 0;
  }

  &:hover {
    cursor: pointer;
    // border: 2px solid $button-background-primary;
  }

  &:hover::before {
    background-position:
      100% 100%,
      0 0;
  }
}

@mixin base-button-disabled {
  @include base-button;
  background-color: $button-background-disabled;
  border-color: $button-background-disabled;
  color: $button-text-disable;

  &:hover {
    background-color: $button-background-disabled;
    border-color: $button-background-disabled;
    color: $button-text-disable;
  }

  &:focus-visible {
    background-color: $button-background-disabled;
    border-color: $button-background-disabled;
    color: $button-text-disable;
  }
}

@mixin small-button {
  border-radius: 5px;
  border: 1px solid $button-small-border;
  background-color: transparent;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-weight: $font-weight-medium;
  font-size: $font-size-button-small;
  line-height: 14px;
  color: $button-small-text;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    border 0.3s ease-in-out;

  &:hover {
    background-color: transparent;
    border-color: $button-small-border-hover;
  }

  &:focus-visible {
    background-color: transparent;
    border: 3px solid $button-small-border-focus;
  }
}

@mixin small-button-disabled {
  @include small-button;
  border-color: $button-text-disabled;
  color: $button-text-disabled;

  &:hover {
    border-color: $button-text-disabled;
    color: $button-text-disabled;
  }

  &:focus-visible {
    border-color: $button-text-disabled;
    color: $button-text-disabled;
  }
}

@mixin small-button-active {
  @include small-button;
  background-color: $button-small-border-active;
  border-color: $button-small-border-active;
  color: $button-small-text-active;

  &:hover {
    background-color: $button-small-border-active;
    border-color: $button-small-border-active;
    color: $button-small-text-active;
  }

  &:focus-visible {
    background-color: $button-small-border-active;
    border-color: $button-small-border-active;
    color: $button-small-text-active;
  }
}

@mixin tab-button-img {
  font-size: $font-size-tag;
  line-height: 12px;
  font-weight: $font-weight-medium;
  width: 133px;
  height: 85px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: end;
  padding-bottom: 16px;
  color: $button-tag-text;
  border: 1px solid $button-tag-border;
  border-radius: 10px;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    border 0.3s ease-in-out;

  &:hover {
    border-color: $button-tag-border-hover;
  }

  &:focus-visible {
    border: 3px solid $button-tag-border-focus;
  }
}

@mixin tab-button-img-disabled {
  @include tab-button-img;
  border-color: $button-text-disabled;
  color: $button-text-disabled;

  &:hover {
    border-color: $button-text-disabled;
    color: $button-text-disabled;
  }

  &:focus-visible {
    border-color: $button-text-disabled;
    color: $button-text-disabled;
  }
}

@mixin tab-button-img-active {
  background-color: $button-tag-background-active;
  border-color: $button-tag-border-active;
  color: $button-tag-text-active;

  svg {
    path {
      fill: $button-tag-text-active;
    }
  }

  &:hover {
    background-color: $button-tag-background-active;
    border-color: $button-tag-border-active;
    color: $button-tag-text-active;
  }

  &:focus-visible {
    background-color: $button-tag-background-active;
    border-color: $button-tag-border-active;
    color: $button-tag-text-active;
  }
}

@mixin link-base {
  display: inline-block;
  font-size: $font-size-link;
  font-weight: $font-weight-medium;
  line-height: 100%;
  color: $link-text-primary;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;

  &:hover {
    color: $link-text-hover;
  }

  @media (max-width: 960px) {
    font-size: 16px;
  }
}

@mixin link-black {
  @include link-base;
  color: $link-text-secondary;
}

@mixin base-input {
  width: 100%;
  padding: 16px 26px;
  background-color: $input-background;
  border: 1px solid $input-border;
  color: $input-text;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
  font-size: $font-size-input;
  font-weight: $font-weight-regular;

  &:hover {
    border-color: $input-border-hover;
  }

  &:focus-visible {
    border-color: $input-border-focus;
    outline: 2px solid $input-border-focus;
  }

  &:active {
    border-color: $input-border-active;
  }

  @media (max-width: 960px) {
    padding: 11px 20px;
    font-size: 16px;
  }
}

@mixin base-textarea {
  width: 100%;
  padding: 16px 26px;
  background-color: $input-background;
  border: 1px solid $input-border;
  color: $input-text;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
  font-size: $font-size-input;
  font-weight: $font-weight-regular;

  &:hover {
    border-color: $input-border-hover;
  }

  &:focus-visible {
    border-color: $input-border-focus;
    outline: 2px solid $input-border-focus;
  }

  &:active {
    border-color: $input-border-active;
  }

  @media (max-width: 960px) {
    padding: 11px 20px;
    font-size: 16px;
  }
}

@mixin base-select {
  margin: 0;

  &__inner {
    padding: 16px 26px;
    background-color: $input-background;
    border: 1px solid $input-border;
    color: $input-text;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out;
  }

  &__list {
    padding: 0;
    font-size: $font-size-input;
    font-weight: $font-weight-regular;
  }

  &__item {
    font-size: $font-size-input;
    font-weight: $font-weight-regular;
  }

  &__list--dropdown {
    background-color: $input-background;
    border: 1px solid $input-border;
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding-bottom: 20px;
  }

  &__item--choice {
    padding: 5px 20px;

    &[aria-selected='true'] {
      position: relative;
      background-color: #777777;
      color: $button-tag-text-active;
      font-weight: $font-weight-bold;
    }

    &:first-child {
      display: none;
    }
  }

  &::after {
    width: 13px;
    height: 13px;
    border: none;
    background-image: url('../../assets/img/select-arrow.svg');
    margin-top: 0;
    transform: translateY(-50%);
  }

  &.is-open::after {
    transform: translateY(-50%) rotate(180deg);
    transform-origin: center;
  }

  &.is-open {
    .choices__inner {
      border-radius: 10px 10px 0 0;
      border-bottom: none;
    }
  }

  @media (max-width: 960px) {
    &__inner {
      padding: 10px 20px;
      font-size: 16px;
    }

    &__list {
      font-size: 16px;
    }

    &__item {
      font-size: 16px;
    }
  }

  // &:hover {
  //   &__inner {
  //     border-color: $input-border-hover;
  //   }
  // }

  // &:focus-visible {
  //   &__inner {
  //     border-color: $input-border-focus;
  //     outline: 2px solid $input-border-focus;
  //   }
  // }

  // &:active {
  //   &__inner {
  //     border-color: $input-border-active;
  //   }
  // }
}

@mixin filter-select {
  @include base-select;

  &__list--dropdown {
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid $nested-list-border;
    background-color: $input-background;
    padding: 20px 0;
  }

  &.is-open {
    .choices__inner {
      border-radius: 10px;
    }
  }
}

@mixin error-input {
  @include base-input;
  border-color: $error-color;

  &:hover {
    border-color: $error-color;
  }

  &:focus-visible {
    border-color: $error-color;
  }

  &:active {
    border-color: $error-color;
  }
}

@mixin title1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-medium;
  line-height: 100%;
  text-transform: uppercase;

  @media (max-width: 1760px) {
    font-size: 60px;
  }

  @media (max-width: 1600px) {
    font-size: 50px;
  }

  @media (max-width: 960px) {
    font-size: 40px;
  }

  @media (max-width: 580px) {
    font-size: 30px;
  }
}

@mixin title2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-regular;
  line-height: 100%;
  text-transform: uppercase;

  @media (max-width: 1760px) {
    font-size: 46px;
  }

  @media (max-width: 1600px) {
    font-size: 36px;
  }

  @media (max-width: 1360px) {
    font-size: 32px;
  }

  @media (max-width: 960px) {
    font-size: 26px;
  }

  @media (max-width: 580px) {
    font-size: 24px;
  }
}

@mixin title3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-regular;
  line-height: 100%;

  @media (max-width: 1600px) {
    font-size: 26px;
  }

  @media (max-width: 960px) {
    font-size: 22px;
  }

  @media (max-width: 580px) {
    font-size: 20px;
  }
}

@mixin tag {
  min-width: 235px;
  display: flex;
  justify-content: center;
  background-color: $primary-background;
  border-radius: 100px;
  font-size: $font-size-tag;
  font-weight: $font-weight-medium;
  color: $primary-text;
  padding: 9px 15px;
}

@mixin base-tab {
  padding: 10px 18px;
  background-color: $primary-background;
  color: $actions-text;
  font-size: $font-size-link;
  line-height: 12px;
  font-weight: $font-weight-medium;
  border-radius: 50px;
  border: 1px solid #0001011c;
  transition:
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  text-wrap: nowrap;

  &:hover {
    background-color: $secondary-background;
    border-color: $secondary-background;
    color: $button-tag-text-active;
  }
}

@mixin base-checkbox {
  display: block;
  position: relative;
  height: 30px;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 1px solid $input-border;
    background-color: #ffffff;
    border-radius: 8px;

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 10px;
      height: 15px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  // &:hover input ~ .checkmark {
  //   background-color: aqua;
  // }

  & input:checked ~ .checkmark {
    background-color: $actions-background-secondary;
  }

  & input:checked ~ .checkmark:after {
    display: block;
  }
}

@mixin filter-primary-checkbox {
  @include base-checkbox;
  height: 18px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 2px solid $input-border;
    border-radius: 2px;

    &::after {
      left: 4px;
      top: 1px;
      width: 6px;
      height: 10px;
      border-width: 0 2px 2px 0;
    }
  }
}

@mixin filter-secondary-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-size: 15px;
    height: 38px;
    width: 38px;
    border: 1px solid $input-border;
    background-color: #ffffff;
    border-radius: 5px;
    transition:
      color 0.3s ease-in-out,
      background-color 0.3s ease-in-out,
      border-color 0.3s ease-in-out;
  }

  & input:checked ~ .checkmark {
    background-color: $actions-background-secondary;
    color: $primary-title;
  }

  &:hover .checkmark {
    border-color: #000000;
  }
}

@mixin base-tooltip {
  position: relative;
  cursor: pointer;

  .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: $primary-background;
    border: 1px solid $button-tag-border;
    text-align: center;
    padding: 2px 4px;
    border-radius: 10px;
    position: absolute;
    right: 24px;
    z-index: 1;

    img {
      object-fit: cover;
    }
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}
