// colors
$site-background: #f8f8f8;
$primary-background: #ffffff;

$actions-background-primary: #f8f8f8;
$actions-background-secondary: #b1a489;

$input-background: #f9f9f9;
$input-border: #0000000d;
$input-border-hover: #000000;
$input-border-focus: #00000066;

$error-color: #cc0d00;

$button-text-primary: #ffffff;
$button-text-disabled: #9d9d9d;

$button-background-primary: #b1a489;
$button-background-secondary: #28282c;
$button-background-hover: #000101;
$button-background-focus: #91866f66;
$button-background-disabled: #454545;

$actions-text: #454545;
$primary-text: #000101;
$secondary-text: #000000;

//font
$font-size-button: 18px;

$line-height-button: 100%;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//spacing
// $spacing-xs:
