// colors
$site-background: #f8f8f8;
$primary-background: #ffffff;

$actions-background-primary: #f8f8f8;
$actions-background-secondary: #b1a489;

$input-background: #f9f9f9;
$input-border: #0000000d;
$input-text: #454545;
$input-border-hover: #000000;
$input-border-focus: #00000066;
$input-border-active: #000000;

$error-color: #cc0d00;

$link-text-primary: #ffffff;
$link-text-secondary: #000101;
$link-text-hover: #b1a489;

$button-text-primary: #ffffff;
$button-text-disabled: #9d9d9d;

$button-background-primary: #b1a489;
$button-background-secondary: #28282c;
$button-background-hover: #000101;
$button-background-focus: #91866f66;
$button-background-disabled: #454545;

$button-small-border: #0000001c;
$button-small-border-hover: #000000;
$button-small-border-focus: #00000066;
$button-small-border-active: #b1a489;
$button-small-text: #000000;
$button-small-text-active: #ffffff;

$button-tag-text: #28282c;
$button-tag-border: #0000001c;
$button-tag-border-hover: #000000;
$button-tag-border-focus: #00000066;
$button-tag-text-active: #ffffff;
$button-tag-border-active: #000000;
$button-tag-background-active: #000000;

$actions-text: #454545;
$primary-text: #000101;
$secondary-text: #000000;

//font
$font-size-h1: 70px;
$font-size-h2: 56px;
$font-size-h3: 32px;
$font-size-text: 20px;
$font-size-tag: 16px;
$font-size-input: 18px;
$font-size-link: 18px;
$font-size-button: 18px;
$font-size-button-small: 15px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
