@import '../_vars.scss';
@import '../_mixin.scss';

.projects-detail {
  margin-bottom: 100px;

  &__container {
    @include container;

    h1 {
      @include title2;
      margin-bottom: 30px;
    }

    h2 {
      @include title3;
      margin-bottom: 40px;
    }

    .projects-detail__imgs {
      max-height: 700px;
      display: flex;
      gap: 20px;
      margin-bottom: 15px;

      img {
        width: 100%;
        height: 700px;
        object-fit: cover;
        border-radius: 10px;
        cursor: zoom-in;
      }

      .projects-detail__gallery {
        min-width: 170px;
        max-width: 170px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 16px;
        -ms-overflow-style: none;
        scrollbar-width: none;

        img {
          width: 170px;
          min-height: 150px;
          max-height: 150px;
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .projects-detail__wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 25px;
      margin-bottom: 100px;

      .projects-detail__info {
        display: grid;
        grid-template-columns: repeat(6, 170px);
        gap: 10px;

        &-wrap {
          padding: 20px;
          background-color: $primary-background;
          border: 1px solid $button-tag-border;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;

          p {
            text-align: center;
            font-size: $font-size-tag;
            font-weight: $font-weight-bold;
            color: $actions-text;
          }
        }
      }

      .project-detail__actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        p {
          font-size: $font-size-text;
          font-weight: $font-weight-medium;

          span {
            font-weight: $font-weight-bold;
          }
        }

        a {
          @include base-button;
        }
      }
    }

    .projects-detail__content {
      p {
        font-size: $font-size-text;
        color: $actions-text;
        margin-bottom: 40px;
      }
    }

    .project-detail__cards {
    }

    .project-detail__video {
    }
  }
}

.contactForm {
  background-color: $secondary-background;
  padding: 100px 0;

  &__container {
    @include container;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;

    .contactForm__info {
      display: flex;
      flex-direction: column;
      gap: 40px;

      h2 {
        @include title2;
        color: $primary-title;
      }

      p {
        font-size: $font-size-text;
        color: $primary-title;
      }

      .personal {
        display: flex;
        gap: 30px;

        img {
          border-radius: 50%;
          width: 100px;
          height: 100px;
          min-width: 100px;
          object-fit: cover;
          background-color: #fff;
        }

        &__wrap {
          h4 {
            font-size: $font-size-text;
            color: $primary-title;
            font-weight: $font-weight-medium;
            margin-bottom: 4px;
          }

          h5 {
            font-size: 18px;
            color: $primary-title;
            font-weight: $font-weight-regular;
            margin-bottom: 20px;
          }

          p {
            font-size: $font-size-link;
            font-weight: $font-weight-regular;
          }
        }
      }
    }

    form {
      .form-table {
        width: 100%;
        .input {
          @include base-input;
          width: 100%;
          margin-bottom: 12px;
        }

        .form__required {
          display: flex;
          gap: 25px;
          align-items: center;
          margin-bottom: 30px;

          .checkbox {
            @include base-checkbox;
          }

          p {
            font-size: $font-size-link;
            color: $link-text-primary;
            font-weight: $font-weight-regular;

            a {
              @include link-base;
              font-size: $font-size-link;
              font-weight: $font-weight-regular;
            }
          }
        }

        input[type='submit'] {
          @include base-button;
          width: unset;
          padding: 20px 60px;
        }
      }

      tfoot {
        th {
          text-align: start;
        }
      }
    }
  }

  img {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
  }
}
