@import '../_vars.scss';
@import '../_mixin.scss';

.projects-detail {
  margin-bottom: 100px;

  &__container {
    @include container;

    h1 {
      @include title2;
      margin-bottom: 40px;
    }

    h2 {
      @include title3;
      margin-bottom: 40px;
      text-transform: uppercase;
    }

    .projects-detail__imgs {
      max-height: 100%;
      display: flex;
      gap: 20px;
      margin-bottom: 15px;

      .projects-detail__slider {
        width: 100%;
        max-height: 700px;
        object-fit: cover;
        border-radius: 10px;
        cursor: zoom-in;

        .swiper-slide {
          width: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .swiper-button-next,
        .swiper-button-prev {
          display: none;
          background-color: $primary-background;
          border-radius: 50%;

          svg {
            fill: transparent;
            width: 6px;
            height: 14px;
          }
        }

        .swiper-button-next {
          right: 35px;
        }

        .swiper-button-prev {
          left: 35px;
        }
      }

      .projects-detail__gallery {
        min-width: 170px;
        max-width: 170px;
        max-height: 700px;

        .swiper-slide {
          width: 170px;
          height: 150px;
          border-radius: 10px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: blur(1px) opacity(70%);
            transition: filter 0.3s ease-in-out;
          }

          &-thumb-active {
            img {
              filter: blur(0px) opacity(100%);
            }
          }
        }
      }
    }

    .projects-detail__wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 25px;
      margin-bottom: 100px;

      .projects-detail__info {
        display: grid;
        grid-template-columns: repeat(6, 170px);
        gap: 10px;

        &-wrap {
          padding: 20px;
          background-color: $primary-background;
          border: 1px solid $button-tag-border;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;

          p {
            text-align: center;
            font-size: $font-size-tag;
            font-weight: $font-weight-bold;
            color: $actions-text;
          }
        }
      }

      .project-detail__actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        p {
          font-size: $font-size-text;
          font-weight: $font-weight-medium;

          span {
            font-weight: $font-weight-bold;
          }
        }

        a {
          @include base-button;
          text-wrap: nowrap;
        }
      }
    }

    .projects-detail__content {
      p {
        font-size: $font-size-text;
        color: $actions-text;
        margin-bottom: 40px;
      }
    }

    .projects-detail__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 15px;
      margin-bottom: 100px;

      .card {
        border: 1px solid #0000001c;
        border-radius: 10px;
        padding: 25px 35px;
        background-color: $primary-background;

        h3 {
          font-size: $font-size-text;
          font-weight: $font-weight-bold;
          color: #b1a489;
          margin-bottom: 20px;
          text-transform: uppercase;
        }

        p {
          font-size: $font-size-text;
          color: $actions-text;
        }
      }
    }

    .projects-detail__video {
      .video {
        position: relative;

        video {
          width: 100%;
          border-radius: 10px;
          overflow: hidden;
          filter: brightness(30%);
        }

        button {
          position: absolute;
          top: calc(50% - 45px);
          left: calc(50% - 45px);
          width: 90px;
          height: 90px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid #fff;
          z-index: 1;
          border-radius: 50%;
          transition: border-color 0.3s ease-in-out;

          span {
            margin-left: 20px;
            display: block;
            border: 15px solid transparent;
            border-left: 25px solid #fff;
            transition: border-color 0.3s ease-in-out;
          }

          &:hover {
            border-color: #b1a489;

            span {
              border-left-color: #b1a489;
            }
          }
        }
      }
    }
  }
}
