@media (max-width: 580px) {
  .about {
    &__container {
      h1 {
      }

      .about__wrap {
        img {
          width: 100%;
          height: 300px;
        }

        .aboout__content {
          h3 {
          }

          ul {
          }

          p,
          li {
          }

          a,
          button {
          }
        }

        &:nth-child(2n + 4) {
        }
      }

      .about__cards {
        grid-template-columns: repeat(1, 1fr);

        .card {
          h3 {
          }

          p {
          }

          a {
          }
        }
      }
    }
  }

  .contactForm {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .contactForm__info {
        margin-bottom: 0;
        display: contents;
        h2 {
        }

        p {
        }

        .personal {
          order: 1;
          img {
          }

          &__wrap {
            h4 {
            }

            h5 {
            }

            p {
            }
          }
        }
      }

      form {
        .form-table {
          width: 100%;
          .input {
          }

          .form__required {
            .checkbox {
            }

            p {
              a {
              }
            }
          }

          input[type='submit'] {
            width: 100%;
          }
        }

        tfoot {
          th {
          }
        }
      }
    }
  }
}
