@media (max-width: 580px) {
  .projects-detail {
    margin-bottom: 30px;
    &__container {
      h1 {
        margin-bottom: 18px;
      }
      h2 {
        margin-bottom: 18px;
      }

      .projects-detail__imgs {
        flex-direction: column;
        gap: 16px;

        .projects-detail__slider {
          max-height: 400px;
          .swiper-slide {
            img {
            }
          }

          .swiper-button-next {
            right: 10px;
          }

          .swiper-button-prev {
            left: 10px;
          }
        }

        .projects-detail__gallery {
          width: 100%;
          max-width: unset;

          .swiper-slide {
            width: 150px;
            height: 100px;

            img {
            }

            &-thumb-active {
              img {
              }
            }
          }
        }
      }

      .projects-detail__wrap {
        flex-direction: column;
        align-items: center;

        .projects-detail__info {
          width: 100%;
          display: flex;
          overflow-x: auto;
          -ms-overflow-style: none;
          scrollbar-width: none;

          &-wrap {
            min-width: 120px;
            p {
            }
          }
        }

        .project-detail__actions {
          p {
            span {
            }
          }

          a {
          }
        }
      }

      .projects-detail__content {
        p {
        }
      }

      .projects-detail__cards {
        grid-template-columns: repeat(1, 1fr);

        .card {
          h3 {
            font-size: 18px;
            margin-bottom: 15px;
          }

          p {
          }
        }
      }

      .projects-detail__video {
        .video {
          video {
          }

          button {
            span {
            }
          }
        }
      }
    }
  }

  .contactForm {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .contactForm__info {
        margin-bottom: 0;
        display: contents;
        h2 {
          margin-bottom: 16px;
        }

        p {
        }

        .personal {
          order: 1;
          gap: 20px;

          img {
            min-width: 80px;
            width: 80px;
            height: 80px;
          }

          &__wrap {
            h4 {
              font-size: 16px;
            }

            h5 {
              font-size: 16px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }

      form {
        .form-table {
          width: 100%;
          .input {
          }

          .form__required {
            .checkbox {
            }

            p {
              a {
              }
            }
          }

          input[type='submit'] {
            width: 100%;
          }
        }

        tfoot {
          th {
          }
        }
      }
    }
  }
}
