@media (max-width: 960px) {
  .projects-detail {
    margin-bottom: 40px;
    &__container {
      h1 {
        margin-bottom: 24px;
      }
      h2 {
        margin-bottom: 24px;
      }

      .projects-detail__imgs {
        flex-direction: column;
        gap: 16px;

        .projects-detail__slider {
          max-height: 400px;
          .swiper-slide {
            img {
            }
          }

          .swiper-button-next,
          .swiper-button-prev {
            display: flex;
          }
        }

        .projects-detail__gallery {
          width: 100%;
          max-width: unset;

          .swiper-slide {
            width: 120px;
            height: 100px;

            img {
            }

            &-thumb-active {
              img {
              }
            }
          }
        }
      }

      .projects-detail__wrap {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        .projects-detail__info {
          &-wrap {
            p {
              font-weight: 500;
              font-size: 16px;
            }
          }
        }

        .project-detail__actions {
          p {
            font-size: 16px;
            span {
            }
          }

          a {
          }
        }
      }

      .projects-detail__content {
        p {
          font-size: 16px;
        }
      }

      .projects-detail__cards {
        grid-template-columns: repeat(1, 1fr);

        .card {
          padding: 15px 25px;
          h3 {
          }

          p {
            font-size: 16px;
          }
        }
      }

      .projects-detail__video {
        .video {
          video {
          }

          button {
            span {
            }
          }
        }
      }
    }
  }

  .contactForm {
    padding: 30px 0;

    &__container {
      display: block;

      .contactForm__info {
        margin-bottom: 30px;
        h2 {
        }

        p {
          font-size: 16px;
        }

        .personal {
          img {
          }

          &__wrap {
            h4 {
            }

            h5 {
            }

            p {
            }
          }
        }
      }

      form {
        .form-table {
          width: 100%;
          .input {
          }

          .form__required {
            .checkbox {
            }

            p {
              font-size: 16px;
              a {
                font-size: 16px;
              }
            }
          }

          input[type='submit'] {
          }
        }

        tfoot {
          th {
          }
        }
      }
    }

    img {
    }
  }
}
