@media (max-width: 960px) {
  .projects-detail {
    margin-bottom: 60px;
    &__container {
      h1 {
      }
      h2 {
      }

      .projects-detail__imgs {
        flex-direction: column;
        gap: 16px;

        .projects-detail__slider {
          max-height: 400px;
          .swiper-slide {
            img {
            }
          }

          .swiper-button-next,
          .swiper-button-prev {
            display: flex;
          }
        }

        .projects-detail__gallery {
          width: 100%;
          max-width: unset;

          .swiper-slide {
            width: 120px;
            height: 100px;

            img {
            }

            &-thumb-active {
              img {
              }
            }
          }
        }
      }

      .projects-detail__wrap {
        flex-direction: column;
        align-items: center;

        .projects-detail__info {
          &-wrap {
            p {
            }
          }
        }

        .project-detail__actions {
          p {
            span {
            }
          }

          a {
          }
        }
      }

      .projects-detail__content {
        p {
        }
      }

      .projects-detail__cards {
        grid-template-columns: repeat(1, 1fr);

        .card {
          h3 {
          }

          p {
          }
        }
      }

      .projects-detail__video {
        .video {
          video {
          }

          button {
            span {
            }
          }
        }
      }
    }
  }

  .contactForm {
    padding: 60px 0;

    &__container {
      display: block;

      .contactForm__info {
        margin-bottom: 40px;
      }
    }
  }
}
