@media (max-width: 1760px) {
  .projects-detail {
    &__container {
      margin-bottom: 60px;

      h1 {
        margin-bottom: 30px;
      }

      h2 {
        margin-bottom: 30px;
      }

      .projects-detail__imgs {
        .projects-detail__slider {
          max-height: 500px;
          .swiper-slide {
            img {
            }
          }
        }

        .projects-detail__gallery {
          max-height: 500px;
          .swiper-slide {
            img {
            }

            &-thumb-active {
              img {
              }
            }
          }
        }
      }

      .projects-detail__wrap {
        gap: 20px;
        margin-bottom: 40px;
        flex-wrap: nowrap;

        .projects-detail__info {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          gap: 5px;

          &-wrap {
            padding: 15px;

            p {
              font-size: 18px;
            }
          }
        }

        .project-detail__actions {
          p {
            font-size: 18px;
            span {
            }
          }

          a {
          }
        }
      }

      .projects-detail__content {
        p {
          font-size: 18px;
        }
      }

      .projects-detail__cards {
        .card {
          h3 {
          }

          p {
            font-size: 18px;
          }
        }
      }

      .projects-detail__video {
        .video {
          video {
          }

          button {
            span {
            }
          }
        }
      }
    }
  }

  .contactForm {
    padding: 60px 0;

    &__container {
      padding: 0;

      .contactForm__info {
        gap: 24px;
        h2 {
        }

        p {
          font-size: 18px;
        }

        .personal {
          img {
          }

          &__wrap {
            h4 {
            }

            h5 {
              margin-bottom: 16px;
            }

            p {
              font-size: 16px;
            }
          }
        }
      }

      form {
        .form-table {
          .input {
          }

          .form__required {
            .checkbox {
            }

            p {
              a {
              }
            }
          }

          input[type='submit'] {
          }
        }

        tfoot {
          th {
          }
        }
      }
    }
  }
}

@media (max-width: 1360px) {
  .projects-detail {
    &__container {
      h1 {
      }
      h2 {
      }

      .projects-detail__imgs {
        .projects-detail__slider {
          max-height: 550px;
          .swiper-slide {
            img {
            }
          }
        }

        .projects-detail__gallery {
          min-width: 120px;
          max-width: 120px;
          max-height: 550px;

          .swiper-slide {
            width: 120px;
            height: 100px;

            img {
            }

            &-thumb-active {
              img {
              }
            }
          }
        }
      }

      .projects-detail__wrap {
        gap: 20px;
        margin-bottom: 40px;
        flex-wrap: nowrap;

        .projects-detail__info {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          gap: 5px;

          &-wrap {
            padding: 15px;

            p {
            }
          }
        }

        .project-detail__actions {
          p {
            span {
            }
          }

          a {
          }
        }
      }

      .projects-detail__content {
        p {
        }
      }

      .projects-detail__cards {
        grid-column-gap: 15px;
        grid-row-gap: 10px;
        margin-bottom: 50px;

        .card {
          h3 {
          }

          p {
          }
        }
      }

      .projects-detail__video {
        .video {
          video {
          }

          button {
            span {
            }
          }
        }
      }
    }
  }
}
