@media (max-width: 1760px) {
  .workers {
    margin-bottom: 60px;
    &__container {
      h1 {
        margin-bottom: 30px;
      }

      .workers__links {
        margin-bottom: 40px;
      }

      .group {
        margin-bottom: 40px;

        h2 {
          margin-bottom: 30px;
        }

        .group__cards {
          gap: 40px;

          .card {
            min-width: 320px;
            max-width: 320px;

            img {
              height: 400px;
              // margin-bottom: 20px;
            }

            h3 {
              font-size: 18px;
              margin-bottom: 10px;
            }

            p {
              font-size: 18px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
