@media (max-width: 960px) {
  .workers {
    margin-bottom: 40px;
    &__container {
      h1 {
        margin-bottom: 24px;
      }

      .workers__links {
        margin-bottom: 30px;
      }

      .group {
        margin-bottom: 30px;

        h2 {
          margin-bottom: 24px;
        }

        .group__cards {
          gap: 30px;

          .card {
            img {
            }

            h3 {
              font-size: 16px;
            }

            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
