@font-face {
  font-family: "Noah";
  src: local("Noah-Regular"), local("Noah Regular"), url("../../assets/fonts/Noah-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: local("Noah-Medium"), local("Noah Medium"), url("../../assets/fonts/Noah-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: local("Noah-Bold"), local("Noah Bold"), url("../../assets/fonts/Noah-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), local("Montserrat Medium"), url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
.workers__container {
  max-width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1760px) {
  .workers__container {
    margin: 0 80px;
  }
}
@media (max-width: 1360px) {
  .workers__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .workers__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .workers__container {
    margin: 0 20px;
  }
}
.workers__container h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 580px) {
  .workers__container h1 {
    font-size: 38px;
  }
}
.workers__container .workers__links {
  margin-bottom: 60px;
}
.workers__container .workers__links ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.workers__container .workers__links ul li a {
  padding: 10px 18px;
  background-color: #ffffff;
  color: #454545;
  font-size: 18px;
  line-height: 12px;
  font-weight: 500;
  border-radius: 50px;
  border: 1px solid rgba(0, 1, 1, 0.1098039216);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  text-wrap: nowrap;
  display: block;
}
.workers__container .workers__links ul li a:hover {
  background-color: #28282c;
  border-color: #28282c;
  color: #ffffff;
}
.workers__container .group {
  margin-bottom: 100px;
}
.workers__container .group h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 50px;
}
@media (max-width: 580px) {
  .workers__container .group h2 {
    font-size: 38px;
  }
}
.workers__container .group .group__cards {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}
.workers__container .group .group__cards .card {
  min-width: 350px;
  max-width: 350px;
}
.workers__container .group .group__cards .card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 490px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.workers__container .group .group__cards .card h3 {
  color: #454545;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.workers__container .group .group__cards .card p {
  color: #454545;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

@media (max-width: 960px) {
  .workers__container .workers__links {
    margin-bottom: 40px;
  }
  .workers__container .workers__links ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  .workers__container .workers__links ul li a {
    padding: 10px 18px;
    background-color: #ffffff;
    color: #454545;
    font-size: 18px;
    line-height: 12px;
    font-weight: 500;
    border-radius: 50px;
    border: 1px solid rgba(0, 1, 1, 0.1098039216);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    text-wrap: nowrap;
    display: block;
  }
  .workers__container .workers__links ul li a:hover {
    background-color: #28282c;
    border-color: #28282c;
    color: #ffffff;
  }
  .workers__container .group {
    margin-bottom: 100px;
  }
  .workers__container .group h2 {
    margin-bottom: 30px;
  }
  .workers__container .group .group__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
  .workers__container .group .group__cards .card {
    min-width: unset;
  }
  .workers__container .group .group__cards .card img {
    height: 440px;
  }
}
@media (max-width: 580px) {
  .workers__container .group {
    margin-bottom: 100px;
  }
  .workers__container .group h2 {
    margin-bottom: 30px;
  }
  .workers__container .group .group__cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .workers__container .group .group__cards .card {
    max-width: 375px;
  }
  .workers__container .group .group__cards .card img {
    height: 490px;
  }
}/*# sourceMappingURL=style-worker.css.map */