@import '../_vars.scss';
@import '../_mixin.scss';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: 'Noah';
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'Noah';
  background-color: $site-background;
}

input {
  @include base-input;
}

.header {
  @include container;
  border-radius: 15px;
  background-color: $primary-background;

  &__container {
    padding: 28px 46px;
    display: flex;
  }
}
