@import "../_vars.scss";
@import "../_mixin.scss";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: "Noah";
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Noah";
  background-color: $primary-background;
}

input {
  @include base-input;
}

.header {
  z-index: 1000;
  width: 1600px;
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  background-color: $primary-background;

  &__container {
    padding: 28px 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    justify-content: space-between;

    .nav {
      &__list {
        display: flex;
        align-items: center;
        gap: 40px;

        .list__item {
          position: relative;

          a {
            display: flex;
            align-items: center;
            gap: 7px;
            text-transform: uppercase;
            font-size: $font-size-nav;
            font-weight: $font-weight-bold;
            line-height: 100%;
            color: $primary-text;
            transition: color 0.3s ease-in-out;

            span {
              position: relative;

              &::after {
                position: absolute;
                content: "";
                top: 100%;
                width: 100%;
                left: 0;
                height: 2px;
                background-color: $primary-text;
                transform: scaleX(0);
                transition: transform 0.3s ease-in-out,
                  background-color 0.3s ease-in-out;
              }
            }

            svg {
              min-width: 20px;
              transition: transform 0.3s ease-in-out;

              path {
                transition: fill 0.3s ease-in-out;
              }
            }

            &:hover {
              color: $link-text-hover;

              span {
                &::after {
                  background-color: $link-text-hover;
                }
              }

              svg {
                path {
                  fill: $link-text-hover;
                }
              }
            }
          }

          .nested {
            transform-origin: 0 0;
            opacity: 0;
            position: absolute;
            left: -50px;
            top: 20px;
            transform: scaleY(0);
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

            &__menu {
              margin-top: 45px;
              background-color: $nested-list-background;
              border: 1px solid $nested-list-border;
              padding: 20px 50px;
              display: flex;
              gap: 36px;
              border-radius: 0 0 20px 20px;

              .nested__wrap {
                min-width: 225px;

                h3 {
                  font-size: 14px;
                  line-height: 24px;
                  font-weight: $font-weight-bold;
                  margin-bottom: 18px;
                }

                .nested__list {
                  display: flex;
                  flex-direction: column;
                  gap: 10px;

                  li {
                    a {
                      font-size: $font-size-nested-list;
                      line-height: 24px;
                      font-weight: $font-weight-medium;
                      color: $secondary-text;

                      &::after {
                        display: none;
                      }

                      &:hover {
                        color: $link-text-hover;
                      }
                    }
                  }
                }
              }
            }
          }
          &:hover {
            a {
              span {
                &::after {
                  transform: scaleX(1);
                }
              }
              svg {
                transform: rotate(180deg);
              }
            }

            .nested {
              opacity: 1;
              transform: scaleY(1);
            }
          }
        }
      }
    }

    .header__actions {
      display: flex;
      align-items: center;
      gap: 20px;

      .header__logos {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      .header__phone {
        font-size: $font-size-link;
        font-weight: $font-weight-medium;
        color: $primary-text;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: $link-text-hover;
        }
      }

      .header__feedback {
        @include base-button;
      }
    }

    .header__links {
      display: flex;
      gap: 20px;

      a,
      button {
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid transparent;
        border-radius: 50%;
        transition: border-color 0.3s ease-in-out;

        svg {
          path {
            transition: fill 0.3s ease-in-out;
          }
        }

        &:hover {
          border-color: $link-text-hover;

          svg {
            path {
              fill: $link-text-hover;
            }
          }
        }

        .link--active {
          background-color: $link-text-hover;
          border: 3px solid transparent;

          svg {
            path {
              fill: $link-text-hover;
            }
          }
        }
      }
    }
  }
}
