@import '../_vars.scss';
@import '../_mixin.scss';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: 'Noah';
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'Noah';
  background-color: $base-background-body;
}

input {
  @include base-input;
}

textarea {
  @include base-textarea;
}

.header {
  @include container;
  margin-top: 42px;
  border-radius: 15px;
  background-color: $primary-background;

  &__container {
    padding: 28px 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    position: relative;

    .nav {
      &__list {
        display: flex;
        align-items: center;
        gap: 40px;

        .list__item {
          position: relative;

          a {
            display: flex;
            align-items: center;
            gap: 7px;
            text-transform: uppercase;
            font-size: $font-size-nav;
            font-weight: $font-weight-bold;
            line-height: 100%;
            color: $primary-text;
            transition: color 0.3s ease-in-out;

            span {
              position: relative;
              text-wrap: nowrap;

              &::after {
                position: absolute;
                content: '';
                top: 100%;
                width: 100%;
                left: 0;
                height: 2px;
                background-color: $primary-text;
                transform: scaleX(0);
                transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
              }
            }

            svg {
              min-width: 20px;
              transition: transform 0.3s ease-in-out;

              path {
                transition: fill 0.3s ease-in-out;
              }
            }

            &:hover {
              color: $link-text-hover;

              span {
                &::after {
                  background-color: $link-text-hover;
                }
              }

              svg {
                path {
                  fill: $link-text-hover;
                }
              }
            }
          }

          .nested {
            transform-origin: 0 0;
            opacity: 0;
            position: absolute;
            left: -50px;
            top: 20px;
            transform: scaleY(0);
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

            &__menu {
              margin-top: 45px;
              background-color: $nested-list-background;
              border: 1px solid $nested-list-border;
              padding: 20px 50px;
              display: flex;
              gap: 36px;
              border-radius: 0 0 20px 20px;

              .nested__wrap {
                min-width: 225px;

                h3 {
                  font-size: 14px;
                  line-height: 24px;
                  font-weight: $font-weight-bold;
                  margin-bottom: 18px;
                }

                .nested__list {
                  display: flex;
                  flex-direction: column;
                  gap: 10px;

                  li {
                    a {
                      font-size: $font-size-nested-list;
                      line-height: 24px;
                      font-weight: $font-weight-medium;
                      color: $secondary-text;

                      &::after {
                        display: none;
                      }

                      &:hover {
                        color: $link-text-hover;
                      }
                    }
                  }
                }
              }
            }
          }
          &:hover {
            a {
              span {
                &::after {
                  transform: scaleX(1);
                }
              }
              svg {
                transform: rotate(180deg);
              }
            }

            .nested {
              opacity: 1;
              transform: scaleY(1);
            }
          }
        }
      }
    }

    .header__actions {
      display: flex;
      align-items: center;
      gap: 20px;

      .header__logos {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      .header__phone {
        font-size: $font-size-link;
        font-weight: $font-weight-medium;
        color: $primary-text;
        text-wrap: nowrap;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: $link-text-hover;
        }
      }

      .header__feedback {
        @include base-button;
        padding: 14px 12px;
      }
    }

    .header__links {
      display: flex;
      gap: 20px;

      a,
      button {
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid transparent;
        border-radius: 50%;
        transition: border-color 0.3s ease-in-out;

        svg {
          path {
            transition: fill 0.3s ease-in-out;
          }
        }

        &:hover {
          border-color: $link-text-hover;

          svg {
            path {
              fill: $link-text-hover;
            }
          }
        }

        .link--active {
          background-color: $link-text-hover;
          border: 3px solid transparent;

          svg {
            path {
              fill: $link-text-hover;
            }
          }
        }
      }
    }

    .header__burger {
      background-color: $button-background-primary;
      border-radius: 10px;
      padding: 16px;
      width: 50px;
      height: 50px;
      display: none;
      position: relative;
      transition: background-color 0.3s ease-in-out;

      span {
        position: absolute;
        left: 16px;
        right: 16px;
        height: 2px;
        border-radius: 2px;
        background-color: #ffffff;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;

        &:nth-child(1) {
          top: 16px;
        }

        &:nth-child(2) {
          top: calc(50% - 1px);
        }

        &:nth-child(3) {
          bottom: 16px;
        }
      }

      &--active {
        span {
          &:nth-child(1) {
            transform: rotate(45deg);
            top: 50%;
          }

          &:nth-child(2) {
            transform: scaleX(0);
          }

          &:nth-child(3) {
            transform: rotate(-45deg);
            top: 50%;
          }
        }
      }

      &:hover {
        background-color: $button-background-hover;
      }
    }
  }
}

.slider {
  position: relative;

  .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-background;
  }

  .slick-prev {
    left: 35px;
  }

  .slick-next {
    right: 35px;
  }
}

.breadcrumbs {
  @include container;
  margin-top: 40px;
  margin-bottom: 40px;

  ol {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      gap: 8px;

      a {
        @include link-black;
        color: $actions-text;
        text-decoration: none;
        font-size: $font-size-tag;
        font-weight: $font-weight-regular;
      }

      &:not(:last-child)::after {
        content: '-';
      }
    }
  }
}

.footer {
  border-radius: 15px 15px 0 0;
  background-color: $secondary-background;

  &__container {
    @include container;
    padding: 70px 0 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;

    h3 {
      font-family: 'Montserrat';
      font-weight: $font-weight-medium;
      font-size: 18px;
      color: $primary-title;
      margin-bottom: 30px;
    }

    .nav {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 200px;
      &__wrap {
        display: flex;
        flex-direction: column;
        gap: 40px;

        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;

          li {
            a {
              @include link-base;
              text-transform: lowercase;
              text-decoration: none;
              font-size: $font-size-tag;
              font-weight: $font-weight-regular;
            }

            svg {
              display: none;
              transition: transform 0.3s ease-in-out;
            }

            &:first-child {
              a {
                text-transform: none;
                font-family: 'Montserrat';
                font-weight: $font-weight-regular;
                font-size: 18px;
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }

    .contacts {
      &__wrap {
        display: flex;
        gap: 20px;
        text-align: center;
        margin-bottom: 30px;

        a {
          @include link-base;
          text-decoration: none;
        }
      }

      &__email {
        position: relative;
        padding-left: 50px;
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: url('../../assets/img/mail.svg');
        }
      }

      &__map {
        position: relative;
        padding-left: 50px;
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: url('../../assets/img/location.svg');
        }
      }

      &__link {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        p,
        a {
          @include link-base;
          line-height: 122%;
          letter-spacing: 0;
        }

        p {
          text-decoration: none;

          &:hover {
            color: $link-text-primary;
          }
        }
      }

      button {
        @include base-button;
        margin-bottom: 30px;
      }

      &__links {
        display: flex;
        gap: 40px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 26px;
          height: 26px;
          background-color: $actions-text;
          border-radius: 50%;
          transition: background-color 0.3s ease-in-out;

          &:hover {
            background-color: $button-background-hover;
          }
        }
      }
    }
  }
}
