@media (max-width: 960px) {
  .header {
    &__container {
      gap: 75px;

      .header__logo {
        margin-right: auto;
      }
      .nav {
        &__list {
          .list__item {
            a {
            }

            .nested {
              &__menu {
                .nested__wrap {
                  h3 {
                  }

                  .nested__list {
                    li {
                      a {
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .header__actions {
        display: none;

        .header__logos {
          display: none;
        }

        .header__phone {
          display: none;
        }

        .header__feedback {
        }
      }

      .header__links {
        gap: 30px;

        a,
        button {
        }
      }
    }
  }

  .slider {
    position: relative;

    .slick-arrow {
    }

    .slick-prev {
      left: 20px;
    }

    .slick-next {
      right: 20px;
    }
  }

  .popular {
    margin-bottom: 60px;
    &__container {
      @include container;

      h2 {
        @include title3;
        margin-bottom: 30px;
      }

      .popular__slider {
        margin: 0 -10px;
        .slick-track {
        }

        .slide {
          gap: 15px;
          margin: 0 10px;
          .add-comparison {
            label {
              input {
              }
            }
          }

          .slider {
            img {
              height: 280px;
            }

            .slick-dots {
              li {
              }
            }
          }

          &__wrap {
            text-align: center;
            h3 {
            }

            p {
              font-size: 18px;
            }
          }

          &__info {
            padding: 5px 10px;
            gap: 15px;
            &-wrap {
              gap: 10px;
              img {
              }

              p {
              }
            }
          }

          .open-modal {
            @include base-button;
          }
        }

        .slick-prev {
          left: -7px;
        }

        .slick-next {
          right: -7px;
        }
      }
    }
  }

  .modal {
    &-object {
      max-width: 500px;
      width: unset;

      .modal-close {
      }

      .modal__container {
        padding: 20px;

        .slider {
          margin-bottom: 15px;

          .slide {
            img {
              max-height: 220px;
              height: unset;
            }
          }

          .slick-prev {
            left: 15px;
          }

          .slick-next {
            right: 15px;
          }
        }

        h3 {
          margin-bottom: 20px;
        }

        .modal__info {
          &-wrap {
            img {
            }

            p {
            }
          }
        }

        a {
        }
      }
    }
  }

  .also {
    margin: 60px 0;

    &__container {
      .also__info {
        h2 {
        }
      }

      .also__content {
        ul {
          li {
            a {
            }
          }
        }
      }
    }
  }

  .footer {
    &__container {
      grid-column-gap: 100px;
      grid-row-gap: 40px;
      h3 {
      }

      .nav {
        &__wrap {
          ul {
            li {
              a {
              }
            }
          }

          &:nth-child(1) {
            //   grid-row: span 2;
          }

          &:nth-child(2) {
            //   grid-row: span 2;
          }
        }
      }

      .contacts {
        &__wrap {
          a {
          }
        }

        &__email {
        }

        &__map {
        }

        &__link {
          p,
          a {
          }

          p {
          }
        }

        button {
        }

        &__links {
          a {
          }
        }
      }
    }
  }
}
