@media (max-width: 660px) {
  .similar {
    margin-bottom: 30px;

    &__container {
      .similar__info {
        margin-bottom: 18px;
        h2 {
          margin-bottom: 16px;
        }
      }

      .similar__cards {
        flex-direction: column;
        gap: 40px;

        .card {
          gap: 15px;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .header {
    &__container {
      padding: 14px 18px;
      gap: 20px;

      .header__logo {
        margin-right: auto;
      }
      .nav {
        width: unset;
        left: 0;
        right: 0;
        top: 82px;

        &__list {
          .list__item {
            a {
            }

            .nested {
              &__menu {
                .nested__wrap {
                  h3 {
                  }

                  .nested__list {
                    li {
                      a {
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .header__actions {
        display: none;

        .header__logos {
          display: none;
        }

        .header__phone {
          display: none;
        }

        .header__feedback {
        }
      }

      .header__links {
        gap: 15px;

        a,
        button {
        }
      }
    }
  }

  .slider {
    position: relative;

    .slick-arrow {
    }

    .slick-prev {
      left: 10px;
    }

    .slick-next {
      right: 10px;
    }
  }

  .modal {
    .modal-close {
    }

    .modal__container {
      padding: 20px;
    }

    &-object {
      max-width: unset;
      left: 30px;
      right: 30px;
      transform: translateY(-50%);
      .slider {
        .slide {
          img {
            max-height: 200px;
          }
        }

        .slick-prev {
        }

        .slick-next {
        }
      }

      h3 {
      }

      .modal__info {
        &-wrap {
          img {
          }

          p {
          }
        }
      }

      a {
      }
    }

    &-form {
      max-width: unset;
      left: 30px;
      right: 30px;
      transform: translateY(-50%);

      form {
        .form-table {
          width: 100%;
          .input {
          }

          .form__required {
            .checkbox {
            }

            p {
              a {
              }
            }
          }

          input[type='submit'] {
            width: 100%;
          }
        }

        tfoot {
          th {
          }
        }
      }
    }
  }

  .breadcrumbs {
    margin-top: 18px;
    margin-bottom: 18px;
    ol {
      gap: 4px;
      li {
        gap: 4px;

        a {
          font-size: 14px;
        }
      }
    }
  }

  .universal {
    margin-bottom: 30px;

    &__container {
      h1 {
        margin-bottom: 24px;
      }

      h2 {
        margin-bottom: 24px;
      }

      h3 {
        margin-bottom: 24px;
      }

      p {
        margin-bottom: 16px;
      }

      li {
      }

      a {
      }

      ul {
        margin-bottom: 16px;
      }
    }
  }

  .video {
    margin-bottom: 30px;

    &__container {
      h2 {
        margin-bottom: 18px;
      }

      p {
        font-size: 18px;
        margin-bottom: 18px;
      }

      .video {
        video {
        }

        button {
          span {
          }
        }
      }
    }
  }

  .popular {
    margin-bottom: 30px;
    &__container {
      .popular__header {
        margin-bottom: 18px;
      }

      .popular__slider {
        margin: 0 -10px;
        .slick-track {
        }

        .slide {
          gap: 15px;
          margin: 0 10px;
          .add-comparison {
            label {
              input {
              }
            }
          }

          .slider {
            img {
              height: 250px;
            }

            .slick-dots {
              li {
              }
            }
          }

          &__wrap {
            text-align: center;
            h3 {
            }

            p {
              font-size: 16px;
            }
          }

          &__info {
            padding: 5px 10px;
            gap: 15px;
            &-wrap {
              gap: 10px;
              img {
              }

              p {
                font-size: 16px;
              }
            }
          }

          .open-modal {
          }
        }

        .slick-prev {
          left: -7px;
        }

        .slick-next {
          right: -7px;
        }
      }
    }
  }

  .social {
    margin-bottom: 30px;

    &__container {
      .social__info {
        margin-bottom: 18px;
        h2 {
          margin-bottom: 16px;
        }
      }

      .social__content {
        .telegram {
          max-width: 300px;
          a {
          }

          &__header {
            img {
            }

            .telegram__name {
              h3 {
              }
            }
          }

          &__content {
            p {
            }

            button {
            }
          }
        }
      }
    }
  }

  .possibilities {
    padding-bottom: 0;
    margin-bottom: 30px;
    padding-top: 30px;
    &__container {
      .possibilities__info {
        margin-bottom: 18px;
        h2 {
          margin-bottom: 16px;
        }

        p {
        }
      }

      .possibilities__content {
        display: flex;
        flex-direction: column;

        .card {
          max-height: 350px;
          img {
          }

          h3 {
            margin-top: 30px;
          }

          p {
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  .contactForm {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .contactForm__info {
        margin-bottom: 0;
        display: contents;
        h2 {
          margin-bottom: 16px;
        }

        p {
        }

        .personal {
          order: 1;
          gap: 20px;

          img {
            min-width: 80px;
            width: 80px;
            height: 80px;
          }

          &__wrap {
            h4 {
              font-size: 16px;
            }

            h5 {
              font-size: 16px;
            }

            p,
            a {
              font-size: 14px;
            }
          }
        }
      }

      form {
        .form-table {
          width: 100%;
          .input {
          }

          .form__required {
            .checkbox {
            }

            p {
              a {
              }
            }
          }

          input[type='submit'] {
            width: 100%;
          }
        }

        tfoot {
          th {
          }
        }
      }
    }

    img {
      height: 250px;
    }
  }

  .reviews {
    margin-bottom: 30px;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .reviews__info {
        margin-bottom: 18px;
        h2 {
          margin-bottom: 16px;
        }

        p {
        }
      }

      .reviews__content {
        padding: 15px 20px;
        margin-bottom: 20px;
        .reviews__wrap {
          gap: 24px;
          // max-height: 600px;

          .card {
            padding: 0;
            padding-right: 20px;

            .card__header {
              flex-direction: column;
              gap: 10px;
              margin-bottom: 10px;

              a {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-size: 18px;
              }

              .raiting {
                &__wrap {
                  img {
                    width: 16px;
                    height: 16px;
                  }
                }

                span {
                  font-size: 16px;
                }
              }
            }

            p {
              margin: 0;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }

            &__gallery {
              display: none;
              img {
              }
            }

            &::after {
              display: none;
            }
          }
        }
      }

      .reviews__link {
      }
    }
  }

  .similar {
    margin-bottom: 30px;

    &__container {
      .similar__info {
        margin-bottom: 18px;
        h2 {
          margin-bottom: 16px;
        }
      }

      .similar__cards {
        flex-direction: column;
        gap: 40px;

        .card {
          gap: 15px;
          width: 100%;
          .add-comparison {
            label {
              input {
              }
            }
          }

          .slider {
            img {
              height: 250px;
            }

            .slick-dots {
              li {
              }
            }
          }

          &__wrap {
            text-align: center;
            h3 {
            }

            p {
              font-size: 16px;
            }
          }

          &__info {
            padding: 5px 10px;
            gap: 15px;
            &-wrap {
              gap: 10px;
              img {
              }

              p {
                font-size: 16px;
              }
            }
          }

          .open-modal {
          }
        }
      }
    }
  }

  .also {
    margin: 30px 0;

    &__container {
      .also__info {
        margin-bottom: 24px;
        h2 {
        }
      }

      .also__content {
        ul {
          gap: 10px;
          li {
            // min-width: calc(50% - 5px);
            min-width: 100%;
            a {
              text-align: center;
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .footer {
    &__container {
      grid-column-gap: 40px;
      grid-row-gap: 40px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 10px 0 50px 0;

      h3 {
      }

      .nav {
        display: flex;
        flex-direction: column;
        gap: 0;
        &__wrap {
          gap: 0;
          ul {
            height: 64px;
            overflow: hidden;
            border-bottom: 1px solid #535356;
            transition: height 0.3s ease-in-out;

            li {
              a {
                width: 100%;
              }

              &:first-child {
                display: flex;
                justify-content: space-between;
                align-items: center;
                a {
                  margin-bottom: 0;
                  padding: 23px 0;
                  width: unset;
                }

                svg {
                  display: block;
                }
              }

              &:last-child {
                margin-bottom: 23px;
              }
            }
          }
        }
      }

      .contacts {
        h3 {
          display: none;
        }
        &__wrap {
          a {
          }
        }

        &__email {
        }

        &__map {
        }

        &__link {
          p,
          a {
          }

          p {
          }
        }

        button {
          width: 100%;
        }

        &__links {
          justify-content: center;
          a {
          }
        }
      }
    }
  }
}
