@media (max-width: 1760px) {
  .header {
    margin-top: 42px;
    width: unset;
    &__container {
      gap: 16px;
      padding: 18px 24px;
      .nav {
        &__list {
          gap: 12px;

          .list__item {
            a {
            }

            .nested {
              &__menu {
                margin-top: 35px;
                .nested__wrap {
                  h3 {
                  }

                  .nested__list {
                    li {
                      a {
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .header__actions {
        gap: 14px;

        .header__logos {
          gap: 14px;
        }

        .header__phone {
        }

        .header__feedback {
        }
      }

      .header__links {
        gap: 12px;

        a,
        button {
        }
      }
    }
  }

  .breadcrumbs {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .also {
    margin: 60px 0;

    &__container {
      .also__info {
        h2 {
        }
      }

      .also__content {
        ul {
          li {
            a {
            }
          }
        }
      }
    }
  }

  .popular {
    margin-bottom: 60px;
    &__container {
      h2 {
        margin-bottom: 30px;
      }

      .popular__slider {
        .slick-track {
        }

        .slide {
          .add-comparison {
            label {
              input {
              }
            }
          }

          .slider {
            img {
              height: 300px;
            }

            .slick-dots {
              li {
              }
            }
          }

          &__wrap {
            h3 {
            }

            p {
              font-size: 18px;
            }
          }

          &__info {
            &-wrap {
              img {
              }

              p {
              }
            }
          }

          .open-modal {
            @include base-button;
          }
        }

        .slick-prev {
          left: -7px;
        }

        .slick-next {
          right: -7px;
        }
      }
    }
  }

  .social {
    margin-bottom: 60px;

    &__container {
      .social__info {
        h2 {
        }
      }

      .social__content {
        .telegram {
          a {
          }

          &__header {
            img {
            }

            .telegram__name {
              h3 {
              }
            }
          }

          &__content {
            p {
            }

            button {
            }
          }
        }
      }
    }
  }

  .possibilities {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;

    &__container {
      .possibilities__info {
        margin-bottom: 40px;

        h2 {
        }

        p {
          font-size: 18px;
        }
      }

      .possibilities__content {
        // grid-template-rows: repeat(3, 400px);
        .card {
          img {
          }

          h3 {
          }

          p {
            font-size: 18px;
          }

          &:first-child {
          }

          &:nth-child(4) {
          }

          &:nth-child(5) {
          }

          &:nth-child(6) {
          }

          &:nth-child(7) {
            &::before {
              display: none;
            }

            h3,
            p {
            }
          }
        }
      }
    }
  }

  .contactForm {
    padding-top: 60px;

    &__container {
      padding: 0;
      padding-bottom: 60px;

      .contactForm__info {
        gap: 24px;
        h2 {
        }

        p {
          font-size: 18px;
        }

        .personal {
          img {
          }

          &__wrap {
            h4 {
            }

            h5 {
              margin-bottom: 16px;
            }

            p,
            a {
              font-size: 16px;
            }
          }
        }
      }

      form {
        .form-table {
          .input {
          }

          .form__required {
            .checkbox {
            }

            p {
              a {
              }
            }
          }

          input[type='submit'] {
          }
        }

        tfoot {
          th {
          }
        }
      }
    }

    img {
      max-height: 600px;
    }
  }

  .reviews {
    margin-bottom: 60px;

    &__container {
      .reviews__info {
        margin-bottom: 40px;

        h2 {
        }

        p {
          font-size: 18px;
        }
      }

      .reviews__content {
        padding: 40px;
        .reviews__wrap {
          gap: 40px;
          max-height: 65vh;
          .card {
            padding-right: 40px;
            a {
            }

            p {
              font-size: 18px;
              margin-bottom: 24px;
            }

            &__gallery {
              img {
                width: 150px;
                height: 110px;
              }
            }

            .raiting {
              span {
              }
            }

            &::after {
            }
          }
        }
      }

      .reviews__link {
      }
    }
  }

  .similar {
    margin-bottom: 60px;

    &__container {
      @include container;

      .similar__info {
        margin-bottom: 30px;
      }

      .similar__cards {
        gap: 20px;

        .card {
          .add-comparison {
            label {
              input {
              }
            }
          }

          .slider {
            img {
              height: 300px;
            }

            .slick-dots {
              li {
              }
            }
          }

          &__wrap {
            h3 {
            }

            p {
              font-size: 18px;
            }
          }

          &__info {
            &-wrap {
              img {
              }

              p {
              }
            }
          }

          a {
          }
        }
      }
    }
  }

  .universal {
    margin-bottom: 60px;

    &__container {
      h1 {
        margin-bottom: 40px;
      }

      h2 {
        margin-bottom: 40px;
      }

      h3 {
        margin-bottom: 40px;
      }

      p {
        margin-bottom: 30px;
      }

      li {
      }

      a {
      }

      ul {
        margin-bottom: 30px;
      }
    }
  }

  .footer {
    &__container {
      h3 {
      }

      .nav {
        grid-column-gap: 150px;
        grid-row-gap: 40px;

        &__wrap {
          ul {
            li {
              a {
              }
            }
          }

          &:nth-child(1) {
            //   grid-row: span 2;
          }

          &:nth-child(2) {
            //   grid-row: span 2;
          }
        }
      }

      .contacts {
        &__wrap {
          a {
          }
        }

        &__email {
        }

        &__map {
        }

        &__link {
          p,
          a {
          }

          p {
          }
        }

        button {
        }

        &__links {
          a {
          }
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .header {
    &__container {
      .header__actions {
        .header__phone {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1360px) {
  .header {
    &__container {
      .nav {
        width: 400px;
        max-height: calc(100vh - 90px - 84px);
        overflow-y: auto;
        border-radius: 0 0 15px 15px;
        z-index: 1;
        position: absolute;
        top: 90px;
        right: 0;
        padding: 32px;
        background-color: $primary-background;
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: transform 0.3s ease-in-out;

        &__list {
          width: 100%;
          flex-direction: column;
          gap: 18px;
          align-items: start;

          .list__item {
            width: 100%;
            overflow: hidden;
            a {
              justify-content: space-between;
            }

            .nested {
              position: static;
              height: 0;
              opacity: 1;
              transform: none;
              transition: height 0.3s ease-in-out;

              &__menu {
                flex-direction: column;
                margin-top: 0;
                background-color: transparent;
                border-top: none;
                border-right: none;
                border-radius: 0 0 0 15px;
                padding: 20px;
                padding-bottom: 10px;
                display: flex;
                gap: 20px;
                .nested__wrap {
                  h3 {
                    margin-bottom: 6px;
                  }

                  .nested__list {
                    li {
                      a {
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .header__actions {
        gap: 22px;

        .header__logos {
          gap: 22px;
        }

        .header__phone {
        }

        .header__feedback {
        }
      }

      .header__links {
        gap: 22px;

        a,
        button {
        }
      }

      .header__burger {
        z-index: 10;
        display: block;
      }
    }
  }

  .popular {
    margin-bottom: 60px;
    &__container {
      h2 {
        margin-bottom: 40px;
      }

      .popular__slider {
        .slick-track {
        }

        .slide {
          .add-comparison {
            label {
              input {
              }
            }
          }

          .slider {
            img {
            }

            .slick-dots {
              li {
              }
            }
          }

          &__wrap {
            h3 {
            }

            p {
            }
          }

          &__info {
            &-wrap {
              img {
              }

              p {
              }
            }
          }

          .open-modal {
            @include base-button;
          }
        }

        .slick-prev {
          left: -7px;
        }

        .slick-next {
          right: -7px;
        }
      }
    }
  }

  .possibilities {
    &__container {
      .possibilities__info {
        h2 {
        }

        p {
        }
      }

      .possibilities__content {
        aspect-ratio: unset;

        .card {
          img {
          }

          h3 {
            margin-top: 50px;
            max-width: 250px;
          }

          p {
            margin-bottom: 50px;
            max-width: 250px;
          }

          &:first-child {
          }

          &:nth-child(4) {
          }

          &:nth-child(5) {
          }

          &:nth-child(6) {
          }

          &:nth-child(7) {
            &::before {
              display: none;
            }

            h3,
            p {
            }
          }
        }
      }
    }
  }

  .contactForm {
    padding-top: 60px;

    &__container {
      padding: 0;
      padding-bottom: 60px;

      .contactForm__info {
        h2 {
        }

        p {
        }

        .personal {
          img {
          }

          &__wrap {
            h4 {
            }

            h5 {
            }

            p,
            a {
            }
          }
        }
      }

      form {
        .form-table {
          .input {
          }

          .form__required {
            .checkbox {
            }

            p {
              a {
              }
            }
          }

          input[type='submit'] {
          }
        }

        tfoot {
          th {
          }
        }
      }
    }

    img {
    }
  }

  .reviews {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .reviews__info {
        h2 {
        }

        p {
        }
      }

      .reviews__content {
        .reviews__wrap {
          .card {
            a {
            }

            p {
            }

            &__gallery {
              img {
              }
            }

            .raiting {
              span {
              }
            }

            &::after {
            }
          }
        }
      }

      .reviews__link {
      }
    }
  }

  .similar {
    margin-bottom: 60px;

    &__container {
      @include container;

      .similar__info {
        margin-bottom: 30px;
      }

      .similar__cards {
        gap: 30px;

        .card {
          width: calc(50% - 16px);
        }
      }
    }
  }

  .modal {
    .modal-close {
    }

    .modal__container {
      padding: 30px;
    }

    h3 {
      margin-bottom: 30px;
    }

    &-object {
      max-width: 600px;

      .slider {
        margin-bottom: 25px;

        .slide {
          img {
            max-height: 250px;
          }
        }

        .slick-prev {
          left: 15px;
        }

        .slick-next {
          right: 15px;
        }
      }

      .modal__info {
        padding: 5px 10px;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        &-wrap {
          img {
          }

          p {
          }
        }
      }

      a {
      }
    }

    &-form {
      max-width: 600px;
    }
  }

  .footer {
    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 150px;
      grid-row-gap: 80px;
      h3 {
      }

      .nav {
        display: contents;
        &__wrap {
          ul {
            li {
              a {
              }
            }
          }
        }
      }

      .contacts {
        &__wrap {
          a {
          }
        }

        &__email {
        }

        &__map {
        }

        &__link {
          p,
          a {
          }

          p {
          }
        }

        button {
        }

        &__links {
          a {
          }
        }
      }
    }
  }
}
