@media (max-width: 1760px) {
  .header {
    margin-top: 42px;
    width: unset;
    &__container {
      gap: 16px;
      padding: 18px 24px;
      .nav {
        &__list {
          gap: 12px;

          .list__item {
            a {
            }

            .nested {
              &__menu {
                margin-top: 35px;
                .nested__wrap {
                  h3 {
                  }

                  .nested__list {
                    li {
                      a {
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .header__actions {
        gap: 14px;

        .header__logos {
          gap: 14px;
        }

        .header__phone {
        }

        .header__feedback {
        }
      }

      .header__links {
        gap: 12px;

        a,
        button {
        }
      }
    }
  }

  .breadcrumbs {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .also {
    margin: 60px 0;

    &__container {
      .also__info {
        h2 {
        }
      }

      .also__content {
        ul {
          li {
            a {
            }
          }
        }
      }
    }
  }

  .popular {
    margin-bottom: 60px;
    &__container {
      h2 {
        margin-bottom: 30px;
      }

      .popular__slider {
        .slick-track {
        }

        .slide {
          .add-comparison {
            label {
              input {
              }
            }
          }

          .slider {
            img {
              height: 300px;
            }

            .slick-dots {
              li {
              }
            }
          }

          &__wrap {
            h3 {
            }

            p {
              font-size: 18px;
            }
          }

          &__info {
            &-wrap {
              img {
              }

              p {
              }
            }
          }

          .open-modal {
            @include base-button;
          }
        }

        .slick-prev {
          left: -7px;
        }

        .slick-next {
          right: -7px;
        }
      }
    }
  }

  .universal {
    margin-bottom: 60px;

    &__container {
      h1 {
        margin-bottom: 40px;
      }

      h2 {
        margin-bottom: 40px;
      }

      h3 {
        margin-bottom: 40px;
      }

      p {
        margin-bottom: 30px;
      }

      li {
      }

      a {
      }

      ul {
        margin-bottom: 30px;
      }
    }
  }

  .footer {
    &__container {
      h3 {
      }

      .nav {
        grid-column-gap: 150px;
        grid-row-gap: 40px;

        &__wrap {
          ul {
            li {
              a {
              }
            }
          }

          &:nth-child(1) {
            //   grid-row: span 2;
          }

          &:nth-child(2) {
            //   grid-row: span 2;
          }
        }
      }

      .contacts {
        &__wrap {
          a {
          }
        }

        &__email {
        }

        &__map {
        }

        &__link {
          p,
          a {
          }

          p {
          }
        }

        button {
        }

        &__links {
          a {
          }
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .header {
    &__container {
      .header__actions {
        .header__phone {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1360px) {
  .header {
    &__container {
      .nav {
        width: 400px;
        max-height: calc(100vh - 90px - 84px);
        overflow-y: auto;
        border-radius: 0 0 15px 15px;
        z-index: 1;
        position: absolute;
        top: 90px;
        right: 0;
        padding: 32px;
        background-color: $primary-background;
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: transform 0.3s ease-in-out;

        &__list {
          width: 100%;
          flex-direction: column;
          gap: 18px;
          align-items: start;

          .list__item {
            width: 100%;
            overflow: hidden;
            a {
              justify-content: space-between;
            }

            .nested {
              position: static;
              height: 0;
              opacity: 1;
              transform: none;
              transition: height 0.3s ease-in-out;

              &__menu {
                flex-direction: column;
                margin-top: 0;
                background-color: transparent;
                border-top: none;
                border-right: none;
                border-radius: 0 0 0 15px;
                padding: 20px;
                padding-bottom: 10px;
                display: flex;
                gap: 20px;
                .nested__wrap {
                  h3 {
                    margin-bottom: 6px;
                  }

                  .nested__list {
                    li {
                      a {
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .header__actions {
        gap: 22px;

        .header__logos {
          gap: 22px;
        }

        .header__phone {
        }

        .header__feedback {
        }
      }

      .header__links {
        gap: 22px;

        a,
        button {
        }
      }

      .header__burger {
        z-index: 10;
        display: block;
      }
    }
  }
  .popular {
    margin-bottom: 60px;
    &__container {
      h2 {
        margin-bottom: 40px;
      }

      .popular__slider {
        .slick-track {
        }

        .slide {
          .add-comparison {
            label {
              input {
              }
            }
          }

          .slider {
            img {
            }

            .slick-dots {
              li {
              }
            }
          }

          &__wrap {
            h3 {
            }

            p {
            }
          }

          &__info {
            &-wrap {
              img {
              }

              p {
              }
            }
          }

          .open-modal {
            @include base-button;
          }
        }

        .slick-prev {
          left: -7px;
        }

        .slick-next {
          right: -7px;
        }
      }
    }
  }

  .modal {
    &-object {
      max-width: 600px;

      .modal-close {
      }

      .modal__container {
        padding: 30px;

        .slider {
          margin-bottom: 25px;

          .slide {
            img {
              max-height: 250px;
            }
          }

          .slick-prev {
            left: 15px;
          }

          .slick-next {
            right: 15px;
          }
        }

        h3 {
          margin-bottom: 30px;
        }

        .modal__info {
          padding: 5px 10px;
          grid-template-columns: repeat(3, 1fr);
          gap: 10px;

          &-wrap {
            img {
            }

            p {
            }
          }
        }

        a {
        }
      }
    }
  }

  .footer {
    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 150px;
      grid-row-gap: 80px;
      h3 {
      }

      .nav {
        display: contents;
        &__wrap {
          ul {
            li {
              a {
              }
            }
          }
        }
      }

      .contacts {
        &__wrap {
          a {
          }
        }

        &__email {
        }

        &__map {
        }

        &__link {
          p,
          a {
          }

          p {
          }
        }

        button {
        }

        &__links {
          a {
          }
        }
      }
    }
  }
}
