@media (max-width: 580px) {
  .header {
    &__container {
      padding: 28px 20px;
      gap: 25px;

      .header__logo {
        margin-right: auto;
      }
      .nav {
        width: unset;
        left: 0;
        right: 0;

        &__list {
          .list__item {
            a {
            }

            .nested {
              &__menu {
                .nested__wrap {
                  h3 {
                  }

                  .nested__list {
                    li {
                      a {
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .header__actions {
        display: none;

        .header__logos {
          display: none;
        }

        .header__phone {
          display: none;
        }

        .header__feedback {
        }
      }

      .header__links {
        gap: 20px;

        a,
        button {
        }
      }
    }
  }

  .slider {
    position: relative;

    .slick-arrow {
    }

    .slick-prev {
      left: 10px;
    }

    .slick-next {
      right: 10px;
    }
  }

  .footer {
    &__container {
      grid-column-gap: 40px;
      grid-row-gap: 40px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 10px 0 50px 0;

      h3 {
      }

      .nav {
        display: flex;
        flex-direction: column;
        gap: 0;
        &__wrap {
          gap: 0;
          ul {
            height: 64px;
            overflow: hidden;
            border-bottom: 1px solid #535356;
            transition: height 0.3s ease-in-out;

            li {
              a {
                width: 100%;
              }

              &:first-child {
                display: flex;
                justify-content: space-between;
                align-items: center;
                a {
                  margin-bottom: 0;
                  padding: 23px 0;
                  width: unset;
                }

                svg {
                  display: block;
                }
              }

              &:last-child {
                margin-bottom: 23px;
              }
            }
          }
        }
      }

      .contacts {
        h3 {
          display: none;
        }
        &__wrap {
          a {
          }
        }

        &__email {
        }

        &__map {
        }

        &__link {
          p,
          a {
          }

          p {
          }
        }

        button {
          width: 100%;
        }

        &__links {
          justify-content: center;
          a {
          }
        }
      }
    }
  }
}
