@media (max-width: 960px) {
  .header {
    &__container {
      gap: 75px;

      .header__logo {
        margin-right: auto;
      }
      .nav {
        &__list {
          .list__item {
            a {
            }

            .nested {
              &__menu {
                .nested__wrap {
                  h3 {
                  }

                  .nested__list {
                    li {
                      a {
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .header__actions {
        display: none;

        .header__logos {
          display: none;
        }

        .header__phone {
          display: none;
        }

        .header__feedback {
        }
      }

      .header__links {
        gap: 30px;

        a,
        button {
        }
      }
    }
  }

  .breadcrumbs {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .universal {
    margin-bottom: 40px;

    &__container {
      h1 {
        margin-bottom: 30px;
      }

      h2 {
        margin-bottom: 30px;
      }

      h3 {
        margin-bottom: 30px;
      }

      p {
        margin-bottom: 20px;
      }

      li {
      }

      a {
      }

      ul {
        margin-bottom: 20px;
      }
    }
  }

  .slider {
    position: relative;

    .slick-arrow {
    }

    .slick-prev {
      left: 20px;
    }

    .slick-next {
      right: 20px;
    }
  }

  .popular {
    margin-bottom: 40px;
    &__container {
      h2 {
        margin-bottom: 24px;
      }

      .popular__slider {
        margin: 0 -10px;
        .slick-track {
        }

        .slide {
          gap: 15px;
          margin: 0 10px;
          .add-comparison {
            label {
              input {
              }
            }
          }

          .slider {
            img {
              height: 280px;
            }

            .slick-dots {
              li {
              }
            }
          }

          &__wrap {
            text-align: center;
            h3 {
            }

            p {
              font-size: 16px;
            }
          }

          &__info {
            padding: 5px 10px;
            gap: 15px;
            &-wrap {
              gap: 10px;
              img {
              }

              p {
                font-size: 16px;
              }
            }
          }

          .open-modal {
            @include base-button;
          }
        }

        .slick-prev {
          left: -7px;
        }

        .slick-next {
          right: -7px;
        }
      }
    }
  }

  .social {
    margin-bottom: 40px;

    &__container {
      .social__info {
        margin-bottom: 30px;
        h2 {
        }
      }

      .social__content {
        .telegram {
          a {
          }

          &__header {
            img {
            }

            .telegram__name {
              h3 {
              }
            }
          }

          &__content {
            p {
            }

            button {
            }
          }
        }
      }
    }
  }

  .possibilities {
    padding: 30px 0;
    margin-bottom: 40px;
    &__container {
      .possibilities__info {
        margin-bottom: 30px;
        h2 {
        }

        p {
          font-size: 16px;
        }
      }

      .possibilities__content {
        aspect-ratio: unset;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 300px);
        // display: flex;
        // flex-direction: column;

        .card {
          aspect-ratio: unset !important;
          grid-column: unset !important;
          border-radius: unset !important;
          max-height: 480px;
          min-height: 250px;

          img {
          }

          h3 {
            max-width: unset;
            padding: 0 20px;
            margin-top: 40px;
          }

          p {
            max-width: unset;
            padding: 0 20px;
            margin-bottom: 40px;
            font-size: 16px;
          }

          &:first-child {
            order: 1;
          }

          &:nth-child(2) {
            order: 2;
          }

          &:nth-child(3) {
            order: 4;
            background-color: $base-background-body;
          }

          &:nth-child(4) {
            order: 5;
          }

          &:nth-child(5) {
            order: 3;
          }

          &:nth-child(6) {
            order: 6;
          }

          &:nth-child(7) {
            order: 7;
          }

          &:nth-child(8) {
            order: 8;
          }
        }
      }
    }
  }

  .contactForm {
    padding-top: 30px;

    &__container {
      padding: 0;
      padding-bottom: 40px;
      display: block;

      .contactForm__info {
        margin-bottom: 30px;
        h2 {
        }

        p {
          font-size: 16px;
        }

        .personal {
          img {
          }

          &__wrap {
            h4 {
            }

            h5 {
            }

            p,
            a {
            }
          }
        }
      }

      form {
        .form-table {
          width: 100%;
          .input {
          }

          .form__required {
            .checkbox {
            }

            p {
              font-size: 16px;
              a {
                font-size: 16px;
              }
            }
          }

          input[type='submit'] {
          }
        }

        tfoot {
          th {
          }
        }
      }
    }

    img {
    }
  }

  .reviews {
    margin-bottom: 40px;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .reviews__info {
        margin-bottom: 30px;
        h2 {
        }

        p {
          font-size: 16px;
        }
      }

      .reviews__content {
        padding: 30px;
        .reviews__wrap {
          .card {
            padding: 0;
            padding-right: 20px;

            .card__header {
              a {
                font-size: 20px;
              }
            }

            p {
              font-size: 16px;
            }

            &__gallery {
              img {
              }
            }

            .raiting {
              span {
              }
            }

            &::after {
              display: none;
            }
          }
        }
      }

      .reviews__link {
      }
    }
  }

  .similar {
    margin-bottom: 40px;

    &__container {
      .similar__info {
        margin-bottom: 30px;
      }

      .similar__cards {
        gap: 20px;

        .card {
          gap: 15px;
          width: calc(50% - 11px);

          .add-comparison {
            label {
              input {
              }
            }
          }

          .slider {
            img {
              height: 280px;
            }

            .slick-dots {
              li {
              }
            }
          }

          &__wrap {
            text-align: center;
            h3 {
            }

            p {
              font-size: 16px;
            }
          }

          &__info {
            padding: 5px 10px;
            gap: 15px;
            &-wrap {
              gap: 10px;
              img {
              }

              p {
                font-size: 16px;
              }
            }
          }

          .open-modal {
            @include base-button;
          }
        }
      }
    }
  }

  .modal {
    .modal-close {
    }

    .modal__container {
      padding: 20px;
    }

    h3 {
      margin-bottom: 20px;
    }

    &-object {
      max-width: 500px;
      width: unset;

      .slider {
        margin-bottom: 15px;

        .slide {
          img {
            max-height: 220px;
            height: unset;
          }
        }

        .slick-prev {
          left: 15px;
        }

        .slick-next {
          right: 15px;
        }
      }

      .modal__info {
        &-wrap {
          img {
          }

          p {
          }
        }
      }

      a {
      }
    }

    &-form {
      max-width: 500px;
      form {
        .form-table {
          width: 100%;
          .input {
          }

          .form__required {
            .checkbox {
            }

            p {
              font-size: 16px;
              a {
                font-size: 16px;
              }
            }
          }

          input[type='submit'] {
          }
        }

        tfoot {
          th {
          }
        }
      }
    }
  }

  .also {
    margin: 40px 0;

    &__container {
      .also__info {
        margin-bottom: 30px;
        h2 {
        }
      }

      .also__content {
        ul {
          li {
            a {
            }
          }
        }
      }
    }
  }

  .footer {
    &__container {
      grid-column-gap: 100px;
      grid-row-gap: 40px;
      h3 {
      }

      .nav {
        &__wrap {
          ul {
            li {
              a {
              }

              &:first-child {
                a {
                  font-size: 16px;
                }
              }
            }
          }

          &:nth-child(1) {
            //   grid-row: span 2;
          }

          &:nth-child(2) {
            //   grid-row: span 2;
          }
        }
      }

      .contacts {
        &__wrap {
          align-items: center;
          a {
            font-size: 16px;
          }
        }

        &__email {
        }

        &__map {
        }

        &__link {
          p,
          a {
            font-size: 16px;
          }

          p {
          }
        }

        button {
        }

        &__links {
          a {
          }
        }
      }
    }
  }
}
