@font-face {
  font-family: "Noah";
  src: local("Noah-Regular"), local("Noah Regular"), url("../../assets/fonts/Noah-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: local("Noah-Medium"), local("Noah Medium"), url("../../assets/fonts/Noah-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: local("Noah-Bold"), local("Noah Bold"), url("../../assets/fonts/Noah-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), local("Montserrat Medium"), url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: "Noah";
}

img {
  max-width: 100%;
}

ul {
  padding-left: 30px;
}
ul li {
  list-style: disc;
}

body {
  min-width: 320px;
  font-family: "Noah";
  background-color: #f8f8f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 16px 26px;
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.0509803922);
  color: #454545;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
  font-size: 18px;
  font-weight: 400;
}
input:hover {
  border-color: #000000;
}
input:focus-visible {
  border-color: rgba(0, 0, 0, 0.4);
  outline: 2px solid rgba(0, 0, 0, 0.4);
}
input:active {
  border-color: #000000;
}

textarea {
  width: 100%;
  padding: 16px 26px;
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.0509803922);
  color: #454545;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
  font-size: 18px;
  font-weight: 400;
}
textarea:hover {
  border-color: #000000;
}
textarea:focus-visible {
  border-color: rgba(0, 0, 0, 0.4);
  outline: 2px solid rgba(0, 0, 0, 0.4);
}
textarea:active {
  border-color: #000000;
}

.header {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  margin-top: 42px;
  border-radius: 15px;
  background-color: #ffffff;
}
@media (max-width: 1760px) {
  .header {
    margin: 0 80px;
  }
}
@media (max-width: 1360px) {
  .header {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .header {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .header {
    margin: 0 20px;
  }
}
.header__container {
  padding: 28px 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  position: relative;
}
.header__container .nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0;
}
.header__container .nav__list .list__item {
  list-style: none;
  position: relative;
}
.header__container .nav__list .list__item a {
  display: flex;
  align-items: center;
  gap: 7px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  color: #000101;
  transition: color 0.3s ease-in-out;
}
.header__container .nav__list .list__item a span {
  position: relative;
  text-wrap: nowrap;
}
.header__container .nav__list .list__item a span::after {
  position: absolute;
  content: "";
  top: 100%;
  width: 100%;
  left: 0;
  height: 2px;
  background-color: #000101;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.header__container .nav__list .list__item a svg {
  min-width: 20px;
  transition: transform 0.3s ease-in-out;
}
.header__container .nav__list .list__item a svg path {
  transition: fill 0.3s ease-in-out;
}
.header__container .nav__list .list__item a:hover {
  color: #b1a489;
}
.header__container .nav__list .list__item a:hover span::after {
  background-color: #b1a489;
}
.header__container .nav__list .list__item a:hover svg path {
  fill: #b1a489;
}
.header__container .nav__list .list__item .nested {
  z-index: 1;
  transform-origin: 0 0;
  opacity: 0;
  position: absolute;
  left: -50px;
  top: 20px;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.header__container .nav__list .list__item .nested__menu {
  margin-top: 45px;
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.0705882353);
  padding: 20px 50px;
  display: flex;
  gap: 36px;
  border-radius: 0 0 20px 20px;
}
.header__container .nav__list .list__item .nested__menu .nested__wrap {
  min-width: 225px;
}
.header__container .nav__list .list__item .nested__menu .nested__wrap h3 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 18px;
}
.header__container .nav__list .list__item .nested__menu .nested__wrap .nested__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
.header__container .nav__list .list__item .nested__menu .nested__wrap .nested__list li {
  list-style: none;
}
.header__container .nav__list .list__item .nested__menu .nested__wrap .nested__list li a {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
}
.header__container .nav__list .list__item .nested__menu .nested__wrap .nested__list li a::after {
  display: none;
}
.header__container .nav__list .list__item .nested__menu .nested__wrap .nested__list li a:hover {
  color: #b1a489;
}
.header__container .nav__list .list__item:hover a span::after {
  transform: scaleX(1);
}
.header__container .nav__list .list__item:hover a svg {
  transform: rotate(180deg);
}
.header__container .nav__list .list__item:hover .nested {
  opacity: 1;
  transform: scaleY(1);
}
.header__container .header__actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__container .header__actions .header__logos {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__container .header__actions .header__phone {
  font-size: 18px;
  font-weight: 500;
  color: #000101;
  text-wrap: nowrap;
  transition: color 0.3s ease-in-out;
}
.header__container .header__actions .header__phone:hover {
  color: #b1a489;
}
.header__container .header__actions .header__feedback {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
  padding: 14px 12px;
}
.header__container .header__actions .header__feedback:hover {
  background-color: #000101;
  border-color: #000101;
}
.header__container .header__actions .header__feedback:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
.header__container .header__links {
  display: flex;
  gap: 20px;
}
.header__container .header__links a,
.header__container .header__links button {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid transparent;
  border-radius: 50%;
  transition: border-color 0.3s ease-in-out;
}
.header__container .header__links a svg path,
.header__container .header__links button svg path {
  transition: fill 0.3s ease-in-out;
}
.header__container .header__links a:hover,
.header__container .header__links button:hover {
  border-color: #b1a489;
}
.header__container .header__links a:hover svg path,
.header__container .header__links button:hover svg path {
  fill: #b1a489;
}
.header__container .header__links a .link--active,
.header__container .header__links button .link--active {
  background-color: #b1a489;
  border: 3px solid transparent;
}
.header__container .header__links a .link--active svg path,
.header__container .header__links button .link--active svg path {
  fill: #b1a489;
}
.header__container .header__burger {
  background-color: #b1a489;
  border-radius: 10px;
  padding: 16px;
  width: 50px;
  height: 50px;
  display: none;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}
.header__container .header__burger span {
  position: absolute;
  left: 16px;
  right: 16px;
  height: 2px;
  border-radius: 2px;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.header__container .header__burger span:nth-child(1) {
  top: 16px;
}
.header__container .header__burger span:nth-child(2) {
  top: calc(50% - 1px);
}
.header__container .header__burger span:nth-child(3) {
  bottom: 16px;
}
.header__container .header__burger--active span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}
.header__container .header__burger--active span:nth-child(2) {
  transform: scaleX(0);
}
.header__container .header__burger--active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}
.header__container .header__burger:hover {
  background-color: #000101;
}

.slider {
  position: relative;
}
.slider .slick-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.slider .slick-prev {
  left: 35px;
}
.slider .slick-next {
  right: 35px;
}
.slider .slick-disabled {
  background-color: #b6b6b6;
  cursor: not-allowed;
}
.slider .slick-dots {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  display: flex;
  gap: 6px;
}
.slider .slick-dots .slick-active {
  background-color: #b1a489;
}
.slider .slick-dots li {
  cursor: pointer;
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.breadcrumbs {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (max-width: 1760px) {
  .breadcrumbs {
    margin: 0 80px;
  }
}
@media (max-width: 1360px) {
  .breadcrumbs {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .breadcrumbs {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .breadcrumbs {
    margin: 0 20px;
  }
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  list-style: none;
}
.breadcrumbs ol li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.breadcrumbs ol li a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
  color: #000101;
  color: #454545;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}
.breadcrumbs ol li a:hover {
  color: #b1a489;
}
.breadcrumbs ol li:not(:last-child)::after {
  content: "-";
}

.pagination ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 0;
}
.pagination ul li {
  list-style: none;
}
.pagination ul li a {
  color: #000101;
  font-size: 16px;
  font-weight: 500;
}
.pagination ul li .pagination--active {
  color: #b1a489;
}

.popular {
  margin-bottom: 100px;
}
.popular__container {
  max-width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1760px) {
  .popular__container {
    margin: 0 80px;
  }
}
@media (max-width: 1360px) {
  .popular__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .popular__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .popular__container {
    margin: 0 20px;
  }
}
.popular__container h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 50px;
}
.popular__container .popular__slider {
  margin: 0 -15px;
}
.popular__container .popular__slider .slick-track {
  margin: 0;
}
.popular__container .popular__slider .slide {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.popular__container .popular__slider .slide .add-comparison {
  border: none;
  padding: 0;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
}
.popular__container .popular__slider .slide .add-comparison label {
  cursor: pointer;
  width: 34px;
  height: 34px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
}
.popular__container .popular__slider .slide .add-comparison label input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.popular__container .popular__slider .slide .add-comparison input:checked ~ svg path {
  fill: #b1a489;
}
.popular__container .popular__slider .slide .add-comparison svg {
  cursor: pointer;
}
.popular__container .popular__slider .slide .add-comparison svg path {
  transition: fill 0.3s ease-in-out;
}
.popular__container .popular__slider .slide .add-comparison--active {
  background-color: #b1a489;
}
.popular__container .popular__slider .slide .add-comparison--active svg path {
  fill: #ffffff;
}
.popular__container .popular__slider .slide .slider img {
  height: 380px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.popular__container .popular__slider .slide .slider .slick-dots {
  left: 30px;
  right: 30px;
  transform: none;
  bottom: 12px;
}
.popular__container .popular__slider .slide .slider .slick-dots li {
  flex: 1;
  width: unset;
  min-width: 6px;
  height: 6px;
  border-radius: 3px;
}
.popular__container .popular__slider .slide__wrap {
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 20px;
}
.popular__container .popular__slider .slide__wrap h3 {
  font-size: 20px;
  font-weight: 700;
  color: #454545;
}
.popular__container .popular__slider .slide__wrap p {
  font-size: 20px;
  font-weight: 400;
  color: #454545;
}
.popular__container .popular__slider .slide__info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 15px 30px;
  border-radius: 15px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1098039216);
}
.popular__container .popular__slider .slide__info-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
.popular__container .popular__slider .slide__info-wrap img {
  width: unset;
  height: unset;
}
.popular__container .popular__slider .slide__info-wrap p {
  font-size: 16px;
  font-weight: 700;
  color: #454545;
}
.popular__container .popular__slider .slide .open-modal {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
}
.popular__container .popular__slider .slide .open-modal:hover {
  background-color: #000101;
  border-color: #000101;
}
.popular__container .popular__slider .slide .open-modal:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
.popular__container .popular__slider .slick-prev {
  left: -50px;
}
.popular__container .popular__slider .slick-next {
  right: -50px;
}
.popular__container .popular__slider .slick-arrow {
  background-color: #b1a489;
}
.popular__container .popular__slider .slick-arrow svg path {
  stroke: #ffffff;
}

.modal {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1098039216);
  border-radius: 15px;
}
.modal-object {
  width: 50vw;
  max-width: 1000px;
}
.modal-object .modal-close {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
  padding: 0;
  position: absolute;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: -30px;
  right: -30px;
}
.modal-object .modal-close:hover {
  background-color: #000101;
  border-color: #000101;
}
.modal-object .modal-close:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
.modal-object .modal__container {
  padding: 50px;
}
.modal-object .modal__container .slider {
  width: 100%;
  margin-bottom: 30px;
}
.modal-object .modal__container .slider .slide img {
  border-radius: 10px;
  width: 100%;
  height: 25vw;
  max-height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal-object .modal__container h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.modal-object .modal__container .modal__info {
  padding: 15px 30px;
  border-radius: 15px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1098039216);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.modal-object .modal__container .modal__info-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.modal-object .modal__container .modal__info-wrap img {
  width: unset;
  height: unset;
}
.modal-object .modal__container .modal__info-wrap p {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #454545;
}
.modal-object .modal__container a {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
}
.modal-object .modal__container a:hover {
  background-color: #000101;
  border-color: #000101;
}
.modal-object .modal__container a:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}

.overlay {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.also {
  margin: 70px 0 100px 0;
}
.also__container {
  max-width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1760px) {
  .also__container {
    margin: 0 80px;
  }
}
@media (max-width: 1360px) {
  .also__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .also__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .also__container {
    margin: 0 20px;
  }
}
.also__container .also__info {
  margin-bottom: 40px;
}
.also__container .also__info h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}
@media (max-width: 580px) {
  .also__container .also__info h2 {
    font-size: 38px;
  }
}
.also__container .also__content ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0;
}
.also__container .also__content ul li {
  list-style: none;
}
.also__container .also__content ul li a {
  padding: 10px 18px;
  background-color: #ffffff;
  color: #454545;
  font-size: 18px;
  line-height: 12px;
  font-weight: 500;
  border-radius: 50px;
  border: 1px solid rgba(0, 1, 1, 0.1098039216);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  text-wrap: nowrap;
  display: block;
}
.also__container .also__content ul li a:hover {
  background-color: #28282c;
  border-color: #28282c;
  color: #ffffff;
}

.universal {
  margin-bottom: 100px;
}
.universal__container {
  max-width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1760px) {
  .universal__container {
    margin: 0 80px;
  }
}
@media (max-width: 1360px) {
  .universal__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .universal__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .universal__container {
    margin: 0 20px;
  }
}
.universal__container h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 580px) {
  .universal__container h1 {
    font-size: 38px;
  }
}
.universal__container h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 30px;
}
.universal__container h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  font-size: 26px;
  margin-bottom: 30px;
}
.universal__container p {
  font-size: 20px;
  color: #454545;
  margin-bottom: 30px;
}
.universal__container li {
  font-size: 20px;
  color: #454545;
}
.universal__container a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
}
.universal__container a:hover {
  color: #b1a489;
}
.universal__container ul {
  margin-bottom: 30px;
}

.footer {
  margin-top: auto;
  border-radius: 15px 15px 0 0;
  background-color: #28282c;
}
.footer__container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 70px 0 50px 0;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 1760px) {
  .footer__container {
    margin: 0 80px;
  }
}
@media (max-width: 1360px) {
  .footer__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .footer__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .footer__container {
    margin: 0 20px;
  }
}
.footer__container h3 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 30px;
}
.footer__container .nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 200px;
  grid-column-gap: 40px;
}
.footer__container .nav__wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__container .nav__wrap ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
.footer__container .nav__wrap ul li {
  list-style: none;
}
.footer__container .nav__wrap ul li a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
  text-transform: lowercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}
.footer__container .nav__wrap ul li a:hover {
  color: #b1a489;
}
.footer__container .nav__wrap ul li svg {
  display: none;
  transition: transform 0.3s ease-in-out;
}
.footer__container .nav__wrap ul li:first-child a {
  text-transform: none;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
}
.footer__container .contacts__wrap {
  display: flex;
  gap: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.footer__container .contacts__wrap a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
  text-decoration: none;
}
.footer__container .contacts__wrap a:hover {
  color: #b1a489;
}
.footer__container .contacts__email {
  position: relative;
  padding-left: 50px;
}
.footer__container .contacts__email::before {
  position: absolute;
  top: 0;
  left: 0;
  content: url("../../assets/img/mail.svg");
}
.footer__container .contacts__map {
  position: relative;
  padding-left: 50px;
}
.footer__container .contacts__map::before {
  position: absolute;
  top: 0;
  left: 0;
  content: url("../../assets/img/location.svg");
}
.footer__container .contacts__link {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.footer__container .contacts__link p,
.footer__container .contacts__link a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
  line-height: 122%;
  letter-spacing: 0;
}
.footer__container .contacts__link p:hover,
.footer__container .contacts__link a:hover {
  color: #b1a489;
}
.footer__container .contacts__link p {
  text-decoration: none;
}
.footer__container .contacts__link p:hover {
  color: #ffffff;
}
.footer__container .contacts button {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.footer__container .contacts button:hover {
  background-color: #000101;
  border-color: #000101;
}
.footer__container .contacts button:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
.footer__container .contacts__links {
  display: flex;
  gap: 40px;
}
.footer__container .contacts__links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  background-color: #454545;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}
.footer__container .contacts__links a:hover {
  background-color: #000101;
}

@media (max-width: 1760px) {
  .header {
    margin-top: 42px;
    width: unset;
  }
  .header__container {
    gap: 18px;
    padding: 28px 24px;
  }
  .header__container .nav__list {
    gap: 14px;
  }
  .header__container .header__actions {
    gap: 14px;
  }
  .header__container .header__actions .header__logos {
    gap: 14px;
  }
  .header__container .header__links {
    gap: 12px;
  }
  .breadcrumbs {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .also {
    margin: 70px 0;
  }
  .footer__container .nav {
    grid-column-gap: 150px;
    grid-row-gap: 40px;
  }
}
@media (max-width: 1360px) {
  .header__container {
    padding: 28px 32px;
  }
  .header__container .nav {
    width: 400px;
    max-height: calc(100vh - 90px - 84px);
    overflow-y: auto;
    border-radius: 0 0 15px 15px;
    z-index: 1;
    position: absolute;
    top: 110px;
    right: 0;
    padding: 32px;
    background-color: #ffffff;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: transform 0.3s ease-in-out;
  }
  .header__container .nav__list {
    width: 100%;
    flex-direction: column;
    gap: 18px;
    align-items: start;
  }
  .header__container .nav__list .list__item {
    width: 100%;
    overflow: hidden;
  }
  .header__container .nav__list .list__item a {
    justify-content: space-between;
  }
  .header__container .nav__list .list__item .nested {
    position: static;
    height: 0;
    opacity: 1;
    transform: none;
    transition: height 0.3s ease-in-out;
  }
  .header__container .nav__list .list__item .nested__menu {
    flex-direction: column;
    margin-top: 0;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 15px;
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    gap: 20px;
  }
  .header__container .nav__list .list__item .nested__menu .nested__wrap h3 {
    margin-bottom: 6px;
  }
  .header__container .header__actions {
    gap: 22px;
  }
  .header__container .header__actions .header__logos {
    gap: 22px;
  }
  .header__container .header__links {
    gap: 22px;
  }
  .header__container .header__burger {
    z-index: 10;
    display: block;
  }
  .popular {
    margin-bottom: 70px;
  }
  .popular__container {
    max-width: 1600px;
    margin: 0 auto;
  }
}
@media (max-width: 1360px) and (max-width: 1760px) {
  .popular__container {
    margin: 0 80px;
  }
}
@media (max-width: 1360px) and (max-width: 1360px) {
  .popular__container {
    margin: 0 60px;
  }
}
@media (max-width: 1360px) and (max-width: 960px) {
  .popular__container {
    margin: 0 40px;
  }
}
@media (max-width: 1360px) and (max-width: 700px) {
  .popular__container {
    margin: 0 20px;
  }
}
@media (max-width: 1360px) {
  .popular__container h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 50px;
  }
  .popular__container .popular__slider .slide .open-modal {
    border-radius: 10px;
    padding: 14px 20px;
    background-color: #b1a489;
    border: 2px solid #b1a489;
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
    color: #ffffff;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    outline: none;
    text-transform: uppercase;
  }
  .popular__container .popular__slider .slide .open-modal:hover {
    background-color: #000101;
    border-color: #000101;
  }
  .popular__container .popular__slider .slide .open-modal:focus-visible {
    border-color: rgba(145, 134, 111, 0.4);
  }
  .popular__container .popular__slider .slick-prev {
    left: -7px;
  }
  .popular__container .popular__slider .slick-next {
    right: -7px;
  }
  .modal-object {
    max-width: 600px;
  }
  .modal-object .modal__container {
    padding: 30px;
  }
  .modal-object .modal__container .slider {
    margin-bottom: 25px;
  }
  .modal-object .modal__container .slider .slide img {
    max-height: 250px;
  }
  .modal-object .modal__container .slider .slick-prev {
    left: 15px;
  }
  .modal-object .modal__container .slider .slick-next {
    right: 15px;
  }
  .modal-object .modal__container h3 {
    margin-bottom: 30px;
  }
  .modal-object .modal__container .modal__info {
    padding: 5px 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 150px;
    grid-row-gap: 80px;
  }
  .footer__container .nav {
    display: contents;
  }
}
@media (max-width: 960px) {
  .header__container {
    gap: 75px;
  }
  .header__container .header__logo {
    margin-right: auto;
  }
  .header__container .header__actions {
    display: none;
  }
  .header__container .header__actions .header__logos {
    display: none;
  }
  .header__container .header__actions .header__phone {
    display: none;
  }
  .header__container .header__links {
    gap: 30px;
  }
  .slider {
    position: relative;
  }
  .slider .slick-prev {
    left: 20px;
  }
  .slider .slick-next {
    right: 20px;
  }
  .popular {
    margin-bottom: 60px;
  }
  .popular__container {
    max-width: 1600px;
    margin: 0 auto;
  }
}
@media (max-width: 960px) and (max-width: 1760px) {
  .popular__container {
    margin: 0 80px;
  }
}
@media (max-width: 960px) and (max-width: 1360px) {
  .popular__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) and (max-width: 960px) {
  .popular__container {
    margin: 0 40px;
  }
}
@media (max-width: 960px) and (max-width: 700px) {
  .popular__container {
    margin: 0 20px;
  }
}
@media (max-width: 960px) {
  .popular__container h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 30px;
  }
  .popular__container .popular__slider {
    margin: 0 -10px;
  }
  .popular__container .popular__slider .slide {
    gap: 15px;
    margin: 0 10px;
  }
  .popular__container .popular__slider .slide .slider img {
    height: 280px;
  }
  .popular__container .popular__slider .slide__wrap {
    text-align: center;
  }
  .popular__container .popular__slider .slide__wrap p {
    font-size: 18px;
  }
  .popular__container .popular__slider .slide__info {
    padding: 5px 10px;
    gap: 15px;
  }
  .popular__container .popular__slider .slide__info-wrap {
    gap: 10px;
  }
  .popular__container .popular__slider .slide .open-modal {
    border-radius: 10px;
    padding: 14px 20px;
    background-color: #b1a489;
    border: 2px solid #b1a489;
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
    color: #ffffff;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    outline: none;
    text-transform: uppercase;
  }
  .popular__container .popular__slider .slide .open-modal:hover {
    background-color: #000101;
    border-color: #000101;
  }
  .popular__container .popular__slider .slide .open-modal:focus-visible {
    border-color: rgba(145, 134, 111, 0.4);
  }
  .popular__container .popular__slider .slick-prev {
    left: -7px;
  }
  .popular__container .popular__slider .slick-next {
    right: -7px;
  }
  .modal-object {
    max-width: 500px;
    width: unset;
  }
  .modal-object .modal__container {
    padding: 20px;
  }
  .modal-object .modal__container .slider {
    margin-bottom: 15px;
  }
  .modal-object .modal__container .slider .slide img {
    max-height: 220px;
    height: unset;
  }
  .modal-object .modal__container .slider .slick-prev {
    left: 15px;
  }
  .modal-object .modal__container .slider .slick-next {
    right: 15px;
  }
  .modal-object .modal__container h3 {
    margin-bottom: 20px;
  }
  .also {
    margin: 60px 0;
  }
  .footer__container {
    grid-column-gap: 100px;
    grid-row-gap: 40px;
  }
}
@media (max-width: 580px) {
  .header__container {
    padding: 28px 20px;
    gap: 25px;
  }
  .header__container .header__logo {
    margin-right: auto;
  }
  .header__container .nav {
    width: unset;
    left: 0;
    right: 0;
  }
  .header__container .header__actions {
    display: none;
  }
  .header__container .header__actions .header__logos {
    display: none;
  }
  .header__container .header__actions .header__phone {
    display: none;
  }
  .header__container .header__links {
    gap: 20px;
  }
  .slider {
    position: relative;
  }
  .slider .slick-prev {
    left: 10px;
  }
  .slider .slick-next {
    right: 10px;
  }
  .modal-object {
    max-width: unset;
    left: 30px;
    right: 30px;
    transform: translateY(-50%);
  }
  .modal-object .modal__container {
    padding: 20px;
  }
  .modal-object .modal__container .slider .slide img {
    max-height: 200px;
  }
  .also {
    margin: 30px 0;
  }
  .also__container .also__info {
    margin-bottom: 30px;
  }
  .footer__container {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0 50px 0;
  }
  .footer__container .nav {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .footer__container .nav__wrap {
    gap: 0;
  }
  .footer__container .nav__wrap ul {
    height: 64px;
    overflow: hidden;
    border-bottom: 1px solid #535356;
    transition: height 0.3s ease-in-out;
  }
  .footer__container .nav__wrap ul li a {
    width: 100%;
  }
  .footer__container .nav__wrap ul li:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__container .nav__wrap ul li:first-child a {
    margin-bottom: 0;
    padding: 23px 0;
    width: unset;
  }
  .footer__container .nav__wrap ul li:first-child svg {
    display: block;
  }
  .footer__container .nav__wrap ul li:last-child {
    margin-bottom: 23px;
  }
  .footer__container .contacts h3 {
    display: none;
  }
  .footer__container .contacts button {
    width: 100%;
  }
  .footer__container .contacts__links {
    justify-content: center;
  }
}/*# sourceMappingURL=style-general.css.map */