@media (max-width: 960px) {
  .catalog {
    margin-bottom: 40px;

    &__container {
      h1 {
        margin-bottom: 24px;
      }

      .catalog__wrap {
        display: flex;
        gap: 40px;
        align-items: start;

        .catalog__filter {
          width: 400px;
          opacity: 0;
          transform: translateX(-100vw);
          position: fixed;
          z-index: 1000;
          top: 0;
          bottom: 0;
          left: 0;
          border-radius: 0;
          padding: 50px 20px 30px 40px;
          transition:
            opacity 0.3s ease-in-out,
            transform 0.3s ease-in-out;

          .filter-close {
            display: block;
          }

          form {
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            padding-right: 20px;
          }

          &--active {
            opacity: 1;
            transform: translateX(0);
          }
        }

        .catalog__content {
          width: 100%;
          .catalog__actions {
            .catalog__links {
              // margin-bottom: 20px;
            }
          }

          .catalog__tags {
            margin-bottom: 24px;
          }

          .filter-open {
            display: block;
          }

          .catalog__cards {
            // gap: 30px;
            margin-bottom: 30px;

            .card {
              .slider {
                img {
                  height: 240px;
                }

                .slick-dots {
                  li {
                  }
                }
              }

              &__wrap {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                h3 {
                  font-size: $font-size-text;
                  font-weight: $font-weight-bold;
                  color: $actions-text;
                }
              }

              &__info {
                display: flex;
                padding: 15px;
                gap: 20px;

                &-wrap {
                  gap: 5px;
                  img {
                    width: 30px;
                  }
                }
              }
            }

            .catalog__banner {
              padding: 30px;
              gap: 20px;
              flex-direction: column;
              align-items: start;
            }
          }
        }
      }
    }
  }

  .info {
    margin-bottom: 40px;

    &__container {
      h2 {
        margin-bottom: 24px;
      }

      p,
      ul {
        font-size: 16px;
      }

      ul {
      }
    }
  }
}
