@import '../_vars.scss';
@import '../_mixin.scss';

.catalog-technology {
  margin-bottom: 100px;

  &__container {
    @include container;

    h1 {
      @include title2;
      margin-bottom: 40px;
    }

    .catalog-technology__tabs {
      ul {
        display: flex;
        padding: 0;
        overflow-x: auto;

        li {
          list-style: none;

          a {
            @include base-button;
            text-wrap: nowrap;
            text-transform: none;
            display: block;
            border-radius: 0;
            padding: 25px 50px;
            color: $actions-text;
            background-color: $primary-background;
            border-width: 1px;
            border-color: #0001011c;

            &:hover {
              color: $button-text-primary;
            }
          }

          .filter--active {
            color: $button-text-primary;
            background-color: $button-background-primary;
            border-color: $button-background-primary;

            &:hover {
              background-color: $button-background-primary;
              border-color: $button-background-primary;
            }
          }

          &:first-child {
            a {
              border-top-left-radius: 15px;
            }
          }

          &:last-child {
            a {
              border-top-right-radius: 15px;
            }
          }
        }
      }
    }

    .catalog-technology__—Åontent {
      border-radius: 0 15px 15px 15px;
      background-color: $primary-background;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 70px;

      .catalog-technology__block {
        display: flex;
        flex-direction: column;
        gap: 60px;

        h2 {
          @include title2;
        }

        .catalog-technology__wrap {
          display: grid;
          grid-template-columns: 400px minmax(400px, 1500px);
          row-gap: 40px;
          column-gap: 20px;

          h3 {
            @include title3;
            text-transform: uppercase;
          }

          p {
            display: flex;
            align-items: end;
            font-size: $font-size-text;
            color: $actions-text;
          }

          &-imgs {
            grid-area: 2 / 1 / 3 / 3;
            display: flex;
            gap: 20px;

            img {
              width: 100%;
              max-height: 676px;
              object-fit: cover;
              border-radius: 12px;
            }
          }
        }
      }
    }
  }
}

.material {
  margin-bottom: 100px;
  background-color: $primary-background;

  &__container {
    @include container;
    padding: 50px;

    h3 {
      @include title2;
      text-transform: uppercase;
      margin-bottom: 40px;
      max-width: 1000px;
    }

    .material__wrap {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 40px;

      .material__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
        column-gap: 20px;
        // display: flex;
        // flex-direction: column;
        // gap: 20px;

        .card {
          display: flex;
          flex-direction: column;
          gap: 8px;
          padding-left: 50px;
          position: relative;

          h4,
          p {
            font-size: $font-size-text;
            line-height: 120%;
            color: $actions-text;
          }

          h4 {
            font-weight: $font-weight-medium;
            color: $primary-text;
          }

          p {
            text-transform: lowercase;
          }

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 24px;
            height: 28px;
            background-image: url('../../assets/img/material-list-decor.svg');
          }
        }
      }

      img {
        max-width: 450px;
        object-fit: cover;
      }
    }
  }
}

.possibilities {
  background-color: $primary-background;
}
