@media (max-width: 960px) {
  .catalog-technology {
    margin-bottom: 40px;

    &__container {
      h1 {
        margin-bottom: 24px;
      }

      .catalog-technology__tabs {
      }

      .catalog-technology__—Åontent {
        border-radius: 0 15px 15px 15px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 70px;

        .catalog-technology__block {
          display: flex;
          flex-direction: column;
          gap: 50px;

          h2 {
            @include title2;
          }

          .catalog-technology__wrap {
            display: grid;
            grid-template-columns: 200px minmax(300px, 1500px);
            row-gap: 30px;
            column-gap: 20px;

            h3 {
            }

            p {
              font-size: 16px;
            }

            &-imgs {
              img {
                max-height: 350px;
              }
            }
          }
        }
      }
    }
  }

  .material {
    margin-bottom: 40px;

    &__container {
      padding: 40px;

      h3 {
        margin-bottom: 24px;
      }

      .material__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .material__content {
          order: 2;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 15px;

          .card {
            padding-left: 40px;
            gap: 5px;

            h4,
            p {
              font-size: 16px;
            }
          }
        }

        img {
          object-fit: contain;
          height: 250px;
        }
      }
    }
  }
}
