@media (max-width: 580px) {
  .catalog {
    margin-bottom: 30px;

    &__container {
      h1 {
        margin-bottom: 18px;
      }

      .catalog__wrap {
        display: flex;
        gap: 40px;
        align-items: start;

        .catalog__filter {
          width: 100%;
          h2 {
          }

          h3 {
          }

          .form__wrap {
            // margin-bottom: 30px;

            &-grid {
            }
          }
        }

        .catalog__content {
          width: 100%;
          display: flex;
          flex-direction: column;
          .catalog__actions {
            display: contents;
            // gap: 20px;
            // flex-direction: column;
            .catalog__links {
              order: 1;
              ul {
                gap: 10px;
              }
              // margin-bottom: 20px;
            }

            .filter-list {
              order: 3;
              width: 100%;
              margin-bottom: 8px;
              button {
                width: 100%;
              }
            }
          }

          .catalog__tags {
            order: 2;
            margin-bottom: 18px;
          }

          .filter-open {
            order: 4;
          }

          .catalog__cards {
            // gap: 30px;
            order: 5;
            margin-bottom: 30px;

            .card {
              width: 100%;
              .slider {
                img {
                  height: 240px;
                }

                .slick-dots {
                  li {
                  }
                }
              }

              &__wrap {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                h3 {
                  font-size: $font-size-text;
                  font-weight: $font-weight-bold;
                  color: $actions-text;
                }
                p {
                  font-size: 16px;
                }
              }

              &__info {
                display: flex;
                padding: 15px;
                gap: 20px;

                &-wrap {
                  gap: 5px;
                  img {
                    width: 30px;
                  }
                  p {
                    font-size: 16px;
                  }
                }
              }
            }

            .catalog__banner {
              padding: 30px;
              gap: 20px;
              flex-direction: column;
              align-items: start;
            }
          }

          .pagination {
            order: 7;
          }
        }
      }
    }
  }

  .info {
    margin-bottom: 30px;

    &__container {
      h2 {
        margin-bottom: 18px;
      }

      p,
      ul {
        font-size: 16px;
      }

      ul {
      }
    }
  }
}
