@media (max-width: 1760px) {
  .catalog-technology {
    margin-bottom: 60px;

    &__container {
      h1 {
        margin-bottom: 30px;
      }

      .catalog-technology__tabs {
      }

      .catalog-technology__сontent {
        border-radius: 0 15px 15px 15px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 70px;

        .catalog-technology__block {
          display: flex;
          flex-direction: column;
          gap: 50px;

          h2 {
          }

          .catalog-technology__wrap {
            display: grid;
            grid-template-columns: 300px minmax(400px, 1500px);
            row-gap: 30px;
            column-gap: 20px;

            h3 {
            }

            p {
              font-size: 18px;
            }

            &-imgs {
              img {
                max-height: 500px;
              }
            }
          }
        }
      }
    }
  }

  .material {
    margin-bottom: 60px;

    &__container {
      padding: 60px 0;

      h3 {
        margin-bottom: 30px;
      }

      .material__wrap {
        gap: 30px;

        .material__content {
          gap: 15px;

          .card {
            padding-left: 40px;

            h4,
            p {
              font-size: 18px;
            }
          }
        }

        img {
          max-width: 400px;
        }
      }
    }
  }
}

@media (max-width: 1360px) {
  .catalog-technology {
    margin-bottom: 60px;

    &__container {
      h1 {
        margin-bottom: 30px;
      }

      .catalog-technology__tabs {
      }

      .catalog-technology__сontent {
        border-radius: 0 15px 15px 15px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 70px;

        .catalog-technology__block {
          display: flex;
          flex-direction: column;
          gap: 50px;

          h2 {
          }

          .catalog-technology__wrap {
            display: grid;
            grid-template-columns: 300px minmax(400px, 1500px);
            row-gap: 30px;
            column-gap: 20px;

            h3 {
            }

            p {
              font-size: 18px;
            }

            &-imgs {
              img {
                max-height: 460px;
              }
            }
          }
        }
      }
    }
  }

  .material {
    margin-bottom: 60px;

    &__container {
      padding: 60px 0;

      h3 {
        margin-bottom: 30px;
      }

      .material__wrap {
        align-items: start;
        gap: 30px;

        .material__content {
          grid-template-columns: repeat(2, 1fr);
          gap: 15px;

          .card {
            padding-left: 40px;

            h4,
            p {
              font-size: 18px;
            }
          }
        }

        img {
          max-width: 400px;
        }
      }
    }
  }
}
