@media (max-width: 580px) {
  .catalog-technology {
    margin-bottom: 30px;

    &__container {
      h1 {
        margin-bottom: 18px;
      }

      .catalog-technology__tabs {
        ul {
          li {
            a {
              padding: 16px 24px;
            }
          }
        }
      }

      .catalog-technology__—Åontent {
        border-radius: 0;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .catalog-technology__block {
          display: flex;
          flex-direction: column;
          gap: 18px;

          h2 {
            margin-bottom: 10;
          }

          .catalog-technology__wrap {
            display: flex;
            flex-direction: column;
            gap: 18px;

            h3 {
            }

            p {
              font-size: 14px;
            }

            &-imgs {
              display: flex;
              flex-direction: column;
              img {
                max-height: 200px;
                width: 100% !important;
              }
            }
          }
        }
      }
    }
  }

  .material {
    margin-bottom: 30px;

    &__container {
      padding: 20px;

      h3 {
        margin-bottom: 18px;
      }

      .material__wrap {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .material__content {
          order: 2;
          display: flex;
          flex-direction: column;
          gap: 15px;

          .card {
            padding-left: 40px;
            gap: 5px;

            h4,
            p {
              font-size: 16px;
            }
          }
        }

        img {
          height: unset;
          width: 100%;
        }
      }
    }
  }
}
