@charset "UTF-8";
@font-face {
  font-family: "Noah";
  src: local("Noah-Regular"), local("Noah Regular"), url("../../assets/fonts/Noah-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: local("Noah-Medium"), local("Noah Medium"), url("../../assets/fonts/Noah-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  src: local("Noah-Bold"), local("Noah Bold"), url("../../assets/fonts/Noah-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), local("Montserrat Medium"), url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
.catalog-technology {
  margin-bottom: 100px;
}
.catalog-technology__container {
  max-width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1760px) {
  .catalog-technology__container {
    margin: 0 100px;
  }
}
@media (max-width: 1360px) {
  .catalog-technology__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .catalog-technology__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .catalog-technology__container {
    margin: 0 20px;
  }
}
.catalog-technology__container h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}
@media (max-width: 1760px) {
  .catalog-technology__container h1 {
    font-size: 46px;
  }
}
@media (max-width: 1600px) {
  .catalog-technology__container h1 {
    font-size: 36px;
  }
}
@media (max-width: 1360px) {
  .catalog-technology__container h1 {
    font-size: 32px;
  }
}
@media (max-width: 960px) {
  .catalog-technology__container h1 {
    font-size: 26px;
  }
}
@media (max-width: 580px) {
  .catalog-technology__container h1 {
    font-size: 24px;
  }
}
.catalog-technology__container h1 {
  margin-bottom: 40px;
}
.catalog-technology__container .catalog-technology__tabs ul {
  display: flex;
  padding: 0;
  overflow-x: auto;
}
.catalog-technology__container .catalog-technology__tabs ul li {
  list-style: none;
}
.catalog-technology__container .catalog-technology__tabs ul li a {
  border-radius: 10px;
  padding: 14px 20px;
  background-color: #b1a489;
  border: 2px solid #b1a489;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  text-transform: uppercase;
}
.catalog-technology__container .catalog-technology__tabs ul li a:hover {
  background-color: #000101;
  border-color: #000101;
}
.catalog-technology__container .catalog-technology__tabs ul li a:focus-visible {
  border-color: rgba(145, 134, 111, 0.4);
}
@media (max-width: 960px) {
  .catalog-technology__container .catalog-technology__tabs ul li a {
    padding: 12px 16px;
    font-size: 16px;
  }
}
.catalog-technology__container .catalog-technology__tabs ul li a {
  text-wrap: nowrap;
  text-transform: none;
  display: block;
  border-radius: 0;
  padding: 25px 50px;
  color: #454545;
  background-color: #ffffff;
  border-width: 1px;
  border-color: rgba(0, 1, 1, 0.1098039216);
}
.catalog-technology__container .catalog-technology__tabs ul li a:hover {
  color: #ffffff;
}
.catalog-technology__container .catalog-technology__tabs ul li .filter--active {
  color: #ffffff;
  background-color: #b1a489;
  border-color: #b1a489;
}
.catalog-technology__container .catalog-technology__tabs ul li .filter--active:hover {
  background-color: #b1a489;
  border-color: #b1a489;
}
.catalog-technology__container .catalog-technology__tabs ul li:first-child a {
  border-top-left-radius: 15px;
}
.catalog-technology__container .catalog-technology__tabs ul li:last-child a {
  border-top-right-radius: 15px;
}
.catalog-technology__container .catalog-technology__сontent {
  border-radius: 0 15px 15px 15px;
  background-color: #ffffff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.catalog-technology__container .catalog-technology__сontent .catalog-technology__block {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.catalog-technology__container .catalog-technology__сontent .catalog-technology__block h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}
@media (max-width: 1760px) {
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block h2 {
    font-size: 46px;
  }
}
@media (max-width: 1600px) {
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block h2 {
    font-size: 36px;
  }
}
@media (max-width: 1360px) {
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block h2 {
    font-size: 32px;
  }
}
@media (max-width: 960px) {
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block h2 {
    font-size: 26px;
  }
}
@media (max-width: 580px) {
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block h2 {
    font-size: 24px;
  }
}
.catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap {
  display: grid;
  grid-template-columns: 400px minmax(400px, 1500px);
  row-gap: 40px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
}
@media (max-width: 1600px) {
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap h3 {
    font-size: 26px;
  }
}
@media (max-width: 960px) {
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap h3 {
    font-size: 22px;
  }
}
@media (max-width: 580px) {
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap h3 {
    font-size: 20px;
  }
}
.catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap h3 {
  text-transform: uppercase;
}
.catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap p {
  display: flex;
  align-items: end;
  font-size: 20px;
  color: #454545;
}
.catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap-imgs {
  grid-area: 2/1/3/3;
  display: flex;
  gap: 20px;
}
.catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap-imgs img {
  width: 100%;
  max-height: 676px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.material {
  margin-bottom: 100px;
  background-color: #ffffff;
}
.material__container {
  max-width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1760px) {
  .material__container {
    margin: 0 100px;
  }
}
@media (max-width: 1360px) {
  .material__container {
    margin: 0 60px;
  }
}
@media (max-width: 960px) {
  .material__container {
    margin: 0 40px;
  }
}
@media (max-width: 700px) {
  .material__container {
    margin: 0 20px;
  }
}
.material__container {
  padding: 50px;
}
.material__container h3 {
  font-size: 56px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}
@media (max-width: 1760px) {
  .material__container h3 {
    font-size: 46px;
  }
}
@media (max-width: 1600px) {
  .material__container h3 {
    font-size: 36px;
  }
}
@media (max-width: 1360px) {
  .material__container h3 {
    font-size: 32px;
  }
}
@media (max-width: 960px) {
  .material__container h3 {
    font-size: 26px;
  }
}
@media (max-width: 580px) {
  .material__container h3 {
    font-size: 24px;
  }
}
.material__container h3 {
  text-transform: uppercase;
  margin-bottom: 40px;
  max-width: 1000px;
}
.material__container .material__wrap {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 40px;
}
.material__container .material__wrap .material__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.material__container .material__wrap .material__content .card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 50px;
  position: relative;
}
.material__container .material__wrap .material__content .card h4,
.material__container .material__wrap .material__content .card p {
  font-size: 20px;
  line-height: 120%;
  color: #454545;
}
.material__container .material__wrap .material__content .card h4 {
  font-weight: 500;
  color: #000101;
}
.material__container .material__wrap .material__content .card p {
  text-transform: lowercase;
}
.material__container .material__wrap .material__content .card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 28px;
  background-image: url("../../assets/img/material-list-decor.svg");
}
.material__container .material__wrap img {
  max-width: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.possibilities {
  background-color: #ffffff;
}

@media (max-width: 1760px) {
  .catalog-technology {
    margin-bottom: 60px;
  }
  .catalog-technology__container h1 {
    margin-bottom: 30px;
  }
  .catalog-technology__container .catalog-technology__сontent {
    border-radius: 0 15px 15px 15px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap {
    display: grid;
    grid-template-columns: 300px minmax(400px, 1500px);
    row-gap: 30px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap p {
    font-size: 18px;
  }
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap-imgs img {
    max-height: 500px;
  }
  .material {
    margin-bottom: 60px;
  }
  .material__container {
    padding: 60px 0;
  }
  .material__container h3 {
    margin-bottom: 30px;
  }
  .material__container .material__wrap {
    gap: 30px;
  }
  .material__container .material__wrap .material__content {
    gap: 15px;
  }
  .material__container .material__wrap .material__content .card {
    padding-left: 40px;
  }
  .material__container .material__wrap .material__content .card h4,
  .material__container .material__wrap .material__content .card p {
    font-size: 18px;
  }
  .material__container .material__wrap img {
    max-width: 400px;
  }
}
@media (max-width: 1360px) {
  .catalog-technology {
    margin-bottom: 60px;
  }
  .catalog-technology__container h1 {
    margin-bottom: 30px;
  }
  .catalog-technology__container .catalog-technology__сontent {
    border-radius: 0 15px 15px 15px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap {
    display: grid;
    grid-template-columns: 300px minmax(400px, 1500px);
    row-gap: 30px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap p {
    font-size: 18px;
  }
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap-imgs img {
    max-height: 460px;
  }
  .material {
    margin-bottom: 60px;
  }
  .material__container {
    padding: 60px 0;
  }
  .material__container h3 {
    margin-bottom: 30px;
  }
  .material__container .material__wrap {
    align-items: start;
    gap: 30px;
  }
  .material__container .material__wrap .material__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .material__container .material__wrap .material__content .card {
    padding-left: 40px;
  }
  .material__container .material__wrap .material__content .card h4,
  .material__container .material__wrap .material__content .card p {
    font-size: 18px;
  }
  .material__container .material__wrap img {
    max-width: 400px;
  }
}
@media (max-width: 960px) {
  .catalog-technology {
    margin-bottom: 40px;
  }
  .catalog-technology__container h1 {
    margin-bottom: 24px;
  }
  .catalog-technology__container .catalog-technology__сontent {
    border-radius: 0 15px 15px 15px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block h2 {
    font-size: 56px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
  }
}
@media (max-width: 960px) and (max-width: 1760px) {
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block h2 {
    font-size: 46px;
  }
}
@media (max-width: 960px) and (max-width: 1600px) {
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block h2 {
    font-size: 36px;
  }
}
@media (max-width: 960px) and (max-width: 1360px) {
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block h2 {
    font-size: 32px;
  }
}
@media (max-width: 960px) and (max-width: 960px) {
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block h2 {
    font-size: 26px;
  }
}
@media (max-width: 960px) and (max-width: 580px) {
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block h2 {
    font-size: 24px;
  }
}
@media (max-width: 960px) {
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap {
    display: grid;
    grid-template-columns: 200px minmax(300px, 1500px);
    row-gap: 30px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap p {
    font-size: 16px;
  }
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap-imgs img {
    max-height: 350px;
  }
  .material {
    margin-bottom: 40px;
  }
  .material__container {
    padding: 40px;
  }
  .material__container h3 {
    margin-bottom: 24px;
  }
  .material__container .material__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .material__container .material__wrap .material__content {
    order: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .material__container .material__wrap .material__content .card {
    padding-left: 40px;
    gap: 5px;
  }
  .material__container .material__wrap .material__content .card h4,
  .material__container .material__wrap .material__content .card p {
    font-size: 16px;
  }
  .material__container .material__wrap img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 250px;
  }
}
@media (max-width: 580px) {
  .catalog-technology {
    margin-bottom: 30px;
  }
  .catalog-technology__container h1 {
    margin-bottom: 18px;
  }
  .catalog-technology__container .catalog-technology__tabs ul li a {
    padding: 16px 24px;
  }
  .catalog-technology__container .catalog-technology__сontent {
    border-radius: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block h2 {
    margin-bottom: 10;
  }
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap p {
    font-size: 14px;
  }
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap-imgs {
    display: flex;
    flex-direction: column;
  }
  .catalog-technology__container .catalog-technology__сontent .catalog-technology__block .catalog-technology__wrap-imgs img {
    max-height: 200px;
    width: 100% !important;
  }
  .material {
    margin-bottom: 30px;
  }
  .material__container {
    padding: 20px;
  }
  .material__container h3 {
    margin-bottom: 18px;
  }
  .material__container .material__wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .material__container .material__wrap .material__content {
    order: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .material__container .material__wrap .material__content .card {
    padding-left: 40px;
    gap: 5px;
  }
  .material__container .material__wrap .material__content .card h4,
  .material__container .material__wrap .material__content .card p {
    font-size: 16px;
  }
  .material__container .material__wrap img {
    height: unset;
    width: 100%;
  }
}/*# sourceMappingURL=style-catalog-technology.css.map */